[2017-02-19 12:04] nobicycle opened #1 "Unable to Submit a Review"
Hi,

My username is nobicycle on joomla.org. I would like to submit a review
for Breezing Forms Pro. Though my review appeared to be accepted, in
that it appeared as the latest review on the page, today I see it has
disappeared. I understand your system may consider reviews written in
the middle of Borneo as spam, but really it was a genuine review
following 3 months of usage. Please advise.

Best

[2017-03-01 12:33] aDaneInSpain opened #2 "After submitting a new extension a wrong link is displayed"
At the confirmation page.

http://i.imgur.com/5mlyipl.png

Clicking the URL "Continue to CC Login" does not work it shows this page:

https://extensions.joomla.org/index.php?option=com_jed&view=extension&id=12979&Itemid=145

[2017-03-04 23:39] Sandra97 opened #3 "Error when selecting a number of extensions to display"
When clicking on any number of extensions to display, you're redirected to a page mentioning "No extensions found":

![a](https://cloud.githubusercontent.com/assets/4682328/23583136/0ea4f51a-0112-11e7-9d30-d0a1144047b5.png)

![index](https://cloud.githubusercontent.com/assets/4682328/23583137/0ea50618-0112-11e7-890f-9e3dde65bb06.png)

[2017-03-20 10:12] asika32764 opened #4 "Unable to see review feedback of my new list"
In the past, when I submit new list and get some error, the warning message will show on top of extension edit page, but currently JED cannot show any message (like the image I attached), so I wait for one month and do not know what to do.

![](http://i.imgur.com/XE4e5fl.jpg)

[2017-03-31 10:30] AlexRed opened #5 "search results issue for "Install From Web""
from about 9 March 2017 is not possible to use the "**Install From Web**", message:

![install-issue](https://cloud.githubusercontent.com/assets/1362388/24546904/3579825c-1605-11e7-81b6-c72da46ba317.png)

Some day some category work, like: Extensions / Administration

Issue from: https://github.com/joomla-extensions/install-from-web-client/issues/42

[2017-03-31 17:43] jeckodevelopment commented on #5
According to the last Board Meeting report the IFW feature will be in offline mode soon.

Proposed by Michael Babker, seconded by Rowan Hoskyns-Abrahall
_The motion passed with unanimous consent._

https://volunteers.joomla.org/board-of-directors/reports/480-osm-inc-full-board-meeting-march-30-2017

[2017-03-31 18:00] mbabker commented on #5
It still needs to be fixed.  The entire reason for that vote was to get consensus on putting it offline due to being busted.  If it's working, we can leave it up.

[2017-04-04 07:04] beat commented on #5
I second @mbabker : Install from Web is a major feature for Joomla, and any major issues, including the JED part need imho really to be fixed asap, and in all cases in time for Joomla 3.7.

[2017-04-06 01:34] mbabker commented on #5
This is an issue at the install from web server, not the JED.  I grabbed the URL the install from web server is querying for categories from https://github.com/joomla-extensions/install-from-web-server/blob/master/components/com_apps/models/category.php (assuming this repo actually has current code in it) and sent a request to https://extensions.joomla.org/index.php?option=com_jed&controller=filte

[2017-04-06 07:51] jeckodevelopment commented on #5
@JazParkyn / @anibalsanchez

[2017-04-07 08:34] AlexRed commented on #5
No one answers to mbabker :(
I think we can ask to Brad to add a new admin access on the install from web server and send it to mbabker

[2017-04-07 08:54] anibalsanchez commented on #5
I have no idea how IFW works. I have to check com_jed to review what's happened or what changed in the server.

[2017-04-07 08:57] anibalsanchez commented on #5
If you want to dig into com_jed, please, join us here: [Contributing Code to the JED](https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-jed/)

[2017-04-07 09:24] anibalsanchez commented on #5
Checking IFW.. it is calling https://appscdn.joomla.org/webapps (198.232.127.98)

- Example: https://appscdn.joomla.org/webapps/index.php?format=json&option=com_apps&view=dashboard&id=139&filter_search=notifications&product=Sm9vbWxhIQ==&release=My43&dev_level=MC1iZXRhNA==&list=grid&pv=MS4xLjA=&callback=jedapps_jsonpcallback

This server is not JED main site extensions.joomla.org (72.29.124.148).

[2017-04-07 12:27] mbabker commented on #5
The component in use can be found at https://github.com/joomla-extensions/install-from-web-server/tree/master/components/com_apps

The category and dashboard models look to be building a query to the same JED URLs.  With the dashboard model, https://github.com/joomla-extensions/install-from-web-server/blob/master/components/com_apps/models/dashboard.php#L223 is flooding the server's `error_log` fi

[2017-04-07 12:33] beat commented on #5
To understand what's goign on and debug com_jed, it's easy: Just checkout the git repository into a web subfolder, install the joomla, auto-discover the component, then change the URL in your joomla install-from-web plugin to point to your local com_apps install instead of the server one.

My free time today and this week-end is very limited, hopefully will have more next week, sorry.

[2017-04-07 12:39] beat commented on #5
install-from-web server (com_apps) has not changed in months/years, so the breaking change is not in com_apps, but most probably in the JSON side of JED.

Does JED team have a documentation of the recent changes in the JSON ?

[2017-04-07 12:42] anibalsanchez commented on #5
Hi,

We haven't changed this. I guess it was developed in that way when it was created.

If the IFW server was upgraded recently, it could have had this side-effect...

[2017-04-07 12:53] mbabker commented on #5
Sigh.

I'll fix it myself.

[2017-04-07 12:56] beat commented on #5
IFW server was not upgraded recently (appart regular Joomla security upgrades), so it's really strange. Only way to fix is hands-on, installing com_apps, pointing the install-from-web plugin to it, and starting the debug fun. Who knows, if nobody from install-from-web team jumps in, might find some time begin this week-end or of next week.

[2017-04-07 13:01] anibalsanchez commented on #5
Let me know if you need any change in com_jed.

If we need to change the content-type header, we have to check what it's going to be affected (there are angular apps and other Ajax calls that could be affected)

[2017-04-07 13:06] mbabker commented on #5
Well, there's no NEED to change it (most sources act based on the response data, really only browsers or systems with strict checks behave differently based on that header), but it is definitely incorrect that a JSON payload returns a `Content-Type: text/html` header.

[2017-04-07 14:13] anibalsanchez commented on #5
Yes, of course, it is wrong. No doubt on that. ... And, we could fill several pages about wrongs. 😁

[2017-04-08 11:47] asika32764 commented on #4
Hello? It's about 3 weeks without response in JED tickets, and my extension still pending without any information so I don't know what should I do .

Can anyone tell me how to resolve this problem?

[2017-04-08 16:42] JazParkyn commented on #4
What is the name of your extension? I'll take a look. There are currently 14 extensions awaiting processing.

[2017-04-08 16:46] asika32764 commented on #4
My extension is **Ezset** in https://extensions.joomla.org/extensions/extension/administration/ezset/

Thank you very much. I just hope to know why I didn't receive the review feedback.

[2017-04-08 16:58] JazParkyn commented on #4
It got held as pending because the third party libraries that you've used don't pass the JED Checker. I have now checked it manually and have published it for you.

[2017-04-08 16:58] #4 closed

[2017-04-09 03:13] asika32764 commented on #4
Thank you.

I'm wonder that is it useful to check the `My extension includes external libraries.` checkbox?

![p-2017-04-09-002](https://cloud.githubusercontent.com/assets/1639206/24834368/8e9774a4-1d15-11e7-857c-0d2071190456.jpg)

I checked it before submit extension but it seems not work, no one try to manually check the 3rd party library.

[2017-04-09 03:27] asika32764 opened #6 "Repeated list items"
Extension list in JED category will repeat multiple times.

https://extensions.joomla.org/tags/administration/

![p-2017-04-09-003](https://cloud.githubusercontent.com/assets/1639206/24834436/7eea6b54-1d17-11e7-9a13-9ddf31ccebe1.jpg)

[2017-04-09 21:41] JazParkyn commented on #4
Yes, the checkbox indicates to the JED team that your extension includes third party libraries, and because of this may need to be looked at manually if it doesn't pass the JED Checker.

[2017-04-09 21:44] JazParkyn commented on #6
I have not been able to replicate this by visiting the URL that you supplied. Does the page still display duplicates for you?

[2017-04-09 21:46] JazParkyn commented on #3
I have just tested this and when changing the number of extensions to display, the page reloads correctly.

Can you supply the full URL of the page that you experienced this issue on please?

[2017-04-09 21:49] JazParkyn commented on #1
Hi,

Please open a support ticket on JED so that the issue can be looked into by the Review Manager. Include the title and date of your review.

Regards

[2017-04-09 21:49] #1 closed

[2017-04-09 22:28] Sandra97 commented on #3
An example: https://extensions.joomla.org/extensions/extension/contacts-and-feedback/forms/breezing-forms/
If I choose 10, I have the "no extensions found" issue

[2017-04-10 02:31] asika32764 commented on #6
OK, it fixed. Maybe someone adjusting site as that time.

[2017-04-10 02:31] #6 closed

[2017-04-10 02:34] asika32764 commented on #4
OK, another question, if my list has not passed the review, JED will show any information on list page? or it will send me a notice mail? I's weird that I always didn't receive any notice about my list so I just waiting forever...

[2017-04-10 03:51] nobicycle opened #7 "Unable To Launch Review Editing"
Hi,
The issue below, |Unable to Submit Review" was closed by admin,
https://github.com/joomla/jed-issues/issues/1#issuecomment-292815987
who asked me to submit a support ticket to JED.

Just before doing so I thought I would test if the problem was still there. I tried to open the "Write a Review Page and got into a loop, as illustrated by the screenshot:

![screenshot_2017-04-10_11-44-33](https:/

[2017-04-15 17:43] AlexRed commented on #5
Hello to all,
any news about to fix the IFW server ?  Do you find the login credentials?

[2017-04-16 18:30] mbabker commented on #5
I looked yesterday, I could not reproduce any issues after cloning com_apps into the current CMS staging build.  I did find one case where a live 3.6.5 site pulling from the live IFW server was returning no result while the uncached local 3.7 install was working OK and after spending about 2 minutes looking at the model code I came to realize that the server is caching too much data (the full `JHt

[2017-04-17 04:47] AlexRed commented on #5
And if the problem is from the update to Joomla 3.6.3 for the IFW server?
In version 3.6.3, the Joomla core started to report more errors if the data is stored incorrectly. Now if the JSON syntax is broken, the error is triggered, before 3.6.3 no.
Maybe some extensions have issue in the data, within its own parameters data sheet in the database.
{""} need to be now {\"\"}

This would explain why s

[2017-04-17 11:04] mbabker commented on #5
It has nothing to do with broken JSON.

[2017-04-22 14:03] Radek-Suski opened #8 "[JED] Reviews disappearing"
Hi,

several weeks ago I got a notification about new review at JED. I checked it few hours later and couldn't see any new review. I thought it was some kind of false notification and ignored it.
Yesterday I got another notification and checked it almost immediately; the review was there. But several hours later my wife wanted to see it too and it wasn't there anymore.
Could anybody check it pleas

[2017-05-03 20:55] royhaanen commented on #8
Hi,

I have similar issues. For my extension ampz (https://extensions.joomla.org/extension/ampz/) I received an email about a new review on April 28th. Similar to Radek I didn't see a new review, but the count was increased with 1 (so it has counted somehow). Today I received another email and now the review got through, but the count is not increased...

Please check and advise.

Thank you.

Best

[2017-05-05 08:06] JazParkyn commented on #8
The JED has experienced huge volumes of SPAM reviews and we have taken measures to reduce this. Sadly the implementation we currently have with means that all reviews are published initially which triggers the email to let you know you have a review. Then a batch process runs which checks the new reviews and makes decisions about whether they should remain published or be removed. Unfortunately th

[2017-05-05 14:35] royroosterz commented on #8
Hi Jaz,

Thank you for the reply. I am glad you are taking SPAM so serious since it is affecting us all. At the moment the SPAM filter is working a bit too good though ;-).

I will open a ticket since I am sure some reviews are legitimate reviews.

By the way...can I offer the JED to use AMPZ as social sharing extension (https://www.roosterz.nl/joomla-extensions/ampz)?

Thanks again and have a gre

[2017-05-23 13:13] uglyeoin opened #9 "Cannot change my email address"
Hi there, I don't seem to be able to change my email address on JED.  Username seems locked as my old email address, which I can handle, but I would like to change any updates to go to a new email address.

[2017-06-09 09:39] anibalsanchez opened #10 "JEDCA is not longer available"
Hi,

Writing the notes from JAB17, JEDCA is not longer available. Something about a Javascript snippet that it is not on the page.

https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-jed/

[2017-06-09 09:44] anibalsanchez commented on #9
Hi,

I've tested the case, but I've been unable to reproduce it.

Please, test the case again and send us the detailed steps to reproduce on a new issue.

Thank you!

[2017-06-09 09:44] #9 closed

[2017-06-09 09:52] anibalsanchez commented on #8
Hi,

Concerning to the "disappearing" reviews:

- There is a batch process that validates reviews
- This process is executed asynchronously
- The result of the validation can unpublish a review
- Reviews are always published immediately after a user submits them, but it can be unpublished after a random period of time. (_Yes, it is done in this way on purpose... otherwise it would be easy to confi

[2017-06-09 10:01] anibalsanchez opened #11 "SEO - Backlash / for Extensions"
Implement the last improvement to the router. Backlash / for Extensions.

[2017-06-09 10:05] anibalsanchez commented on #5
Hi @AlexRed

IFW seems to be working fine now. I'm closing the issue.

Please, let us know if the issue remains and how to reproduce it.

[2017-06-09 10:05] #5 closed

[2017-06-09 10:06] anibalsanchez opened #12 "Detective process implementation"

[2017-06-16 16:55] jeckodevelopment commented on #10
trying to find the solution to that.

[2017-06-16 17:55] anibalsanchez commented on #11
Implemented!

[2017-06-16 17:55] #11 closed

[2017-06-17 09:36] anibalsanchez commented on #10
JEDCA is back! https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-jed/

I've restored locally a backup from the previous month, and found the script there.

Now, it's in a custom module, so we are not going to lost it again when the article is modified.

[2017-06-17 09:36] #10 closed

[2017-07-05 21:55] corywebb opened #13 "Logo not saving to listing"
I have added a new listing, and the logo isn't saving. I have tried editing the listing to re-add the logo, but nothing seems to be working.

Steps to reproduce:

1. Create a listing.
2. Fill out all of the required fields.
3. Add a logo image.
4. Save.

[2017-07-05 22:03] corywebb commented on #13
It appears that there is something wrong with the system that is causing it to corrupt the image on upload. I tried using different images, and I get the same result.

[2017-07-06 11:49] darphi opened #14 "Report function always throws error."
In the extensions section, I click on the Report button and get the following error:

Could not load form com_jed.extension.

[2017-07-07 16:13] acs-ferreira opened #15 "Could not load form com_jed.extension"
After try tu report an extension, i get:

[2017-07-07 16:13] #15 closed

[2017-07-07 16:13] acs-ferreira commented on #14
Same here.

[2017-07-08 11:48] sanderpotjer commented on #14
Also for the password reset steps, like https://extensions.joomla.org/component/users/?view=login&Itemid=133 (if the &Itemid=133 is removed from the url, the process works).

[2017-07-08 21:03] anibalsanchez commented on #14
After the upgrade to Joomla 3.7.2, some links with no Itemid are wrongly redirected to the home page.

To fix them, we are checking each one of them to assign an Itemid.

[2017-07-09 08:52] anibalsanchez commented on #14
For the record, Joomla 3.7.2 changed how the links with no Itemid behave... com_jed router doesn't  like to receive links with no Itemid.... so we have to review all links to assign the right Itemid.

In the case of JED login and registration, it's created with a custom registration in com_jed ... and the core stuff. To fix it, I have customised several modules and overrides, mainly with the idea

[2017-07-09 20:53] PhocaCz opened #16 "No image displayed after editing the listing"
Hi,

when I upload an image to JED listing, such is displayed in edit mode, stored but not displayed in frontend, see image:

![http://i.imgur.com/QLmZQFA.png](http://i.imgur.com/QLmZQFA.png)

When I save the listing, no image is displayed
When I resave it, the image changes the name to some internal string but also not displayed
Sometimes it displays the raw string (missing image) in main page

S

[2017-07-09 20:54] PhocaCz commented on #13
Hi, I can confirm, I have the same/similar problem:

https://github.com/joomla/jed-issues/issues/16

[2017-07-11 07:35] vietvh commented on #16
We have exactly the same issue while changing logo for one of our extensions

[2017-07-11 12:32] rs-123 commented on #14
Hi,

When I`m trying to report:

" An error has occurred while processing your request. It happens to the best of us!

Don't worry! There are no bugs without a fix!

If difficulties persist, please contact the System Administrator of this site and report the error below.

Could not load form com_jed.extension "

[2017-07-14 09:15] jomres commented on #14
I get the same thing, tried to report a malicious review and boom. Fails in both FF and Chrome.

[2017-07-14 09:48] anibalsanchez commented on #14
Hi,

Yesterday, we solved a critical server issue and now we are returning to the fix these remaining issues that were introduced in the update.

Regards,

[2017-07-14 10:40] joomlaphp opened #17 "Extensions Report form submission error"
Extension reporting error on extensions.joomla.org page

Error page alert after clicking submit button
`0 Could not load form com_jed_extension`

![extensions-page-report-problem](https://user-images.githubusercontent.com/423588/28209108-c06496cc-6899-11e7-8240-4c6a40eece59.png)

Thank you, Ugur

[2017-07-18 03:34] nikosdion commented on #13
Same here. Right now Akeeba Backup has no logo because the uploaded doesn't work with any image.

[2017-07-18 06:58] weeblr commented on #8
Hi all,

I have see this behavior happening to one of my extensions just recently: received 2 emails in a row, went immediately to JED and reviews were not there. I understand the SPAM filtering has to be there, but basedon user mentionning iton our support, I'm pretty sure at least one of them was not spam (I can't be sure 100% they did post the review, but they sounded like they were doing it).

[2017-07-18 07:08] PhocaCz commented on #13
Hi Nicholas,
the same happens with the images of the listing.

[2017-07-18 07:18] Radek-Suski commented on #8
I agree. The review I saw (that was removed later) was a genuine review with nothing suspicious in it. Yet it was later removed

[2017-07-19 06:42] nikosdion commented on #13
@PhocaCz I think the problem has to do with the image upload / resize they are using.Or the CDN integration. I'd have no problem if they allowed us to submit a URL with the cover photo of the extension. At this point it's more damaging to us not having any cover photo / listing images than paying for a CDN to host these images out of our own pocket.

[2017-07-19 13:57] anibalsanchez commented on #16
Hi,

The issue has already been reported before. It's related to an issue in the image cache.

Please, follow the previous issue here: https://github.com/joomla/jed-issues/issues/13

Closing this issue as duplicate.

Thanks for reporting!

[2017-07-19 13:57] #16 closed

[2017-07-19 14:00] anibalsanchez commented on #13
Hi,

JED has a tmpfs as image cache that reached 100%. It was cleared (as it was done several times in the past) but the drive is still reporting to be full.

I'm looking into the issue and updating the ticket as soon as I have news.

Thanks for reporting.

[2017-07-19 14:04] corywebb commented on #13
Thanks @anibalsanchez! Looking forward to seeing this get resolved.

[2017-07-19 14:26] anibalsanchez commented on #14
Hi,

I've checked and solved the issue.

*After the update to Joomla 3.7.2, links with no Itemid and no matching menu item are reaching the wrong component and generating the 404 error.*

In this particular case, **the reports have been successfully received**, but com_jed failed to show the final message (redirecting to an article that was not defined in a menu item).

For the record, the solutio

[2017-07-19 14:26] #14 closed

[2017-07-19 14:27] anibalsanchez commented on #17
Hi,

I've checked and solved the issue.

*After the update to Joomla 3.7.2, links with no Itemid and no matching menu item are reaching the wrong component and generating the 404 error.*

In this particular case, **the reports have been successfully received**, but com_jed failed to show the final message (redirecting to an article that was not defined in a menu item).

For the record, the solutio

[2017-07-19 14:27] #17 closed

[2017-07-19 14:31] anibalsanchez commented on #13
From the technical support:

*I have taken a look and found that you hit the inode limit for the temporary filesystem on your 'cache' folder, so I've doubled it now.*

Resolved! Please, check your extension and reupload the images if it's necessary.

[2017-07-19 14:37] corywebb commented on #13
@anibalsanchez I checked my extension, and the image is there. I didn't have to re-upload it. Thanks!

[2017-07-19 14:56] nikosdion commented on #13
I can confirm it works again! Thank you :)

[2017-07-19 19:49] PhocaCz commented on #16
Hi, thank you, it works OK now.

[2017-07-19 19:50] PhocaCz commented on #13
I works OK now. Confirmed, thank you.

[2017-07-21 08:30] morphico opened #18 "Error: Not found - You have already rated this extension"
Hi there,
I gave review for extension (I do not often visit these sites, and when I'm on them I'm mostly looking for something). This review is not moderated yet. And now, when I click "Write a review" I am redirect to mainpage with info "Error: Not found". I think the better will be message "You have already rated this extension"

[2017-07-23 00:54] joomlaphp commented on #17
Thank you!

[2017-07-24 18:16] anibalsanchez commented on #13
Hi,

Yes, the cache of 22GB has reached again 100%. I've just requested to cleared it again and increase the size.

Regards,

[2017-07-24 18:27] CoalaWeb commented on #13
Great thanks for such a fast response.

[2017-07-24 19:15] CoalaWeb commented on #13
I just updated several logos and they are displaying as expected, thanks.

[2017-07-25 17:07] anibalsanchez commented on #13
Yes, we're now checking if we can schedule a timely cache purge.

Thanks,

[2017-07-25 17:07] #13 closed

[2017-08-25 10:28] Nanjoocom opened #19 "Unable to write reviews"
I am able to login and write the whole review but as soon as I click the submit button a message appear asking me to either login or create an account.
Why is this?

[2017-08-27 04:59] Nanjoocom commented on #19
I might add that I'm already logged on when receiving this message.

[2017-09-08 11:56] chriswagner0815 opened #20 "[JED] Optimization of PageSpeed-Insights-rules"
Dear colleagues,
attached information about improving page speed for the JED would help us in improve rankings and user time on site. If you have time and access to work with the JED, please fix these issues.

1. Root template
https://developers.google.com/speed/pagespeed/insights/?hl=de&url=https%3A%2F%2Fextensions.joomla.org%2F
***************************************************************
To b

[2017-09-27 11:24] brianteeman opened #21 "Report an Issue page"
at the top of the page it says

But there is nothing below to select

[2017-10-16 12:46] catalano opened #22 "Can't write a review"
Hello,

I have tried to leave a review for this extension (https://extensions.joomla.org/extensions/extension/marketing/mailing-a-newsletter-bridges/mailchimp-integration-for-joomla/) When I click on the "Review" button I get returned to the main extensions directory with "Error: not found" in the alert box. I can confirmed that I am logged in and I can write reviews for other extensions.

[2017-10-20 05:22] Sulpher opened #23 "Wrong logo size and video"
I have uploaded the logo with required size 960x420 pixels and the bottom part is hidden on the product page, but the thumbnail is okay. Please see enclosed screenshot.

By the way, I have a video on this page too. If to remove the video, the logo displays with another size.

Please check it out locally: it seems there is an issue. Add a logo without video and then ads the video and see what will

[2017-10-20 05:36] Sulpher opened #24 "Ticket is still open after clicking on "Reply and close""
The issue is described in the title.
I clicked on "Reply and close" button to close the ticket, but the ticket still has "new" status instead of being closed.

[2017-10-22 10:04] Sulpher opened #25 "No subcategories in Extensions Specific"
If we go to https://extensions.joomla.org/ we are not able to find a list of subcategories in Extensions Specific category. So, users usually are looking for add-ons of specific extension and need a choice. That's very important UX issue.

![screen shot 2017-10-22 at 13 01 56](https://user-images.githubusercontent.com/3432048/31860804-4961de52-b729-11e7-8f32-0370f774e523.png)

[2017-10-29 09:01] dam-man commented on #25
Where is the code so people can help development..

[2017-10-29 19:57] wilsonge commented on #25
It's in a private repo. There's a Contributor Agreement you have to sign to get access. All the information can be found on the contributing to JED page https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-jed/

[2017-11-15 09:21] jVArcade opened #26 "jVArcade exists in database"
I have taken over the development of this component from JVitals as they seem to have just disappeared. The links to jVArcade are closed due to broken links. I am unable to submit it again with my information and would like to keep the name as that's what everybody already knows it as.

Can jVArcade be removed from the database so I can start it up again ?

[2017-11-20 12:22] maxpa1n87 opened #27 "Can not login into extensions.joomla.org"
Hello Webmaster-Team,

I can not login anymore with my username maxpa1n87 on extensions.joomla.org.
Trying to reset the password with all my known email addresses, I get only the message that the email is invalid. Can somebody figure out what my email address was during registration and send me a PM on github please.

Sincerely,

maxpa1n87

[2017-11-24 17:38] dealto450 opened #28 "lost password"
i am unable to login to my joomla page, password not recognised
username: allguttersAdmin or Admin
http://www.allgutters.co.uk/administrator/index.php

[2017-12-02 17:37] jonrz opened #29 "Number of items per page messing up results"
While searching for a particular module, I went to the JED, added the tag "K2 Extensions", nothing else, and hit search.

It displayed 5 items per page, with the pagination going to 48 (so about 237 results).

I then tried to change the number of items per page to 50, so my browsing would be easier, and it not only didn't show 50 per page, but it displayed just 4 results, and no pagination, plus r

[2017-12-19 11:36] vishalCTUK opened #30 "Images not showing on JED live site"
No extension images on JED on different machines https://extensions.joomla.org/category/clients-a-communities/project-a-task-management/ img source <img src="//extensionscdn.joomla.org/cache/fab_image/56cf41a609194_resizeDown302px133px16.jpg" alt="Timesheet" class="mainimage">

[2017-12-19 12:22] Kubik-Rubik commented on #30
The problem is that the CDN domain (https://extensionscdn.joomla.org) does not have a valid SSL certificate.

<img width="930" alt="image" src="https://user-images.githubusercontent.com/1976103/34156889-76f407f0-e4bf-11e7-97bb-28e2f819a328.png">

@anibalsanchez @mbabker Who is responsible for this domain?

[2017-12-19 12:29] anibalsanchez commented on #30
Hi  @Kubik-Rubik ,

I sent a ticket to Rochen in the morning, and it looks fine now from my side now.

Could it be a caching issue now?

[2017-12-19 12:39] Sotiris-k commented on #30
![image](https://user-images.githubusercontent.com/4454324/34157460-43926aa4-e4ca-11e7-84ad-90de02fd2c7e.png)

I believe cache isn't supposed to affect certificates.

[2017-12-19 12:45] anibalsanchez commented on #30
I've also disabled the CDN until we confirm that they fix the certificate.

[2017-12-19 12:46] vishalCTUK commented on #30
Loading images now. Thanks everyone.

[2017-12-19 15:36] Sophist-UK opened #31 "extensionscdn.joomla.org SSL certificate expired yesterday"
### Steps to reproduce the issue

Use the Install from Web page in Joomla3 when your PC has a means of highlighting such issues (I use ESET Internet Security).

### Expected result

Certificate is valid

### Actual result

Certificate is expired.

[2017-12-19 15:36] Sophist-UK commented on #31
Certificate expired on 18/12/2017 (midnight yesterday).

Icons for extensions no longer show up in a browser (like Chrome) configured to reject invalid certificates.

[2017-12-19 15:41] Sophist-UK commented on #31
Certificate has been extended to Feb 2019 - so now working.

[2017-12-19 15:41] #31 closed

[2017-12-20 12:21] #30 closed

[2017-12-21 10:27] frankmayer opened #32 "Rating numbers and count of reviews are not accurate"
I noticed that the rating numbers for extensions are not accurate. This is especially noticeable on newer extensions with one review.

There are plenty of examples. but you can look at mine: https://extensions.joomla.org/extensions/extension/core-enhancements/performance/fmj-blank-view/

In this example, the user rated all four points with a hundred percent. The rating summary on the right says 93

[2017-12-22 15:41] 77Andre opened #33 "Content - Simple Pop-Up"
Здравствуйте! Не работает Simple Pop-Up вставляю {simplepopup} закрываю {/simplepopup} ничего не происходит, помогите.
![12](https://user-images.githubusercontent.com/34774325/34303699-b0a11f6c-e747-11e7-920b-f7562928c4d5.jpg)

[2017-12-22 19:39] Kubik-Rubik commented on #33
This repository is only for issues with the official Joomla! Extensions Directory.

If you need support with a specific extension, then you have to contact the corresponding extension developer.

@anibalsanchez Please close here.

[2017-12-22 22:19] #33 closed

[2018-01-09 10:20] Sotiris-k commented on #32
AFAIK this is how the rating system works in general by design.

[2018-01-12 07:38] frankmayer commented on #32
Unless I am missing some important details, this design seems to not do correct calculations on rating averages. Both, for the rated points (that is, what all users rated for a specific point, like "Functionality" or "Documentation"), as well as for the overall average of all points rated.

[2018-02-11 02:32] marcobeierer commented on #32
Newer free extensions can just get an overall rating of 83. I guess the calculation always takes the _Value for money_ into account, which is always 0 for free extensions because it could not be rated.

Older free extensions (added somewhere before 2015) seem not to have this issue, they could get higher overal ratings.

The difference between free and paid extensions is for example clearly visibl

[2018-02-16 09:44] anibalsanchez commented on #32
Hi,

Please, check this slide about how the review score is calculated: https://docs.google.com/presentation/d/1YTUvhYEK-bxoEE5-vJsjv06kZAvhpsAjSRmsY2w9GkU/edit#slide=id.g21ec0048aa_0_8

We can discuss how to change the algorithm, but it is currently working as it was designed. So, it's not really an open issue.

[2018-02-16 09:52] anibalsanchez commented on #28
Hi,

This ticket system is for developers of extensions listed on JED - we are unable to provide support for your issue. For support questions, you can go to https://forum.joomla.org.

Kind Regards

[2018-02-16 09:52] #28 closed

[2018-02-16 09:54] anibalsanchez commented on #26
Hi,

This ticket system is for developers of extensions listed on JED - we are unable to provide support for your issue here. For JED support questions, you can go to https://extensions.joomla.org/support/support-tickets/.

Kind Regards

[2018-02-16 09:54] #26 closed

[2018-02-16 09:55] anibalsanchez commented on #27
Hi,

This ticket system is for developers of extensions listed on JED - we are unable to provide support for your issue here. For JED support questions, you can go to https://extensions.joomla.org/support/support-tickets/.

P.S. Please, create a second account and send a ticket with the full details of your original account.

Kind Regards

[2018-02-16 09:55] #27 closed

[2018-02-16 10:00] anibalsanchez commented on #25
Hi,

Extension Specific has a very long list of subcategories. So, it doesn't fit in the same category organization as the rest of the tree. This tree definition was done in this way mainly because the tree was never fully visualized.

Reorganizing the tree is a whole different conversation.

So, it is not a bug, and it is working as expected. Closing the ticket. Thanks for reporting!

[2018-02-16 10:00] #25 closed

[2018-02-16 10:22] Sulpher commented on #25
Hi Anibal,
This is really sad news... Let me explain why it is important. As a user, I would like to see all add-ons for the specific extension. I did it much time in the past. Let it be Virtuemart for example. It is very useful to examine the subcategory and find new add-ons to extend the site.
A big flat list as in previous JED version could help...
But ok, the idea is declined.
Thanks for the r

[2018-02-16 10:39] anibalsanchez opened #34 "JED Homepage updates - Second phase"
Hi,

Now, that we are fully migrated to Github, we can start thinking about the _Second phase of improvements_. This phase is also a preliminary work to the implementation of J.org 3.0 template and the development of JED4.

This is the user feedback about it is pending to be defined:

- **Recently Added, Top Rated, Most Viewed widgets**
- **New scrolling widgets** (similar to Google Play style)
-

[2018-02-16 10:41] anibalsanchez commented on #25
I've just opened an issue to implement this functionality. Please, follow this ticket https://github.com/joomla/jed-issues/issues/34

Txs

[2018-02-16 14:44] marcobeierer commented on #32
Hi @anibalsanchez

Thank you for your reply. I had a look at the explanation, but still think there is an issue with free extension created in 2015 or later.

If you use the JED search function and search for free extension ordered by 'Latest added', you will find nearly no extension with an overall score over 83. Just around 5 percent of the extensions have a higher overall score.

And if you sea

[2018-02-16 16:21] anibalsanchez commented on #32
Hi,

The original author of the code is no longer on the team. For my [presentation at JAB16](https://www.youtube.com/watch?v=KyD1i8hVgpY), I read the code to answer the frequent questions, but I didn't do data analysis or simulation.

If you want to join the team of JED Devs, and look in detail into the code to propose an alternative, the Joomla community will be more than grateful: https://exten

[2018-02-16 16:24] anibalsanchez commented on #20
Great tips! I'll be looking into these recommendations.

[2018-02-16 17:24] marcobeierer commented on #32
Hi @anibalsanchez

Thank you for your reply.

I do not like to join the JED team permanently as I do not actively use Joomla anymore and have another focus currently, but I'm willing to help from time to time.

I just registered at JIRA and signed the contribution agreement. Do I have to open an issue on Bitbucket or could this GitHub issue be used for further discussion?

[2018-02-16 19:09] anibalsanchez commented on #32
Hi @marcobeierer , you can contribute in the way that better suits you.

We have moved away from JIRA and today we manage the full process on Github.

Do you have a Glip account to add you to the JED Dev Chat?

P.S. Tomorrow I'm going to clean all references to JIRA from JED.

[2018-02-16 19:13] anibalsanchez commented on #32
@marcobeierer Just in case, I sent you an invitation to your gmail.

[2018-03-04 01:18] N6REJ opened #35 "page count doesn't function"
When looking at a developers extension listing and you click on "all" on item count it returns error
https://extensions.joomla.org/profile/profile/details/35423/
![image](https://user-images.githubusercontent.com/1850089/36941040-a49a5280-1f17-11e8-98a6-4e68db77fc96.png)

[2018-04-13 15:43] edrobal opened #36 "Spam through ALFContact"
A spammer found a way to send spam by our web site. We have ALFContact last release with captcha. How is it possible ?
Spam report is :
Return-Path: <webmaster@tpassociation.ch>
Received: from mta-gw5.infomaniak.ch (mta-gw5.infomaniak.ch
[83.166.132.53]) 	by mda285.infomaniak.ch (8.14.5/8.14.5) with ESMTP id
w3CLE5GS008734 	for <x>; Thu, 12 Apr 2018 23:14:05 +0200
Received: from smtp-imu3.infomani

[2018-04-13 15:55] anibalsanchez commented on #36
Hi,

This ticket system is for the JED site and extension publishing system.

For support questions about how to an extension, please contact the developer directly via their website.

Best Regards

[2018-04-13 15:55] #36 closed

[2018-04-14 20:34] marcobeierer commented on #32
@anibalsanchez I think this issue can be closed now.

[2018-04-15 18:07] anibalsanchez opened #37 "New Instant Search"
We are implementing a new **Instant Search**, based on [Algolia](https://www.algolia.com/) (our search partner).

For more information about how we are configuring the new search, please, visit this link: [JED Search use cases and definitions](https://github.com/joomla/jed-issues/wiki/JED-Search-use-cases-and-definitions).

At this time, it's implemented for testing on the Live Site. It is availab

[2018-04-15 18:08] anibalsanchez commented on #32
Yes, the issue is solved and the enhancement published on the live site. Thank you!

BTW: A new Instant Search is coming to the live site. If you want to help testing it, it's implemented in staging. For more information, please, visit #37

[2018-04-15 18:08] #32 closed

[2018-04-17 09:49] joomdonation opened #38 "No email sent when review posted for extension"
Since few months ago, JED no longer sends notification email when our extensions received reviews from users. Could someone please check it?

[2018-04-30 07:28] jlnwcic opened #39 "FYI on power buton Joomla plugin"
Just an FYI on the Power Button plugin for Joomla.  It doesn't work with the latest Joomla! 3.8.7 Stable
In Firefox, the popup appears but nothing works including scrolling
In Chrome, scrolling works in the popup but nothing can be selected.
All popup blockers are disabled
Best of success.

[2018-04-30 07:42] Sotiris-k commented on #39
Please notify the developer of the plugin for this malfunction.

This repository is for issues concerning the [Joomla Extension Directory](https://extensions.joomla.org/) exclusively.

[2018-04-30 12:13] rayrutjes commented on #37
Hello @anibalsanchez , the implementation looks great already!
Please let me know if there is anything we can help you with regarding the relevance.

I took a look at your [before & after Algolia comparison here](https://github.com/joomla/jed-issues/wiki/JED-Search-use-cases-and-definitions).

I was wondering if you did understand the differences or if there was something we could help you with.
W

[2018-04-30 14:37] anibalsanchez commented on #37
Hi @rayrutjes, thank you!

In general, Algolia search returns better results than the current search engine, based on MySQL queries. However, the objective of the implementation has been to strike a balance between what Algolia does better (full-text search) and the current search engine definitions (order by parent/child extension and scoring). So, the 50% ratio is a good measure that Algolia is

[2018-04-30 18:37] rayrutjes commented on #37
Thanks for your answer.

The challenge will be to translate the "weight" approach to the Tie-Breaking algorithm Algolia uses.
The main advantage of going with that new approach is that you will be easily able to understand every rank of every result, and adjust if necessary.

You might consider bucketing the metrics you currently have (scoring + num_reviews). Also I'm wondering what the scoring is

[2018-04-30 19:07] anibalsanchez commented on #37
All collaborations are welcomed.

In JED context, the scoring "Overall" is the primary metric that summarises Functionality, Ease of use, Documentation and Support. You can find the number on the right sidebar of an extension.

I've just sent you an invitation to Glip Joomla account.

[2018-05-04 08:37] anibalsanchez commented on #37
NOTE to myself, the entries with a name like a category are linking the category. Example: **Weblinks**.

[2018-05-10 10:57] anibalsanchez commented on #38
Hi,

We are retesting the review system and we have confirmed that emails being received (other ext devs are also receiving emails).

So, it could have been a temporary issue.

I'm closing the issue. If you find a new case, please, reopen the ticket to check your particular review (there's a partial log of the recent activity that we could check up).

[2018-05-10 10:57] #38 closed

[2018-05-10 11:03] joomdonation commented on #38
Thanks @anibalsanchez . We still haven't received any email from the system. Maybe it's just a problem with our own email somehow. I will update our account with new email and monitor the next review

Regards,

Tuan

[2018-05-10 14:13] nextend commented on #37
Hi,
if you are searching for slider, the instant search gives pretty bad result I think. Non of the related tags' top 3 extensions come up.

Related tags:
https://extensions.joomla.org/tags/slideshow/
https://extensions.joomla.org/tags/image-jquery-slideshow/

Ps.: I'm the developer of Smart Slider 3 and the new search has negative impact for us.

[2018-05-10 14:31] anibalsanchez commented on #37
Hi,

The results are strictly based on the text matches of the defined text fields and the following order: https://github.com/joomla/jed-issues/wiki/JED-Search-use-cases-and-definitions

Please, try to improve the description or the hashtags to increase the presence of the main keywords that you look for.

[2018-05-13 16:03] anibalsanchez opened #40 "New GDPR - Cleaning Task"
Just to remember: a task to clean records from tables.

[2018-06-05 08:46] anibalsanchez opened #41 "Allvideos - Refused to execute script MIME type ('text/html') is not executable"
From @zero-24: Please also contact allvideos given to this message (has nothing to-do with CSP is is the mime checker)
Refused to execute script from 'https://extensions.joomla.org/plugins/content/jw_allvideos/jw_allvideos/includes/js/quicktimeplayer/ac_quicktime.js?v=4.7.0' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.

[2018-06-07 19:59] brianteeman opened #42 "date added?"
did something go wrong with a data import.
i noticed today that many extensions have a date added of 18/9 Nov 2014 but they all had reviews from much further back in time

For example all of @mbabker extensions are "affected"
https://extensions.joomla.org/profile/profile/details/150276/

[2018-06-07 20:09] mbabker commented on #42
IIRC this was a "symptom" of the move to the current system.  I don't think it's anything recent.

[2018-06-07 20:18] brianteeman commented on #42
maybe not recent but i just noticed it

if I, as a user, cant trust the data then its better for it to be removed

[2018-06-27 19:38] anibalsanchez opened #43 "Markdown description allows to include external images"
The new CSP headers have detected and blocked the use of external images in the extension markdown description.

To fix it, external images must not be allowed in the extension markdown description.

[2018-07-13 19:45] RealMrG opened #44 "Extenstion: Component Architect"
I think this extension is dead, none of the links in the JED version seem to work and while there are references to a pro version I could not locate it.  -Mike

[2018-07-13 20:44] anibalsanchez commented on #44
Hi,
These issues are about the JED system problem. To report extensions, please, submit a ticket to the site: https://extensions.joomla.org/profile/ticket/add/

Regards

[2018-07-13 20:44] #44 closed

[2018-07-24 08:04] anibalsanchez opened #45 "Long-running queries / 2018-07"
After the incident that turn off all servers, JED came back with low performance on some complex queries.

I have already executed several commands to optimize the database, but it has not solved the issue.

Users are reporting that the **New** menu item is no longer usable. I'm disabling it temporarily. https://forum.joomla.org/viewtopic.php?f=262&t=963892

The source of the problem seems to be t

[2018-07-24 16:42] Gitjk commented on #45
When loading a JED page there are a few errors in the Firefox site inspector.  Does this ring a bell?
(screenshot attached)
![jed-errors](https://user-images.githubusercontent.com/10586468/43153323-456261de-8f71-11e8-8405-a4e033b35633.png)

[2018-07-24 16:53] anibalsanchez commented on #45
It's not related with the performance issue. We have recently implemented CSP headers and they are blocking some scripts from loading. Feel free to report it as a different issue.

[2018-07-26 10:11] anibalsanchez commented on #45
I have implemented the first part of the implementation of materialized views to optimize the ucm_content queries. The MySQL load has been reduced substantially. Counting the additionally capacity allocated by Rochen, the site is running Ok. More work is required to complete the optimization of ucm_content subqueries.

The issue is solved. Thank you for your feedback.

[2018-07-26 10:11] #45 closed

[2018-07-27 15:48] web54 opened #46 "write a review error"
Hello,

when I want to write a review for jdownload, I click on the button and got error, extension not found

[2018-07-28 17:19] lipatovroman opened #47 "Remove please..."
Solved in forum.

[2018-07-30 06:34] #47 closed

[2018-07-31 07:03] web54 opened #48 "can not add a review to jdownloads: file not found"
When I want to write a review to jdownload extension ( they helped me so that I do want to do that !! ;) )
I got an error file not found.
could you help me ?
thanks

[2018-08-14 03:36] molotow11 commented on #37
Hello, All.

"Articles filter" keyword search - [link](https://extensions.joomla.org/extensions/extension/?searchall=articles+filter&filter%5Btags%5D%5B%5D=&filter%5Bcore_catid%5D=&filter%5Bincludes%5D=&filter%5Bversions%5D=&filter%5Btype%5D=&filter%5Bhasdemo%5D=&order=&filter%5Bnewupdated%5D=&filter%5Bscore%5D=&filter%5Bfavourites%5D=&dir=DESC&limitstart=0&controller=filter&view=extension&layout=

[2018-08-14 11:45] molotow11 commented on #37
Hello, Anibal.

Thanks for your answer.

Sorry, for my mistake. Yes, it is better results with instant search. When you planned to replace general search with new system? Which instruction we can use for optimize general search currently?

[2018-08-14 13:43] anibalsanchez commented on #37
Hi,

It is going to be better to optimize for the new engine. It is mainly driven by keyword positions. So, if you want to optimize your text, the usual techniques for SEO can help you to write the extension description. For instance: include the primary keywords in the title; include the primary and the secondary keywords in the first paragraphs, etc.

I plan to implement the new engine as soon a

[2018-08-16 14:07] Sophist-UK opened #49 "Review of 3rd party extension says I cannot review my own extensions"
But I haven't written ANY extensions, and I was reviewing someone else's.

[2018-08-31 17:04] ciar4n opened #50 "Images resized incorrectly, causing pixelation"
It appears all images uploaded to JED via extension submit are resized to 960px wide? Images on extension pages are displayed at 1170px resulting in all images been slightly pixelated. Any chance of getting the image resize set to the width they are displayed (1170px).

This is also true for extension 'logo' images although slightly different. Images are resized to 302px wide, however, the space a

[2018-09-12 10:47] PhocaCz opened #51 "Removing of links in review"
Hi, will be great if users have no option to paste a link into the reviews.

1) there is no need to include links in review
2) this feature only attracts spammers to make spams through fake reviews.

Jan

[2018-09-12 15:12] anibalsanchez commented on #51
We are also reviewing the case with Hugh.

[2018-09-13 08:20] hdouglassmith commented on #51
I think this makes a lot of sense, we don't allow links currently so let's ensure they can't be put in.

[2018-09-15 14:14] aspergerway opened #52 "Problem refund JoomlaKave"
I'm still not getting my $15 refunded. I didn't get along well with "Responsive Instagram Photo Gallery".
They asked me for the paypal email after several and far attempts to contact me, but they did not refund me.

[2018-09-15 16:42] Saeedghb opened #53 "Expired page"
I realized that the following URL has a lot of high-quality back links, but the page has nothing now.
(formerly, there was a 404 error when clicking on the link)
https://extensions.joomla.org/extensions/languages/translations-for-joomla

To avoid misleading the users and for #SEO purposes, it is better to redirect the above URL to this one:
https://community.joomla.org/translations

[2018-09-17 06:36] jeckodevelopment commented on #52
Hello @aspergerway this repository is to report issues with the Joomla Extensions Directory (as software) not with extensions themselves or the extensions providers.
Please try to get in touch directly with the extensions developers.
Feel free to leave a review for their extensions directly on JED, but administrative issues should be dealt with the provider.

Thank you for understanding.

[2018-09-17 06:36] #52 closed

[2018-09-18 10:17] anibalsanchez opened #54 "Captcha on account registration"
A bot has been creating accounts as a way to send spam emails.... so a captcha is required to avoid this issue.

[2018-09-19 18:01] Deathwielder opened #55 "Register Captcha Not working"
The JED registration Captcha is not showing up.

[2018-09-19 18:08] anibalsanchez commented on #55
In fact, it was never implemented. So, this is mostly a note to me to implemented when someone has the time.

[2018-09-22 09:18] anibalsanchez opened #56 "Different urls for one extension"
From Jira: https://joomlaextensionsdirectory.atlassian.net/projects/JDEV/issues/JDEV-1045

There is a SEO issue in JED sitemap which causes duplicate address for the same listing.
E.g I've recently submitted my module, its url in website is different from the url in the sitemap.xml

In website: http://extensions.joomla.org/extensions/extension/living/religious-events/grand-prayer-times
In sitemap.

[2018-09-29 15:41] anibalsanchez commented on #55
It is implemented now!

[2018-09-29 15:41] #55 closed

[2018-09-29 15:47] anibalsanchez commented on #54
It is implemented now! ;-)

[2018-09-29 15:47] #54 closed

[2018-09-29 16:03] anibalsanchez commented on #46
Hi,

I have been investigating the issue due to new reports, but I can't reproduce when the 404 error is received.

[2018-09-29 16:28] anibalsanchez commented on #19
Hi,

We have been unable to reproduce the case.

We are checking a related issue on #48 . Feel free to join to the task force there.

[2018-09-29 16:28] #19 closed

[2018-09-29 16:29] anibalsanchez commented on #7
Hi,

We have been unable to reproduce the case.

However, we are checking a similar case, feel free to join to the task here #48

[2018-09-29 16:29] #7 closed

[2018-09-29 16:31] anibalsanchez commented on #49
Hi,

I 've been unable to reproduce the case. Please, send us the extension names or a detailed description of how to reproduce the case.

[2018-09-29 16:32] anibalsanchez commented on #43
CSP headers are working well blocking the images.

[2018-09-29 16:32] #43 closed

[2018-09-29 16:34] anibalsanchez commented on #23
We have more detailed information about the case here #50

[2018-09-30 16:39] adatso opened #57 "A questionable link from JED"
Hi,

Today, after resetting the password on JED, I received a message from "info+2018@extensions.joomla.org" with a fishy link:

https://u3886767.ct.sendgrid.net/wf/click?upn=UvZltPxmreGpYMfgSnK89g7wTlBteGCNPpRrMB-2FgLcgZkQ1Sgw55P1T8zV1WNnuH3CiPm9Wkbe2OEsp6BiX9pxEOAp9h5ys3P7ikEZe9cxCOu-2FlPhNc99gLhrEVg9byrHYPa2HBwcy7bLrlQ0EfqLJ1UpqZspgxsV2y9mbZ8pKcAnWSR6sLzA7keCj-2Bee81x_uoQOw53Jnd2odJf4vBwXdY8zVp

[2018-09-30 17:58] anibalsanchez commented on #57
Hi,

It looks like someone entered your email and sent you an email to reset the password.

There's nothing we can do about it. Anyone can (in any passoword reset form) enter any mail.

To avoid confusions, I'm changing the replyTo address to no-reply@extensions...

Regards,

[2018-09-30 18:06] anibalsanchez commented on #57
Hi,

I've already corrected the email replyTo.

SendGrid encodes the links to keep track of the openings and clicks.

 If you have requested the password reset, why does the link look fishy? Are you worried about the SenGrid domain?

[2018-09-30 18:38] anibalsanchez commented on #57
I have disabled SendGrid's click tracking (we're not really using it). Case solved!

[2018-09-30 18:38] #57 closed

[2018-09-30 19:09] anibalsanchez commented on #48
The reports include references about the "Not Found" error on specific extensions, but these extensions are receiving reviews. So, it is not clear why the user receives the "Not Found" error.

CC: @JazParkyn

[2018-09-30 22:38] adatso commented on #57
thank you

[2018-10-01 08:43] web54 commented on #48
ok:
i went in as logged (user ; tataye)
https://extensions.joomla.org/extension/jdownloads/
i want ton add review
link to review is : https://extensions.joomla.org/write-review/review/add?extension_id=140
when clicking it brings me to : https://extensions.joomla.org/index.php with error not found
I trid with several browsers and adblock disabled, but always the same

[2018-10-01 09:12] anibalsanchez commented on #48
When you access the extension page (https://extensions.joomla.org/extension/jdownloads/), do you find a console error in the browser?

[2018-10-01 09:28] web54 commented on #48
there are no error but messages :
JQMIGRATE: Migrate is installed, version 1.4.1
localhost/browser.js:61 Opera has modified script or content on staticxx.facebook.com (PATCH-1195, Facebook - block first character in the comment field from triggering a single key keyboard shortcut). See browser.js for details
localhost/browser.js:61 Opera has modified script or content on www.facebook.com (PATCH-11

[2018-10-08 16:53] Deathwielder opened #58 "Activation Email"
I recently registered.  I waited for an activation email for over 1 week.  None arrived.

I tried to login and I got an error stating that I had not activated my account.  I reviewed SPAM/JUNK emails, deleted emails, etc.  to no avail.

On the ORIGINAL registration the email used to register was webmaster@militarywives.com  and the user name was chadduck.

Since I had NOT received the activation I

[2018-10-16 14:17] jreviews opened #59 "Maximum upload size for extension is 7MB"
Please increase the limit or provide an alternative for extensions that exceed this size.

[2018-10-18 16:47] Llewellynvdm commented on #59
I agree, this limitation is preventing bigger applications from being submitted to the index. Lets increase this limit to a size that will support more freedom.

[2018-10-18 16:55] Llewellynvdm commented on #8
I have also seen good reviews never see the light, clients who told me directly that they appreciated my components and has rated them on the index, found there reviews never being published, and in most cases I know about, they were real people who made legitimate reviews and later asked me why I did not approve their review. See they thought it was me blocking it for some strange reason.

So I s

[2018-10-19 11:12] anibalsanchez commented on #50
Thank you @ciar4n for taking care of the issue!

Solved!

[2018-10-19 11:58] ciar4n commented on #50
Issue still exists. Images uploaded are still resized to 960px.

[2018-10-19 12:09] anibalsanchez commented on #50
The images are resized to 960x, but then they are scaled keeping the aspect ratio.

[2018-10-19 12:36] ciar4n commented on #50
True but the issue is that they are been scaled up to 1170px which causes pixelation (loss of quality).

[2018-10-19 13:43] anibalsanchez commented on #50
To fix it, the system should show the 960x .... or change the recommendation to upload a bigger image... let's say a 1280px image and create a set of images.

[2018-10-19 13:57] ciar4n commented on #50
The problem is not so much the recommendation. The problem is when you upload an image, for example, 1280px wide, that image gets resized down 960px wide. It should only get resized down to 1170px because 1170px is the width it is been displayed at.

[2018-10-19 14:00] anibalsanchez commented on #50
We could propose/implement the change and communicate the new definition.

[2018-10-19 14:11] ciar4n commented on #50
Maybe this is it here?.. https://github.com/joomla/jed-dev/blob/master/public_html/components/com_jed/views/extension/tmpl/default.php#L41

Or here?.. https://github.com/joomla/jed-dev/blob/master/public_html/components/com_jed/views/extension/html.php#L97

[2018-10-23 17:57] jreviews commented on #56
Just noticed the same thing with my newly submitted JReviews extension and the problem is not only with the sitemap. If you do a search and pick from the live search results below the keyword search, the result looks like this:

[https://extensions.joomla.org/extension/jreviews/](https://extensions.joomla.org/extension/jreviews/)

If instead, you hit "enter" or click the "Go" button and then use t

[2018-10-25 19:36] jreviews opened #60 "Wrong email sent to owner after leaving reply to review"
When leaving replies to reviews for my extension I receive the following email which makes it seem like a new review was published, when in fact it was my own reply to an existing review.

[code]
Also notice the name of the extension is missing and the link to the extension is also wrong leading here [https://extensions.joomla.org//extensions/extension/](https://extensions.joomla.org//extensions/e

[2018-11-04 22:09] anibalsanchez commented on #18
Hi,

We have consolidated all duplicated issues related to "Error: not found" on reviews here #48

Closing this ticket as duplicated

[2018-11-04 22:09] #18 closed

[2018-11-13 19:11] glOOmyART opened #61 "Newly submitted extension disappeared from profile page after it was published"
Around 2-3 weeks ago I submitted an extension to the JED.
For as long as it awaited approval it was listed in my profile's extension tab.
As soon as the extension was publicly listed in the JED it disappeared from my profile.

Furthermore, the extension has the wrong developer linked. If you click on the developer it says

Also, as long as i'm logged in to the JED, the extension page says

When I

[2018-11-13 19:23] anibalsanchez commented on #61
Hi, Thanks for reaching out!

We are processing the queue in the fastest possible that volunteers can answer.

Every extension must be checked, replied and followed until it is finally published or rejected.

We start the process with a simple name check (where many developers fail to name the JED entry like the installed extension) and we follow with several iterations on JED Checker output https

[2018-11-14 16:09] glOOmyART commented on #61
Thank for clearing the ticket flow!

I know that the extensions are checked manually, which I totally understand and consent with since it improves security.
But i'm actually more concerned about the potential bug in the system when uploaded extensions might disappear from the uploader's backend.
Unless I was the only one who was affected.

[2018-11-14 16:22] anibalsanchez commented on #61
Tomorrow, I have a very long journey traveling, so the plan is checking all tickets ;-)

[2018-11-19 18:56] tassosm commented on #8
Still happening on a daily basis. Unfortunately, I've lost more than 15 legit reviews the last months.

I've noticed the following 3 cases here.

1. The review is published but after 2-3 hours is no longer there for some reason.
2. The review is not published at all.
3. The review is not published but the counter gets increased and it remains increased.

In most cases, I do receive an email notifi

[2018-11-19 19:30] anibalsanchez commented on #8
Please, read my previous comment with the description of the JED Review checker https://github.com/joomla/jed-issues/issues/8#issuecomment-307347288

There are several ways that a legit review can be flagged as a spam review. For instance, if the user copy-pastes the same text in all fields ("It's perfect!")... then it is a fake review. Basically, "it looks like spam". You can submit a ticket for

[2018-11-19 19:34] anibalsanchez commented on #12
I've been triaging the tickets and labeling them.

I think that this issue can be closed. What do you think @JazParkyn ?

[2018-11-20 01:53] Llewellynvdm commented on #8
@anibalsanchez I don't get it, if legit reviews is being flagged, **o wait dumped**, then the JED review checker is not working for us but against us. Please read my previous [#8 (comment)](https://github.com/joomla/jed-issues/issues/8#issuecomment-431084262) and you will see the whole issue is that we don't agree that dumping legit reviews is just okay, no matter the reason. Action is needed here

[2018-11-20 09:48] Yagnenok commented on #61
You are not alone ) all new submitted extensions are "developed" as unknown KLG. My also

[2018-11-20 11:13] anibalsanchez commented on #61
Not all the new submitted extensions. We have detected and confirmed the inconsistency in some cases and we are investigating the issue.

[2018-11-20 16:06] Llewellynvdm commented on #8
This is crazy @anibalsanchez, we can't lower the bar? and yet that also means we lose the purpose of JED reviews, for it can never really reflect to true value of its extensions. How can we submit a ticket if we don't even know there was a review that was dumped. If our own clients contact us and say... we submitted a review, but it was dumped because I would not disclose my location. Then I reali

[2018-11-21 14:04] jreviews opened #62 ""I used this to" text is garbled when review is submitted in Russian language"
You can see the issue in the attached screenshot.

![image](https://user-images.githubusercontent.com/31069418/48846176-cb717600-ed74-11e8-9afc-720c7fca9696.png)

[2018-12-02 20:02] anibalsanchez commented on #61
We have fixed the inconsistency the extension assignation issue. Now, it is under control.

I'm closing the issue. Feel free to comment on the issue if it still persists in the system. I'm keeping an eye on the topic.

[2018-12-02 20:02] anibalsanchez commented on #60
We have fixed the inconsistency in the extension assignation issue. Now, it is under control.

I'm closing the issue. Feel free to comment on the issue if it still persists in the system. I'm keeping an eye on the topic.

[2018-12-02 20:02] #60 closed

[2018-12-02 20:04] anibalsanchez commented on #49
No more info about the issue. Closed.

[2018-12-02 20:04] #49 closed

[2018-12-15 17:17] brianteeman opened #63 "Number of items on the page and pagination"
### Steps to reproduce
From the home page search or backup
On the results page note that is says displays 12
![image](https://user-images.githubusercontent.com/1296369/50045561-f063bb00-008c-11e9-9e59-53f9ee0dcbc3.png)
Count the number of items on the page and there are 18
ie there are
6 rows of three items instead of 4
Now click to go to page2
Instead of page 2 starting at item 19 it starts at it

[2018-12-16 09:35] openmed-io commented on #58
same issue here
my username is openmed.io
cant find "resend activation email" option

[2018-12-20 10:35] openmed-io commented on #58
could you activate my account now,
and proceed with email sending issue later
?

[2018-12-28 08:03] ZyXoid opened #64 "Wrong extensions list sorting"
Hi.
The sorting of the extensions is strange.
Check out the attached screenshot
![screenshot_1](https://user-images.githubusercontent.com/3471561/50507797-aa90f480-0a87-11e9-8b50-a278bd9d3991.jpg)

As far as i can see, the extension are sorted inside the category be the rating and number of reviews. But i found in the category "Social display" on the second page: https://extensions.joomla.org/cate

[2018-12-28 10:31] anibalsanchez commented on #64
Hi,

By default, the extensions are sorted by the review score, a total index. Please, check this slide about how the review score is calculated: https://docs.google.com/presentation/d/1YTUvhYEK-bxoEE5-vJsjv06kZAvhpsAjSRmsY2w9GkU/edit#slide=id.g21ec0048aa_0_8

Since this is a definition by design, there is no issue and it is working as expected.

[2018-12-28 10:31] #64 closed

[2019-01-08 14:45] JoomliC commented on #63
I confirm, and if you navigate from page 1 to page 2, items of the first page are again on the page 2.

The default display value should be 18.

[2019-01-09 09:10] anibalsanchez opened #65 "Duplicated reviews in some extensions"
Reported by Cyril Jooml!C

`‏
@JoomliC
 18h18 hours ago
Hi @anibal_sanchez (and congrats!)
Seems to be a bug in December on the JED: many extensions with duplicated posted reviews (eg. Event Booking (24/12), DP Calendar (14/12),...)
https://extensions.joomla.org/extensions/extension/calendars-a-events/events/event-booking/ …, https://extensions.joomla.org/extensions/extension/calendars-a-events/ev

[2019-01-09 13:43] JoomliC commented on #65
Thank you @anibalsanchez !

Just saw later the issue tracker for JED (code anywhere ?)

About this point, could be nice to have a "review report" system, that could help to manage it by team?
About issue, just saw it in calendar & events directory, but maybe this has occured in other parts.

[2019-01-09 15:36] anibalsanchez commented on #65
In this particular issue, it seems to be related to the data processing of reviews, so a JED team member will check it on the live site.

About **JED Development**, you can check the current JED code base in a Github repo, but you must sign the JEDCA agreement (about confidentiality, copyright of contributions, etc) https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-

[2019-01-09 16:07] logeecom commented on #61
Hi @anibalsanchez, I am experiencing the same problem. Extension is submitted on December 27, and it immediately disappeared from my account. What is strange is that if I open extension's public page when I'm _not_ logged it, I can see it, but when I am logged in, I don't see neither the page nor extension in my account. can you please confirm this? Extension key is `cleverreach-newsletter-marketi

[2019-01-09 16:19] anibalsanchez commented on #61
Hi,

In the previous cases, the issue was to be related to the definition of the Developer User profile before the extension submission. The system is accepting extensions before the Developer User profile creation. But, this should not be allowed.

The extension has been received. In the next extensions batch review, we are going to re-assign it and probably force the definition of the Developer

[2019-01-09 16:23] logeecom commented on #61
Hi, thanks for the quick reply! Does this means it will be connected to my account (`cleverreach`) once it is reviewed?

[2019-01-09 16:56] anibalsanchez commented on #61
Please, send us a ticket to review your case (New Listing Support).

BTW: An extension can't have "extension" in the name Ref: https://github.com/joomla/jed-issues/wiki/Extension-&-Ticket-Reply-Templates#reserved-words

[2019-01-09 16:58] logeecom commented on #61
If I need to submit it again because of the name, then I can do that and you can delete the old one, so I don't need to open another ticket, right?

[2019-01-09 17:41] anibalsanchez commented on #61
Yes, sure, send a new extension, with the corrected name.

Remember to also check it with **JED Checker** https://extensions.joomla.org/extension/jedchecker/

[2019-01-10 08:39] nikosdion commented on #8
I disagree that a free-for-all review submission process is a good idea. This is what WordPress effectively does and it has not led to better ratings. In fact, there is a massive amount of really idiotic bad reviews and blatantly fake looking positive reviews. I believe the problem is that no software directory has ever done user testing to figure out what persuades and what dissuades people from

[2019-01-10 11:21] anibalsanchez opened #66 "Five-star system reviews"
From #8 , to follow the conversation about the new Star review system.

_We all agree that we need to simplify the current system. In the recent updates, we have started to implement a star-based system. The complete migration away from the current 0-100 scale will take several more steps since it was included in the original system design, and it is ingrained in several parts of the site._

[2019-01-10 11:22] anibalsanchez commented on #8
@nikosdion We all agree that we need to simplify the current system. In the recent updates, we have started to implement a star-based system. The complete migration away from the current 0-100 scale will take several more steps since it was included in the original system design, and it is ingrained in several parts of the site.

Thank you for your feedback, I've just opened a new Issue #66 about

[2019-01-10 11:31] anibalsanchez commented on #12
Effectively closing and moving the conversation about the maintenance to Glip.

[2019-01-10 11:31] #12 closed

[2019-01-10 13:33] anibalsanchez opened #67 "JED Checker CI - New Joomla Coding practices"
At this time, JED Checker is a classic extension that helps to check JED recommend practices:

https://extensions.joomla.org/extension/jedchecker/
https://github.com/joomla-extensions/jedchecker

The idea is to improve it to add new features to enforce new good practices and automation:

- **A continuous integration process**. JED must re-enable the JED Checker process to monitor new extensions an

[2019-01-10 13:49] C-Lodder commented on #67
- Don't allow 3rd party extensions to import a custom version of jquery
- Don't allow `$_POST` or `$_GET`

- Please don't enforce a coding standard for 3rd party extensions. They are NOT part of core therefore developers should be allowed to stick with whatever suits them.

[2019-01-10 13:58] mbabker commented on #67
👎

Extensions (and this includes templates since a template is a Joomla extension, although for some reason everyone wants to treat them as something different) should not be mandated to only utilize the versions of scripts shipped with core.

[2019-01-10 14:01] anibalsanchez commented on #67
@mbabker Restrict the rule to a custom version of jquery module? Plugin? To avoid modules loading multiple versions

[2019-01-10 14:03] dgrammatiko commented on #67
There are 3 different ways this can happen, 2 of them are ok the other is not (I guess Charlie is referring to that one)
- Import namespaces jQuery, this is done by many devs and although it's killing the front end performance from integrity point of view is ok
- Override the jQuery by placing a file with the same name in `templates/some_name/js/system/`. From integrity point of view this is also

[2019-01-10 14:04] C-Lodder commented on #67
@mbabker ok fair point. But if it's not done properly, you ha e 2 version of jQuery being imported.

If you override the jQuery file properly, this could cause B/C breaks as different extensions may be built on 2 different major versions

[2019-01-10 14:09] dgrammatiko commented on #67
Basically, why are we even considering jQuery something that is essential for front end in 2019?

[2019-01-10 14:10] C-Lodder commented on #67
Because extension devs will import it.....fact

[2019-01-10 14:10] mbabker commented on #67
jQuery is an example.

If the [web asset API](https://github.com/joomla/joomla-cms/pull/22435) gets written correctly in 4.0 then the requirement should be "use the API to define a custom version and/or URI".  As is with 3.x there is no practically enforceable rule IMO.  Extensions such as jQuery Easy do not have a template they can put an override file in and the only way to change to a CDN is th

[2019-01-10 14:12] C-Lodder commented on #67
@mbabker I'll reword my initial comment then

[2019-01-10 14:13] dgrammatiko commented on #67
If you get a flag in your component maybe you'll rethink what crappy scripts you deliver in the front end. Bold move? Probably for most people in the community, but is a way forward...

[2019-01-10 14:16] C-Lodder commented on #67
@dgrammatiko It's still being shipped in core, therefore (despite opinions) it _will_ be used by some poeple out there.

Anyway, I'll say lets **discourage** it rather than blocking, but you get the gist.

[2019-01-10 14:18] mbabker commented on #67
Going on a "jQuery and Bootstrap just need to die" rant every time those two keywords are mentioned honestly does nothing useful.  You might be in a spot where you can deliver sites without use of those (or other "bloated" tools or "crappy scripts"), but not everyone is and speaking in disrespectful terms toward those who do use those "bloated" tools and "crappy scripts" to create deliverables doe

[2019-01-10 14:19] C-Lodder commented on #67
@mbabker Just had a thought....what about disallowing jQuery 1.x and 2.x as they pose known security vulnerabilities?

[2019-01-10 14:22] mbabker commented on #67
I'd start with "discourage downgrading core scripts" and moving toward a more aggressive "flat out not allowed".  Maybe start 4.0 rules with the not allowed bit, but that might be too aggressive for 3.x which really the project (and this bit includes all aspects of it, not just the handful on the CMS GitHub repo) should be spending less time supporting new work on and more time provisioning it for

[2019-01-10 14:51] mbabker commented on #67
It’s more your tone than just crapping on everyone’s work.  I never said my
PHP or JavaScript was the gold standard, but it is a bit annoying to be
told I shouldn’t write JavaScript because I use jQuery plugins to get
things done where I don’t have the time or patience to write vanilla
alternatives.

On Thu, Jan 10, 2019 at 8:25 AM dGrammatiko <notifications@github.com>
wrote:

--
- Michael Please

[2019-01-10 18:48] anibalsanchez commented on #61
Since it is back under control, I'm closing it again.

[2019-01-10 18:48] #61 closed

[2019-01-10 20:17] kavadas commented on #67
Just wanted to share my thoughts on the jQuery/library debate.

Third party extensions were/are loading their own jQuery instances because it was not included in the core when the JQuery “revolution” happened.

The core should include a JS library. Expecting third party developers to write plain JavaScript is an utopia. Most of them are not familiar with modern stacks. It’s sad but that’s the trut

[2019-01-10 20:22] dgrammatiko commented on #67
@kavadas nobody proposed or even implied that jQuery should be removed. It shouldn't although it;'s totally useless. Whatever good script existed for jQuery already exists as plain js.
Nevertheless the discussion here is all about exposing **what technologies** applications in the JED are utilising. And probably flag the best ones and penalise the ones with the less optimal front end. Also penalis

[2019-01-10 21:04] kavadas commented on #67
@dgrammatiko I thought that this was the underlying meaning of your comments here :-)

I agree that the tool should encourage best practices.

Here are some «sci-fi» ideas for the tool:

1. Check extensions with database tables for indexes/performance.
2. If JED had templates then it could ask for a demo URL and then use the LightHouse API to evaluate it and display the score in the directory. A b

[2019-01-10 21:24] dgrammatiko commented on #67
Hahaha I did that already for the *best* template clubs out there and wanted to do a YouTube video with the actual results. But then again I've already gathered too many enemies in the community due to my ideas about jQuery and the beloved Bootstrap (both deprecated for any modern website) so I skipped...

[2019-01-10 21:36] Llewellynvdm commented on #67
Now I understand why WordPress has 54,260 components and Joomla hardly 10 000

Hey don't get me wrong... I hate it if people code in the dark, and do not really know how to do things right (because they are lazy). And yet who knows it all... But my real question, is the JED the place to deal with that. Will that not drive even more programmers away? If Jed is the place, are there not more producti

[2019-01-10 21:47] dgrammatiko commented on #67
@Llewellynvdm I don't think I quite agree here. JED is something like Apple Store or Google Play. Both have rules. I don't think that you can publish any app to Apple Store if you're not following their API. So nothing really new here.
About WP. Yes WP artificially allows more freedom. By the way did you knew that Classic Press was never included in their Extensions Directory (whatever the name).

[2019-01-10 22:01] Llewellynvdm commented on #8
@nikosdion sure... I can agree with what you said. My whole point was not how to deal with the issue (reviews disappearing), but that there is an issue. What I suggested (what you called free-for-all reviews) was just ideas... and hey I did not even know that is how WordPress does it... hmmm interesting.

@anibalsanchez I am also saying thank you :+1:

[2019-01-10 22:24] Llewellynvdm commented on #67
But we all know Joomla has advanced in to better implementation because some developers found better ways to do things, then the way Joomla's API at the time suggested. So innovation at times needs to prove to the rest who do not want to change, that there is a better way. Like the Unity theme in Ubuntu provoked change in Gnome, yet it took years...

So when you said

I just seriously just hope we

[2019-01-10 22:33] Llewellynvdm commented on #67
So the very thing we are trying to do, I mean encourage developers to move forward to better scripts, libraries and stuff. Could be the very thing that trap them in our little world just like Apple has done... but what do I know.

[2019-01-10 22:40] dgrammatiko commented on #67
@Llewellynvdm the suggestions here regarding the API are **only** for the assets, eg javascript and stylesheets files. And all and all this is more to act like a QA (quality assurance) rather than a firewall. I'm assuming you'll never buy an electric appliance if it didn't have the bare minimum of regulation conformity, right? The idea here is similar to that: provide a bare minimum set of rules f

[2019-01-11 09:56] anibalsanchez commented on #67
Thank you for your feedback. I've updated the recommendations, and I think that we have enough to produce the next version.

In the new JED Checker version, we are going to have rules that are enforced in the directory and recommendations to improve the general coding.

I'll update the issue with the news.

[2019-01-11 10:15] laoneo commented on #67
Please no forced coding standard on extensions!!

[2019-01-11 10:48] anibalsanchez commented on #67
Removed from the list to avoid confusions.

[2019-01-11 13:55] stevejburge commented on #8
We've been on the losing end of this with a good number of lost reviews of the years. But, I understand where the JED team is coming from and thank them for their work.

Just for context, this disappearing review problem is a few years old. Some sample links:
https://forum.joomla.org/viewtopic.php?f=262&t=940920
https://joomlaextensionsdirectory.atlassian.net/browse/JDEV-1060?jql=
https://joomlaex

[2019-01-12 19:02] MaghSamana opened #68 "Left a positive review for Gantry 5, someone deleted it, why?"
I recently begun to use Gantry 5 for my site, liked it, and thought to leave a positive review in Joomla! extensions.
Someone deleted it, I wasn't notified about it, and there is no way I can leave a review there. Something seems to be very fishy here, if normal users can't post their reviews and opinions about the various extensions available.

I expect an explanation. This wasn't normal.

[2019-01-13 11:35] Llewellynvdm commented on #68
There issue is related to [Reviews disappearing](https://github.com/joomla/jed-issues/issues/8)

Can you give us more details, like the time and any other **public info** that could help @anibalsanchez trace the problem. Would you be willing to try submitting the review again? and then take screenshots of the before and after... so if it disappears you have some proof? It is hard to work with what

[2019-01-13 22:14] MaghSamana commented on #68
Hi,

I tried to resubmit the review but the system wouldn't let me.  All I get is:
" Error
Not found! "

Time is recent, and for sure it was in December. Very likely in the last forthnight - though I don't remember exactly. The review was normal, and more or less said similar things with most other reviews there. I'm remaking an older website after quite some time ( it was in version 1.5), using l

[2019-01-13 22:31] anibalsanchez commented on #68
These GitHub issues are used to report system issues. We don't discuss here specific cases.

If you submitted a review, and it flagged now, then it is removed and you can't submit a new review.

Please remember, the Joomla! Extensions Directory is not responsible for any extensions listed, nor does the JED Team provide support for extensions. All reviews submissions are subject to the [Terms of Se

[2019-01-14 11:44] MaghSamana commented on #68
Hello,

The review would have been impossible to have been flagged, its content was just normal, and more or less similar to most other reviews posted there. Besides, I never received any notification, and only accidentally I noticed the review was missing.

Anyway, thanks for taking the time to answer, and I hope that these system problems are resolved.

[2019-01-14 12:02] MaghSamana commented on #68
Another problem just showed up!

Until a while ago, the reviews I had written with a positive rating (100) appeared normally. All of a sudden, they were changed into a rating of 80, and another field "value for money" appeared underneath, which wasn't there before. Now what is going on with this?

![untitled-1](https://user-images.githubusercontent.com/46110970/51111492-df7da500-1804-11e9-9a2b-355

[2019-01-14 12:52] anibalsanchez commented on #68
Which extension is showing -1 ?

[2019-01-14 19:51] tassosm opened #69 "The classic search results return unrelated extensions"
It seems that there's a bug in the classic search results (Not the new Instant Search) which return wrong and unrelated extensions.

For instance, enter "twitter" in the search box, do not select anything from the Instant Search and hit the Go button.

Here's what you will get:

![wrong_results](https://user-images.githubusercontent.com/6807469/51136038-2b9c0a00-1844-11e9-8388-e1328b1105ee.png)

T

[2019-01-15 08:10] tassosm commented on #69
It looks like the **limitstart** and **clearorders** parameters need to be removed as well in order to get proper results. Keep in mind that this issue affects only the case where the user fills the searchterms field only and hits Go.

@anibalsanchez the filters must have been affected the last month(s). Then the results were more accurate. Until the entire classic search is replaced, this must be

[2019-01-15 13:30] anibalsanchez commented on #69
Thanks, @regularlabs . The search results are shown consistently now.

[2019-01-15 15:53] tassosm commented on #69
Yes, there's definitely an improvement.

However, there's still an issue with the ranking factors. The results are now ordered by the Title match only. Before the issue arises, the **keyword density in the title and in the description** was the 1st ranking factor where we had more accurate results.

Here's why:

Let's say there's a top-rated extension about Twitter called "Tweet Pro". The user sea

[2019-01-15 19:41] dryabov opened #70 "Cannot change my email address"
I have the same issue as #9 posted in 2017. Detailed steps to reproduce (see attached gif):
- go to Profile
- activate Account tab
- change Email (and to be sure fill Password fields)
- I'm not a robot
- Save
- ... and nothing changed

![cannot-change-email](https://user-images.githubusercontent.com/378044/51205108-2f985c80-1916-11e9-9dae-e90b244b4c59.gif)

[2019-01-17 08:36] anibalsanchez commented on #8
**UPDATE**: We have redefined and reorganized the process of the review checkup. Now, reviews are not published until all controls are passed.

In these weeks, we are monitoring the new process. Overall, the original issue is solved.

[2019-01-17 08:46] nikosdion commented on #68
That's Akeeba Backup. No, the user didn't contact me. I clicked on the link to this issue linked to #8 after receiving the GitHub notification of your reply, Anibal :) The screenshot caught my eye because I remember the wording; it absolutely made my day a few days ago! It is a review I received for Akeeba Backup on January 13th.

Now, here's the fun part. The review shows on JED as 100%, see:
![i

[2019-01-17 08:51] tassosm commented on #8
@anibalsanchez is there any change in the spam filter rules or the developer will no longer receive an email notification if a review is marked as spam?

[2019-01-17 08:56] anibalsanchez commented on #8
The spam detection process is unchanged. It accepts/blocks the same case cases than before. In the field, we confirm that they are actively preventing spam reviews.

The recommendations are the same:

**Allowed and Encouraged**

- A full evaluation of the extension
- Courtesy and Honesty
- Pros & Cons of the extension and its performance
- Level of support received
- Ease of usage and deployment
-

[2019-01-17 09:06] anibalsanchez commented on #68
In the last month, we applied a new style to the site. **Value for Money** is a field that must not appear in free extensions. It is present at the database level (and the undefined value is -1), so it is possible that at some point the field was shown in the extension details.

Right now, it is working as expected, and  _Value for Money_ is not shown in Free extensions.

Since the original issue

[2019-01-17 20:25] MaghSamana commented on #68
Well, nothing is solved yet. I logged in right now in joomla.org and in my profile panel I still see the reviews exactly as the appear in the screenshot, and the 'value for money' field is still there, despite the reviews being for free extensions.

And the issue about the review for Gantry 5 still remains. The one I wrote (it was also a 100% review) simply disappeared, there was no notification a

[2019-01-17 22:47] anibalsanchez commented on #68
Ok, I see you are referring to the reviews in the user profile.

We'll review the case of how reviews are being displayed in that area-

[2019-01-19 10:51] Cabboss opened #71 "Log-in problems"
Hello.
I can not log-in to the Joomla! Extensions Directory. I am using Cabboss as username and my e-mailadress is webmaster@cabboss.dk.

Can you help me, please.

Thamk you in advance.

Søren

[2019-01-19 11:03] anibalsanchez commented on #71
Hi,

You have not activated the user. Check if you have received email and it is somewhere in your inbox (Spam folder may be?).

Otherwise, in 7 days, the user will be deleted and you can register again with the same email.

BTW: This ticketing system is used to report system issues only.

[2019-01-19 11:03] #71 closed

[2019-01-19 11:07] Cabboss commented on #71
Tnx.
Sory, but I am new to this. Where do I adress problems like this?

[2019-01-19 11:11] anibalsanchez commented on #71
JED has its own internal ticketing system. However, you must register first. Guest users can't change information on the site.

If you can't find the activation link, try registering with a different email (or, wait 7 days for the automatic user deletion)

[2019-01-19 14:19] jreviews opened #72 "New review notifications stopped working"
Previously when someone submitted a review for one of my extensions I received an email letting me know about the new review. Yesterday someone submitted a review and I didn't receive a notification. So it looks like this stopped working after one of the recent updates on the JED.

This is a big problem because a large number of real reviews are automatically unpublished. Wheareas before it was po

[2019-01-19 21:49] Llewellynvdm commented on #72
This is yet again another issue related to #8 which is very interesting indeed, as more and more developers are noticing this problem, and this open forum is underlining it very clearly :+1:  I have often gotten the idea that a hidden agenda is behind all this, but okay must be my imagination.

See what happened before was we got emails (like you said) and then could notice the review was not publ

[2019-01-19 22:47] jreviews commented on #72
I am thankful for the work that Anibal and the rest of the team are doing to maintain and improve the platform and hope that this bug will be fixed soon.

[2019-01-21 20:13] MaghSamana commented on #68
It's been fixed! I just logged in now, and reviews in my user profile are displayed normally.

So, it's only the missing Gantry 5 review now. I still can't post one, there.

[2019-01-22 20:22] roland-d opened #73 "Missing error code"
When you visit this URL:
`https://extensions.joomla.org/extensions/extension/e-commerce/credits-a-point-systems/alphauserpoints/`

You will get a message the reason for unlisting is error code `PE1` and when you click on the link `View error codes` this list has no entry for `PE1`.

[2019-01-23 08:47] anibalsanchez commented on #73
PE1 means "under investigation".  I've just added it to the list: https://extensions.joomla.org/support/knowledgebase/item/unpublished-extensions-error-codes/#PE1

## PE1-Under Investigation
The JED team has received one or more user reports. After confirming the issue, or an infringement of JED TOS, the extension has been unpublished under this error code and contacted the developer to solve it.

[2019-01-23 08:47] #73 closed

[2019-01-24 20:56] efduggan opened #74 "JED listing shows 200 Other extensions when using JED RSS feed"
**Describe the bug**
The JED page for an extension shows an incorrect number of other extensions when reached via the JED new extension directory feed

**To Reproduce**
1. Click on an entry in the JED RSS feed (http://feeds.joomla.org/JoomlaExtensions)  you are sent to that extension’s listing with a URL **like** : https://extensions.joomla.org/browse/new/extension/CATAGORY/SUB-CATEGORY/EXTENSION

[2019-01-26 13:40] anibalsanchez commented on #8
The review notification issue has been solved and we haven't received more reports.

Issue closed.

[2019-01-27 16:32] tassosm commented on #8
Still happening..

Yesterday I got a notification stating that my extension [Google Structured Data](https://extensions.joomla.org/extensions/extension/search-a-indexing/web-search/google-structured-data-markup/) received a review as you can see in the screenshot above:

<img width="924" alt="screenshot 2019-01-27 at 18 24 27" src="https://user-images.githubusercontent.com/6807469/51803719-e4a90e0

[2019-01-27 18:10] anibalsanchez commented on #8
@tassosm Let me review the case.

[2019-01-27 19:17] anibalsanchez commented on #8
@tassosm Yes, the notifications are sent when all checks are passed. So, you received the notification about that review, when it was processed and published.

I'm going to adjust the job to increase the speed. Thanks for your feedback.

[2019-01-27 19:53] tassosm commented on #8
You're welcome. I need a clarification, though.

If all checks have been passed why the review is not published? What job needs to be adjusted?

[2019-01-28 08:54] anibalsanchez commented on #8
Reviews are published immediately after all checks are passed.

Notifications are sent by a daily process after the Review Checker.

So, I think that now we need to adjust the processing windows to accelerate the notifications. Right now, there are messages sent after two days. In your case, you were confused by the time delay, not relating the notification with the last review.

I think that the

[2019-01-28 10:48] Llewellynvdm commented on #8
@anibalsanchez I think the idea:

Will be stunning! That is if I understand correctly that "a summary of the activity" means more info over why the review was **approved, or rejected**. Specially when those reviews are not 100% spam.

**I therefore still think** the option to notify developers why a review **was not approved**, is very much needed. **They can turn it off** in their JED profile if

[2019-01-28 11:08] jreviews commented on #8
Notifications for new reviews stopped working again after a brief fix following #72 . Today a new review was published for one of my extensions and there was no email to go along with it. Looks like there was a regression to the recent fix.

[2019-01-28 11:51] jreviews commented on #51
If reviews are being discarded because of links, then adding a simple validation that looks for URLs in the review text and providing feedback to the user to remove them in order to submit the review would be a good improvement.

[2019-01-28 12:08] hdouglassmith commented on #51
I am not sure I agree with this, the most times we get links is with spammers, I don't see any point in advising them to remove the link. We make it clear in the instructions not to include links, i think we can assume a level of intelligence for legitimate reviewers?

[2019-01-28 12:13] jreviews commented on #51
@hdouglassmith Are you a JED editor? If you are, then you clearly have more visibility than me in assuming that all reviews with a link must be spam. I don't believe all reviewers are native english speakers or that everyone reads the instructions. I do believe that when someone spends valuable time writing a review, it's not fair to the reviewer nor the extension developer to automatically discar

[2019-01-28 12:37] jreviews commented on #8
I believe informing reviewers that their review was not approved and allowing them to update it for re-submission is also important and respects the time the reviewer put into writing his or her review in the first place. I believe the premise that a review is being submitted in good faith and that people make mistakes should be given more weight than the premise that every review that doesn't mee

[2019-01-28 13:40] anibalsanchez commented on #8
Back to the original topic, the notifications are sent daily. If there are new reviews published, then you'll receive a notification per extension.

[2019-01-28 13:44] anibalsanchez commented on #51
@jreviews If you have time to collaborate, the Dev Team is always open to improving the current system.

**Fun in JED: bug smashing and feature development**: https://extensions.joomla.org/blog/item/fun-in-jed-bug-smashing-and-feature-development/

**Contributing Code to the JED**: https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-jed/

[2019-01-28 14:18] jreviews commented on #51
@anibalsanchez According to https://forum.joomla.org/viewtopic.php?f=262&t=968658

The second point is not reflected on the second link you shared.

[2019-01-28 16:25] anibalsanchez commented on #51
JED4 is in the future. Right now, we are still collaborating to support JED3 and support the system before Joomla 4 lands.

[2019-01-28 16:27] anibalsanchez commented on #51
The confusion might come from the development workflow improvements that are already operating in the infrastructure for Joomla 4 - JED4.

But, the live system is still in Joomla 3 and JED3.

[2019-01-29 12:06] jreviews commented on #8
@anibalsanchez Staying on topic, there is still an issue with notifications. 2 new reviews were published for one of my extensions. One on January 27, the other January 28. I did not receive an email notification for either one.

[2019-01-29 12:17] anibalsanchez commented on #8
Let's wait for the daily process. I'm checking how much we can accelerate it. It looks like the current settings are too conservative.

[2019-01-29 12:19] jreviews commented on #8
Just to clarify those reviews were published yesterday and day before yesterday. I waited until today before writing here to see if the notification arrived, and it didn't.

[2019-01-31 11:58] MaghSamana commented on #68
Hey, what on earth is going on now???????

I just left a review for Agosm free component/module (the developer helped a lot with support and helped solve a problem) and it again appears to have disappeared!!!!

https://extensions.joomla.org/extensions/extension/maps-a-weather/maps-a-locations/agosm/

This can't be normal.......

[2019-01-31 12:10] MaghSamana commented on #68
The number of reviews next to my profile name was changed from 6 to 5. The review I had posted just above the one shown in the screenshot disappeared - but the reviews number is still visible: 2 (mine was the second).

![untitled-1](https://user-images.githubusercontent.com/46110970/52053315-b4fc4d80-2561-11e9-9ad5-ad4a19ed6069.jpg)

[2019-01-31 14:09] anibalsanchez commented on #68
Your reviews have been flagged. The system is detecting a **Submission via an IP masking service or VPN**.

Since the reviews are not disappearing or being deleted, I don't see an issue, and the system is working as expected.

[2019-01-31 14:19] anibalsanchez commented on #8
We have been monitoring the notifications and they are arriving after the reviews are published.

So, reviews are no longer being unpublished after receiving notifications.

I still have to improve the speed of the process to send them on the same day (24 hs). I think that I'm going to implement the final enhancement this weekend.

So, issue closed.

[2019-01-31 14:19] #8 closed

[2019-01-31 14:21] anibalsanchez commented on #51
UPDATE: We are already working on a fix. Txs @jreviews !

[2019-02-01 12:48] MaghSamana commented on #68
"Submission via an IP masking service or VPN."

It's from either a normal home connection from the largest telephony/internet provider of the country I reside, or from my workplace's network (a web development & digital design company). Nothing unusual.

[editing comment to add PS]
PS: After checking post times, here, the second review submission was from my home. And so was the first. Meaning it

[2019-02-01 12:51] MaghSamana commented on #68
Either way, your system is badly configured to attack normal organic reviews. And since the issue has been clarified, and it's been your error, I expect my reviews to be back and visible.

And when a system mistake is found out and recognised, the least you can do is reinstate those reviews. Why should I have to make another account simply to post these again?

You have removed important informati

[2019-02-01 15:49] MaghSamana opened #75 "Reopening the issue of falsely-flagged reviews in joomla.org"
Continuing from the previous thread:
https://github.com/joomla/jed-issues/issues/68

The reason is a false claim, posted:
--------------------------------------
anibalsanchez
Your reviews have been flagged. The system is detecting a Submission via an IP masking service or VPN. Since the reviews are not disappearing or being deleted, I don't see an issue, and the system is working as expected.
----

[2019-02-01 15:53] anibalsanchez commented on #75
I'm reponing the original issue. Please, follow #68

[2019-02-01 15:53] #75 closed, assigned to nobody

[2019-02-01 15:53] MaghSamana commented on #75
OK.

[2019-02-01 15:54] anibalsanchez commented on #68
@MaghSamana There is no much we do about the validation

[2019-02-01 16:07] anibalsanchez commented on #68
I mean in our internal discussions we know that we need to improve the "IP masking service or VPN" detection.

You could not be even aware of the usage of it in your networks. However, since the current controls reject your addresses, the reviews are not approved.

By the way, this ticketing system is for reporting system issues, not for discussing personal cases.

[2019-02-01 16:35] MaghSamana commented on #68
The thing is, that I posted all the recent reviews from the same home network/IP. Two of them got flagged, t the others didn't. From the same home network. So, it is a system problem.

And all these, frankly, make people fed up, while they come in good faith to review extensions that they use, and post information that will benefit other users. Especially free extensions are very important -  imag

[2019-02-01 16:50] anibalsanchez commented on #68
In your network, you could be sharing IPs with "bad neighbors". So, sometimes you work with different qualities of connections.

In your case, we have double-checked your case, and the review raised several flags. So, it certainly not a system error.

[2019-02-01 16:53] MaghSamana commented on #68
Let's make a test. I will create another account, and try to post the reviews again. And from the very same home/IP that I posted the others, where some of them are still there. I'll keep screenshots, see if there are any issues, and come back here to report the results of the experiment.

So, let's sleep on it for now, and tomorrow I'll have more info on this.

[2019-02-02 10:21] anibalsanchez commented on #69
@tassosm The classic search is powered by MySQL, so it is little that we can do about to rank better.

I'm working on full-text search technology, so the plan is completing the new instant search implementation as soon as possible.

The new full-text search engine has everything to tweak and adjust the search results, and it has a whole different text analysis level.

[2019-02-03 12:23] anibalsanchez commented on #51
The enhancement is implemented now. Reviews are validated before submission.

Thanks, @jreviews for taking the necessary steps to solve the issue!

[2019-02-04 06:44] tassosm opened #76 "Rating Star is no longer shown next to Reviews Count"
**Expected behavior**
![image](https://user-images.githubusercontent.com/6807469/52193656-eb371700-2858-11e9-9a8a-5bbd08320664.png)

**Screenshots**
![image](https://user-images.githubusercontent.com/6807469/52193682-0570f500-2859-11e9-9549-9c7a61689702.png)

[2019-02-04 08:07] anibalsanchez commented on #76
What do you think about the idea @regularlabs ? I think that it can add value to the current card iteration.

[2019-02-04 08:19] regularlabs commented on #76
Well, the scores were there a day or 2 ago.
So something changed in the latest pushes you did, removing the scores.

So this is not an idea, this is a bug report.

[2019-02-04 08:23] anibalsanchez commented on #76
Ahhhhh .... ok

I updated to the latest J 3.9.2. Could it be related to a view override?

[2019-02-04 08:27] regularlabs commented on #76
https://github.com/joomla/jed-dev/blob/develop/public_html/components/com_jed/layouts/bootstrap3-fontawesome/extension/listitem.php#L163-L171

No idea why that is not being done anymore...

[2019-02-04 08:30] regularlabs commented on #76
Makes no sense. If there is no score, it would have to output the 'not rated' text.
That isn't there either.

I don't see any other use of `class="info-rating"` anywhere.

[2019-02-04 08:34] anibalsanchez commented on #76
We could have broken something with our updates to the review form.... but it should have affected the grid view ...

[2019-02-04 08:41] regularlabs commented on #76
Can you double-check if that file is as it should be on the live server?

[2019-02-04 08:43] anibalsanchez commented on #76
That's the problem ... I'm reverting back to else :

[2019-02-04 08:48] regularlabs commented on #76
Ah, now I see the addition of the `<?php elseif(isset($reviewLink)) : ?>`.
Why is that in there?

[2019-02-04 08:51] regularlabs commented on #76
Ok, this would be better:
[code]
So just remove the `<a>` tag.

[2019-02-04 09:36] anibalsanchez commented on #76
Fix applied. Thank you @regularlabs

Txs for reporting @tassosm

Issue solved!

[2019-02-04 09:36] #76 closed, assigned to anibalsanchez

[2019-02-05 12:00] pe7er opened #77 "Activate account"
Yesterday I tried to create a new account at https://extensions.joomla.org/
I did not receive the confirmation mail with activation link.

When I try to login with the user details, I get the error:

Could you please resend the activation notification?
I can supply the account details via Glip...
Thanks!

[2019-02-05 14:44] jreviews commented on #77
Same as #58

[2019-02-05 14:55] anibalsanchez commented on #77
You are right @jreviews

JED (or Joomla) doesn't have an official way to resend activation links or deleting users not activated.

The idea is implementing a process to remove unactivated users.

Closing this ticket as duplicate, please, follow #58

[2019-02-05 14:55] #77 closed, assigned to anibalsanchez

[2019-02-05 22:58] philip-sorokin opened #78 "Cannot reply to a review"
**Describe the bug**
I have listings on the JED, and cannot reply to reviews I get.

**To Reproduce**
1. Click on the "Reply" link.
2. Write the reply.
3. Submit

**Errors**
1. Functionality is required
2. Ease of use is required

**Screenshots**
![2019-02-06_01-57-12](https://user-images.githubusercontent.com/11632367/52309929-a9ba7f00-29b2-11e9-932e-e660bdd60868.png)

**Desktop (please complete

[2019-02-06 10:14] pe7er commented on #77
Ok, thanks

[2019-02-06 18:17] tassosm commented on #69
Until the new search is ready, the current ranking issue must be addressed. Would like me to take a look and provide a PR fix once I have the time?

[2019-02-06 21:00] anibalsanchez commented on #69
Sure, pls @tassosm go ahead. I suspect that it is related to the recent changes in the general style, but not really sure. You can check the last PR #223, it could be a similar issue.

[2019-02-07 09:07] anibalsanchez commented on #78
Thanks, @philip-sorokin for reporting!

Thanks, @jreviews for fixing the issue :+1:

[2019-02-07 09:07] #78 closed, assigned to anibalsanchez

[2019-02-08 09:30] anibalsanchez commented on #58
We have implemented a new process to periodically remove inactive accounts.

Case closed. Txs for reporting

[2019-02-08 09:30] #58 closed

[2019-02-09 11:38] tassosm commented on #69
Please check the PR. By moving body_weight before title_weight we get more accurate results.

[2019-02-09 13:24] anibalsanchez commented on #69
Txs @tassosm ! Merged.

Tomorrow, I'll complete the testing and publishing to the live site.

[2019-02-11 09:17] anibalsanchez commented on #69
Published! The new search with weight on the title is live. Thanks @tassosm

Issue solved.

[2019-02-11 09:17] #69 closed

[2019-02-11 09:19] Gitjk opened #79 "JED Filter Browse Extensions - New extremely slow"
Since a few weeks the 'time to first byte' when selecting 'Browse Extensions' > 'New' usually is between 60 and 90 seconds. The other two options work fine. A problem with the CDN?

BTW - I think the JED would create much less server load, if the thumbnail images would be scaled once to the required size and afterwards be stored and called from the database with the displayed width and height inst

[2019-02-11 09:24] anibalsanchez commented on #66
The new form has been implemented, and the implementation is complete.

[2019-02-11 09:24] #66 closed

[2019-02-11 09:36] anibalsanchez commented on #68
To clarify the case of "pending processing" reviews, now reviews are only shown to the author until they are confirmed.

![star-review-2](https://user-images.githubusercontent.com/385780/52554966-b5f67000-2de8-11e9-92a9-40ae94acd173.png)

Issue solved. We are going to continue the efforts to improve the review system. Thanks for reporting.

[2019-02-11 09:36] #68 closed

[2019-02-11 09:38] anibalsanchez commented on #79
The problem is in the database. It has been working fine for years, but the query is performing badly now.

[2019-02-11 11:14] GeraintEdwards opened #80 "Extension doesn't appear in Algolia search by extension name"
One of my extensions, YourSites (,https://extensions.joomla.org/extension/yoursites-manager/) has been listed on the JED since August 2018 and appears in the algolia search under various keywords e.g. 'site manage' etc. It also appears if you use a typo in the extension name e.g. 'yoirsites' or 'yoursoites'.  (searching without the single quote of course).

BUT it does not appear if you search for

[2019-02-11 11:17] anibalsanchez commented on #80
Thanks for reporting.

I've verified that other extensions are returned search by exact name or partial name match, however, YourSites is not matched.

I'll check the case in detail to find out the underlying issue.

[2019-02-11 15:05] Gitjk commented on #79
Might be too simple, but just in case you didn't try that already. If the query didn't change, maybe running the table maintenance tools in phpmyadmin eventually would fix the issue.

[2019-02-11 22:08] MaghSamana commented on #68
I have done the following tests.

1. Posted another review from my account, same home network and IP - the one that was flagged in the two previously mentioned reviews. This one went through normally.
2. Made a test account, and from the same home network and IP, posted two reviews, in the two extensions where the problem showed up. Again, both appeared normally.

So, there must have been a system

[2019-02-13 13:23] jreviews commented on #65
Another recent example can be seen here https://extensions.joomla.org/extensions/extension/access-a-security/site-security/akeeba-backup/

The last 3 reviews from 07 February 2019 are the same.

![image](https://user-images.githubusercontent.com/31069418/52714653-cfc2bf00-2f70-11e9-80a0-72ae470c053f.png)

[2019-02-15 09:04] anibalsanchez commented on #79
@jreviews nailed it down. 👏👏👏

The issue is solved. Thank you!

[2019-02-15 09:04] #79 closed, assigned to anibalsanchez

[2019-02-15 12:31] jreviews opened #81 "Twitter cannot load extension images"
Extension images are stored in the /cache folder which is excluded by robots.txt and prevents them from being used in Twitter cards.

![image](https://user-images.githubusercontent.com/31069418/52856951-1c86d100-30fc-11e9-9212-1d74333ffbba.png)

[2019-02-15 15:00] anibalsanchez commented on #81
Please, recheck it now: https://extensions.joomla.org/robots.txt

[2019-02-15 15:10] jreviews commented on #81
Change looks good, but it still doesn't work. Maybe Twitter cached the robots.txt file and we need to wait for a refresh.

[2019-02-15 16:02] Gitjk commented on #79
Just curious - what was the problem? (I suppose the JED is not using jreviews)

[2019-02-15 16:15] jreviews commented on #79
A different database table column was used to improve the performance of the query.

That is correct.

[2019-02-15 16:18] anibalsanchez commented on #79
The JED database is so complex, that a wrong order changes the whole performance.

[2019-02-15 19:37] jreviews commented on #81
It's fixed.

[2019-02-15 19:37] #81 closed, assigned to anibalsanchez

[2019-02-20 16:21] anibalsanchez commented on #50
Thanks, @jreviews for fixing the issue! PR #273 https://github.com/joomla/jed-dev/pull/273

It is already merged on stage. Tomorrow, I plan to publish it to the live site.

[2019-02-21 08:33] anibalsanchez commented on #65
We have executed a process to clean the duplicated reviews and optimized the system to avoid delays.

Issue solved.

[2019-02-21 08:33] #65 closed

[2019-02-21 08:36] anibalsanchez commented on #59
The system now accepts up to 20mb. Thanks @jreviews !

[2019-02-21 08:36] #59 closed

[2019-02-21 08:37] anibalsanchez commented on #50
PR merged and live on the site.

Issue solved?

[2019-02-21 10:58] ciar4n commented on #50
Yep. Tested and now resizing correctly. Nice job @jreviews

[2019-02-21 10:58] #50 closed

[2019-02-22 06:46] Llewellynvdm commented on #59
Thank you too!

[2019-02-23 17:59] PhocaCz opened #82 "Two extensions under the same name"
Hi, there are two extensions stored under the same name.

See example:

**To Reproduce**
Search for "phoca photo" in JED, you get two results:

![Phoca Photo](https://i.imgur.com/ln2ZTRx.png)

which is OK, one is component, second is plugin, but if you click on both, you will be redirected always to component only. Even when I want to edit the plugin, I am redirected to the component page, so in f

[2019-02-23 19:54] anibalsanchez commented on #3
We have merged a fix related to pagination. Thanks, @jreviews

Still, the pagination remembers the page position from previous navigation, so I think this issue is still happening.

[2019-02-23 19:56] anibalsanchez commented on #29
We have merged a fix related to pagination. Thanks, @jreviews

Still, the pagination remembers the page position from previous navigation. Additionally, when the user selects a page size, it renders the pages numbers OK. But, when the user visits a page, the page limit goes back to the original value.

So, I think this issue is still active.

[2019-02-23 19:57] anibalsanchez commented on #63
We have merged a fix related to pagination. Thanks, @jreviews

Still, the pagination remembers the page position from previous navigation. Additionally, when the user selects a page size, it renders the pages numbers OK. But, when the user visits a page, the page limit goes back to the original value.

So, I think this issue is still active.

[2019-02-24 14:00] jreviews commented on #63
@anibalsanchez

I believe the selected limit option is stored in a user state session variable and remembered throughout the site for the duration of the session as the user's preference. The alternative to this would require including the "limit" parameter in the URL, which is not how the system currently works.

I am not seeing this issue on my end. If I change to 36 items per page. Click page 2

[2019-02-25 08:31] anibalsanchez commented on #82
Since both are the same extension, it looks that there's a bug in the search query.

[2019-02-25 08:46] anibalsanchez commented on #63
@jreviews

Another idea, the user state session variable could be per pagination... but it would require identifying each pagination. So, the variable remembers the position for each pagination.

The original problem is remembering the page position in the session after the user leaves the pagination. The best solution would be removing the pagination state from the use session and keeping the sta

[2019-02-25 11:03] anibalsanchez commented on #63
We have confirmed that the original issue is working as expected.

We'll continue improving the pagination.

Thanks fior reporting. Case solved.

[2019-02-25 11:03] #63 closed

[2019-02-25 12:21] PhocaCz commented on #82
No, they are not:
1) Phoca Photo Component
2) Phoca Photo Content plugin

both are different extensions. But they have the same alias in JED (phoca-photo)

[2019-02-25 12:30] PhocaCz commented on #82
But now I see, it is solved, I added new entry there and it is called "content-phoca-photo", so this solved the problem.

Thank you, Jan

[2019-02-25 12:30] #82 closed, assigned to anibalsanchez

[2019-02-26 03:38] arzaafshar commented on #80
I have the same issue. Both Simple Facebook Post Embed https://extensions.joomla.org/extensions/extension/social-web/social-display/simple-facebook-post-embed/ and Simple Twitter Embed https://extensions.joomla.org/extensions/extension/social-web/social-display/simple-twitter-embed/ are not showing up on the JED results when you search for Facebook or Twitter. Both of the extensions were listed on

[2019-02-26 08:44] anibalsanchez commented on #80
Thanks for reporting. I'm preparing an update to the search engine. So, I'll check these cases as part of the new implementation.

[2019-03-06 03:05] arzaafshar commented on #80
Hi. Is this issue resolved? Thank you.

[2019-03-06 16:00] anibalsanchez commented on #80
Not yet.

[2019-03-08 05:48] YGerry opened #83 "Notice in extension.joomla.org "write a review""
Hi,

If I want to write a review, I get this Notice:

OS: Ubuntu
Browser: Firefox 65.0.1

But I Didn't use IP masking service or VPN . . .
Greetings from Paderborn . . .

[2019-03-08 10:14] anibalsanchez commented on #83
Hi,

The system has detected a connection issue. The issue could be even in the neighborhood of your connection, and not directly related to your computer.

To continue, we recommend using a different Internet connection.

Best Regards

[2019-03-08 10:14] #83 closed, assigned to nobody

[2019-03-09 14:58] cyrez opened #84 "Bug or rating change ? (ranking by stars and reviews)"
Just a few days ago, my extension _iCagenda_ was 3rd in the standings for the category **Calendars & Events**: https://extensions.joomla.org/category/calendars-a-events/

That was ok: 5 stars and 154 reviews.

With no changes in rating (stars) and number of reviews for all top extensions of this category in last days, my extension is now on 16th position... :-|

I see the same issue appeared in **

[2019-03-09 14:59] cyrez commented on #65
Thanks! 👍

[2019-03-09 15:59] anibalsanchez commented on #84
We haven't changed the rating.

Please, take into account that the rating changes with time (Freshness factor). Please, check these slides with a high-level description:

https://docs.google.com/presentation/d/1YTUvhYEK-bxoEE5-vJsjv06kZAvhpsAjSRmsY2w9GkU/edit#slide=id.g21ec0048aa_0_8

https://www.youtube.com/watch?v=KyD1i8hVgpY

[2019-03-10 16:09] cyrez commented on #84
Well, so how an extension with 9 reviews, **latest review 4 years ago** (and latest update 3 years ago) could be ranked top of mine with 5 stars and 154 reviews ?... :-|

[2019-03-11 23:36] marcobeierer commented on #84
Hi @anibalsanchez

I have not checked the reported situation, but it seems that something doesn't work correctly in the rating system. The rating of one of my extensions also seems to be incorrect, namely the rating of my Sitemap Generator (https://extensions.joomla.org/extensions/extension/structure-a-navigation/site-map/sitemap-generator/).

I did some calculations and took the freshness into ac

[2019-03-12 08:41] anibalsanchez commented on #84
The current algorithm has been running without changes for ages. The last change was your improvement @marcobeierer .

We could create a new algorithm, and I'm in favor of improvements and new features. For instance, I would like to add a **mobile-first factor**, to improve the ranking of "modern extensions". However, it is a process that must be backed by the whole community of developers.

To be

[2019-03-16 11:01] marcobeierer commented on #84
Thank you @anibalsanchez for your reply and the explanation.

I will first check if there is a bug in the current calculation and fix it if so.

Then I will have a look if I have some ideas to refactor the score calculation to make it more readable and easier to work with in the future. If I have an idea, should I make a short proposal first?

Afterwards we can think about a new algorithm and the

[2019-03-16 12:38] cyrez commented on #84
@anibalsanchez Not there for ages, but for 4 years and 5 months... ;-)

I don't think we should create a new algorithm, but to improve it.

**The freshness factor starts to show some issues**, as i don't think that yourself, you will see as normal that an extension with 9 reviews, latest 4 years ago, no updates since years, and not all reviews at 5 stars to be ranked top of an extension with 154 r

[2019-03-21 17:28] robertomarinello opened #85 "Error Security checks for reviews"
(sorry for my bad english)
I tried to write a review but, after the login, it appears this error:

Error
Security checks determined you may be using an IP masking service or VPN. To continue, you need a different Internet connection.

I don't mask the IP or using a VPN

[2019-03-21 17:40] anibalsanchez commented on #85
The validation is finding an issue. It could be related to your IP or our local network (beyond your personal connection).

Please, try to submit the review from a different location.

Best regards

[2019-03-25 12:52] jeckodevelopment opened #86 "Newsletter subscription page looks weird"
URL: https://extensions.joomla.org/newsletter/

The newsletter subscription module isn't displayed properly.

![immagine](https://user-images.githubusercontent.com/733133/54921090-2b378380-4f05-11e9-93d9-218c5fbc4d67.png)

[2019-04-02 08:28] ludek-vesely-phrase-com opened #87 "Data Issue: Cannot find my extension in the Profile Tab"
Hi, I've submitted an extension `Memsource Connector` on JED but I cannot find it, neither submit a new version. When I go to `Extensions` in JED Profile, I see only this message:

![Profile](https://user-images.githubusercontent.com/46561869/55386278-6e11e080-552f-11e9-9e62-bc91a32d6a88.png)

When I try to submit the extension again, it says that given extension already exists:

![Add_an_extensio

[2019-04-02 18:29] arzaafshar commented on #80
Hi. Did we get this issue resolved? Thank you.

[2019-04-03 07:44] anibalsanchez commented on #80
I've been implementing tweaks to the search settings. In a few weeks, the classic search will be removed and the Algolia Instant Search will replace it on the site.

At this time, the search results are showing the reported case. So, we can safely close this issue.

Thanks!

[2019-04-03 07:44] #80 closed, assigned to anibalsanchez

[2019-04-04 14:10] Webdongle opened #88 "Install from web not connecting"
Steps to reproduce the issue
Navigate to Extensions >>> Manage ... Install from web (tab)

Expected result
Extensions display

Actual result
Message says
"Can't connect to the Joomla! server. Please try again later. "

[2019-04-04 14:21] mbabker commented on #88
IFW isn't maintained as part of JED.  Server issues should go to https://github.com/joomla/install-from-web-server and plugin issues to https://github.com/joomla-extensions/install-from-web-client.

[2019-04-04 15:44] Webdongle commented on #88
I don't know if if it is a server issue or a plugin issue.  It's been reported so it's up to you devs to sort iit out. very time I post an issue I get passive aggressive shite and the bloody run around.

[2019-04-04 16:44] anibalsanchez commented on #88
@Webdongle please, follow the issue here: https://github.com/joomla-extensions/install-from-web-client/issues/56

[2019-04-04 16:44] #88 closed, assigned to nobody

[2019-04-04 16:59] Webdongle commented on #88
@anibalsanchez that thread appears to be related to using chrome?  I used firefox

[2019-04-04 17:08] anibalsanchez commented on #88
Please, describe the issue there. I'm finding that it seems to be a https/http issue.

[2019-04-04 17:41] Webdongle commented on #88
@anibalsanchez I have already reported it in two places and been told they are the wrong places.  I am out of this now.

[2019-04-04 17:48] mbabker commented on #88
That's an unfortunate side effect of there being so many repositories for different parts of Joomla (be it the CMS itself, decoupled extensions, or `joomla.org` related things), and GitHub's beta for moving issues across repositories is broken so that's not useful for an admin to move an issue to the right spot.

Look, I have no problem fixing an issue.  Hell, I'll even clock out from work and put

[2019-04-04 17:59] toivo commented on #88
Cross posting here:

Just confirming that the URL in the request for the Install from Web dashboard works all right in Chrome v72.0.3626.121 and fails with two CORB messages in Firefox v66.0.2 but there is no report about mixed content:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://appscdn.joomla.org/webapps/index.php?format=json&option=com_

[2019-04-04 18:15] Webdongle commented on #88
@mbabker thanks for that but it looks like a catch 22.  If I knew what was wrong then I would say.  But unfortunately all I know is the error message that I get.
![install from web 02](https://user-images.githubusercontent.com/1115202/55578515-0cf43380-570e-11e9-9175-f1eb8081dc73.JPG)

[2019-04-04 18:18] mbabker commented on #88
Like I was saying in the CMS repo issue, check your browser console.  I just dusted off Firefox and checked it and am hitting the same problem now, and it looks to be the same cross-origin request issue in https://github.com/joomla-extensions/install-from-web-client/issues/56

[2019-04-04 18:21] toivo commented on #88
Chrome v73.0.3683.86 on a different Windows 10 machine works all right, too.  The remote website has a valid SSL certificate, issued by cPanel, Inc.

[2019-04-04 18:37] toivo commented on #88
Same website and Microsoft Edge works all right but Internet Explorer 11 fails.

[2019-04-04 18:41] toivo commented on #88
Confirming that both Chrome v73 and Microsoft Edge work correctly while the AJAX request fails in Firefox and Internet Explorer 11.

[2019-04-20 09:58] anibalsanchez commented on #37
The new search is published: https://extensions.joomla.org/instant-search/

The classic search is still published too, and it will be slowly deprecated in the future.

Please, check how it works. Feel free to submit new issues in case you find any opportunity for improvements.

[2019-04-20 09:58] #37 closed

[2019-04-22 06:22] tonypartridge opened #89 "Other extensions showing 200 instead of 2?"
![BF8589DD-8032-48BD-8E7F-0F9B0EA4D266](https://user-images.githubusercontent.com/1400982/56486356-3adbc500-64cf-11e9-9529-21dba8511013.png)

See above, on:
https://extensions.joomla.org/browse/new/extension/news-display/articles-display/copy-me/

[2019-04-22 06:45] ssnobben opened #90 "Filter doesnt work after new/updated - Advanced search"
Hi

before you got had an **second filter** after you have choosen Extension ..> **for "New/Updated" for Advanced search**- Now they are not there after you have selected first one of New or Updated ( Advanced Search ).

Hope you get this back though it was the only way to get the latest updated and new extension and you can filtered them for that.

Maybe also have a top menu link as you have for

[2019-04-22 06:56] ssnobben opened #91 "Have two modules for "New" & "Last updated" on front page"
Hi

I have a suggestion to have two rows with nice show case modules for "New" & "Last updated" on front page https://extensions.joomla.org/ where you show case let say the latest 3-4 extension that is new & updated.

Could be between the advertisment and the extension categories..

[2019-04-22 07:52] anibalsanchez commented on #90
Fixed! The advanced search box is visible again.

[2019-04-22 07:52] #90 closed, assigned to anibalsanchez

[2019-04-23 14:15] marcobiagioni76 opened #93 "Not possible to submit reviews for paid extensions"
**Describe the bug**
It's not possible to submit a review for paid extensions because the validation for the field 'Value for money' always reports 'Value for money should be longer than 64 characters'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a paid extension
2. Click on 'Add review'
3. Fill in all fields including the 'value for money' with the correct length
4. Submit the revi

[2019-04-23 14:22] anibalsanchez commented on #93
May be there's an issue on the new validation? @jreviews

[2019-04-24 10:12] anibalsanchez commented on #93
I've just fixed the issue introduced in the validation of fields.

@marcobiagioni76 Please, submit your review . Txs.

[2019-04-24 10:12] #93 closed, assigned to anibalsanchez, jreviews

[2019-04-25 09:14] Joomi1945 opened #94 "Links to VitaBook are no longer valid"
in Jed (url = https://extensions.joomla.org/extension/vitabook/) the links under Demo, Support and Documentation lead to a page which displays following text: joomvita.com has expired.
In my opinion VitaBook should be removed from JED.
Additionally, it appears that Vitabook is targeted by malicious Bots i.e.:
https://peppervoices.ch/index.php/component/vitabook/?start=222950

[2019-04-25 11:03] anibalsanchez commented on #94
Hi,

This ticketing system is oriented to manage system issues.

Please, report the broken link on JED (Report button)

Thanks

[2019-04-25 11:03] #94 closed, assigned to nobody

[2019-04-25 15:27] rajeshnanda33 opened #95 "Login to JED issue"
Hello,

I can't log in to JED.
I have changed passwords many times and trying to log in, but I can't log in.

My profile id is --> 190870
Please check. I can't manage all JED listings.

[2019-04-26 20:48] barkingmoonbat opened #96 "Can not write a review"
Security checks determined you may be using an IP masking service or VPN. To continue, you need a different Internet connection.

I'm not using any such service.  Tried with both verizon and my home internet system.

[2019-04-27 07:55] anibalsanchez commented on #96
The validation is finding an issue. It could be related to your IP or our local network (beyond your personal connection).

Please, try to submit the review from a different location.

Best regards

Original Issue: #85

[2019-04-27 07:55] #96 closed, assigned to nobody

[2019-04-27 11:10] barkingmoonbat commented on #96
Just tried from my phone on another network and am getting this now when
adding a review.
Thanks for your help.

On Sat, Apr 27, 2019, 3:55 AM Anibal Sanchez <notifications@github.com>
wrote:

[2019-04-28 07:10] nobicycle opened #97 "Common Payment API"
8000 extensions in the JED. Probably several hundred payment gateways in existence globally.
8000 x 400 = 3 200 000 = 3.2 million potential gateway pieces of code.

Financial processing is probably the most highly sensitive of all processing done within Joomla, and yet it is dispersed among innumerable code plugins. The risks are:

Waste of resources.
Each gateway code coded by a different develop

[2019-04-28 07:43] Kubik-Rubik commented on #97
This is core related, the discussion will proceed here: https://github.com/joomla/joomla-cms/issues/24746

Can be closed here.

[2019-04-29 10:15] anibalsanchez commented on #97
Duplicate

[2019-04-29 10:15] #97 closed, assigned to nobody

[2019-04-29 20:37] marcobeierer commented on #95
I just tried to login and the login seems to work fine.

Have you tried the `forgot your username` and `forgot your password` function at the [login view](https://extensions.joomla.org/register/profile/edit/)?

[2019-04-29 21:03] rajeshnanda33 commented on #95
Hi Marco,
Thank you for trying to help me.

**Issue Details**
I had submitted a ticket in JED for changing my registered mail id, but unfortunately, I did a spelling mistake. So after they changed the mail id, I couldn't log in.

Then I created another account at JED and submitted another ticket and described my mistake.
And they changed back to original mail id and another username.

Now I can se

[2019-04-30 07:56] anibalsanchez commented on #95
Great. Thanks for reporting.

[2019-04-30 07:56] #95 closed, assigned to nobody

[2019-05-06 09:45] anibalsanchez commented on #3
I can no longer duplicate the issue. After the latest updates, when the page limit changes, the page index goes back to page 1.

[2019-05-06 09:45] #3 closed

[2019-05-06 09:47] anibalsanchez commented on #29
After the latest updates, I can no longer reproduce the issue. When the user navigates, the pagination remembers the page limit.

[2019-05-06 09:47] #29 closed

[2019-05-06 09:52] anibalsanchez commented on #35
After the latest changes, the option "All" is not available anymore and all extensions of the developer are shown on the developer page.

[2019-05-06 09:52] #35 closed

[2019-05-11 15:25] Gitjk opened #98 "JED Search issue in certain cases %20"
**Describe the bug**
If I type _time track_ into the 'Find the extension you're looking for' search field on the JED homepage using the latest Firefox browser, it doesn't find anything and in the small search field on the results page it shows time%20track.
Noticed that the url seems to be double encoded.
See: https://stackoverflow.com/questions/16084935/a-html-space-is-showing-as-2520-instead-of-

[2019-05-11 21:58] dryabov opened #99 "Incorrect extension page rendering - Category = Extension name routing"
**Describe the bug**
The link to "Mobile" extension page in search results is https://extensions.joomla.org/extension/mobile/ (e.g. try to search for "mobile joomla"), but this page isn't rendered properly: the Home page is displayed again instead of the extension page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://extensions.joomla.org/'.
2. Type 'mobile joomla' in the sear

[2019-05-12 19:16] anibalsanchez commented on #98
It looks like your setup doesn't correctly interpret the space "%20" and it handles it as part of the query.

Please, try to search here: https://extensions.joomla.org/instant-search

What happens when you type and search for "time track"?

Is the final URL https://extensions.joomla.org/instant-search/?q=time%20track&hPP=10&idx=jed_live&p=0?

[2019-05-12 20:10] Gitjk commented on #98
Yes, that works. I see the same URL. But if I use the search form on the JED homepage and hit the 'Go' button, the %20 encoding error shows up and the url is:
https://extensions.joomla.org/instant-search/?searchall=track+time&q=track%2520time
where the %2520 seems to be the result of double encoding.

[2019-05-13 15:34] machadoug commented on #58
How often does this process run? In other words, how long should I wait?

[2019-05-20 14:33] dryabov commented on #99
Why other extensions are accessible via `/extension/[extension-slug]/`, but not `/extension/mobile/`? Was there a buggy update in the com_jed's router?

[2019-05-20 15:39] anibalsanchez commented on #99
The JED router hasn't changed recently. However, it is a known issue when an extension name matches a category name, both are available under the same path, and the JED router prefers to serve the path at the category.

Since it is a complex issue that requires extensive testing,  to solve your case, I recommend renaming the extension with a more specific name.

[2019-05-20 16:23] dryabov commented on #99
Is it possible to look at the router's source code (maybe under NDA, if necessary)? As far as I can see, links to category pages look like `/extensions/[slug]/` (versus extension's `/extension/[slug]/`), and so I hope it will be possible to localize and fix the issue by scrutinizing router's source with the knowledge of raw URLs of `/extension` and `/extensions` menu item.

[2019-05-20 16:35] anibalsanchez commented on #99
Sure. If you prefer to improve the router, we are going to welcome your collaboration. You can join the **JED Dev Team**.

Please, sign the JEDCA and forward me the confirmation to anibal.sanchez@extensions...org.

https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-jed/

After this step, I'm going to send you the rest of the dev tools and repo accesses.

[2019-05-24 13:20] level420 opened #100 "I'd like to delete my JED account. How do I do this?"
I found no possibility to remove my account from JED.
How can I do this?

Thanks in advance

[2019-05-24 14:04] anibalsanchez commented on #100
Hi,

You have two alternatives:

- Send us a ticket to remove your account from the site
- Send a "Right to be Forgotten" from all Joomla site: https://www.joomla.org/right-to-be-forgotten.html

Hope this helps! Let us know if there is anything else we can do.

[2019-05-24 14:04] #100 closed, assigned to nobody

[2019-05-26 09:27] lorenzs opened #101 "cancel account"
Please cancel my account navman_86.

[2019-05-26 18:13] msuencksen commented on #101
I also wanted to cancel my account, but cannot find any option for it on the JED website!

Should definitely be there.

[2019-05-27 06:45] jeckodevelopment commented on #101
Please submit any account removal request through the "Right to be forgotten" form:
https://www.joomla.org/right-to-be-forgotten.html

[2019-05-27 06:45] #101 closed, assigned to nobody

[2019-05-27 07:50] anibalsanchez opened #102 "Account / Delete account button"
From several requests #100 #101 , I can suggest the implementation of a "Delete account" button.

[2019-05-29 23:14] rajeshnanda33 opened #103 "JED Login Issue"
Greetings Team,

Irrespective of what, I am not able to log in into JED.
Changed passwords many times, checked username many times, still can't log in.

I also contacted the team with support tickets, support team answered as fixed 2 times.
However, I can't log in.

My last support ticket was on April 29th.
Till waiting for the fix.

My JED profile id: 190870
I am desperately waiting for the solut

[2019-05-30 06:46] anibalsanchez commented on #103
Your user looks fine.

Please, try to access the site with a different browser. Maybe cookies, redirections or something like that is playing tricks on your connection.

[2019-05-30 06:58] rajeshnanda33 commented on #103
It's nice to hear from You :)  Thank you.

I tried in a different browser, still, I can't.

I can log in from another new account which I had created to contact the support team in the same browser.

So the browser is no issue.

Please HELP.

[2019-06-02 18:59] anibalsanchez commented on #103
Hi,

There was an inconsistency in your user. I've just reset it and sent you the reset emails. Please, try now.

Regards

[2019-06-02 18:59] #103 closed, assigned to nobody

[2019-06-02 20:41] swifthunk commented on #103
Hi Anibal,

**I didn't receive the reset mail.**

Also tried the forgot password link, there didn't receive any mail.
Regards.

[2019-06-02 21:45] rajeshnanda33 commented on #103
**Thank you, Anibal.**

**You are the BEST.**

[2019-06-06 15:15] ZyXoid opened #104 "Doubling extensions in the instant search"
Some extensions repeat several times in search results. I think this is because separate words are making separate search results which then are merged.

**To Reproduce**
1. Go to https://extensions.joomla.org/instant-search
2. Type in the search filed word by word: "facebook page reviews"
3. See repeated extensions

**Screenshots**
![Screenshot_jed](https://user-images.githubusercontent.com/34715

[2019-06-08 11:30] anibalsanchez commented on #104
I have reproduced the issue.

It's not clear why it is happening.

The extension is repeated in the Algolia index. The JED Indexer only submits it once. If I reindex everything now, then the issue is solved https://extensions.joomla.org/instant-search/?q=facebook%20page%20reviews&hPP=10&idx=jed_live&p=0

Let's keep the ticket open to gather more info.

[2019-06-13 19:20] slashdottom opened #105 "Extensions names with leading space(s)"
Possible a moot point, but the following extensions have either a double space (first extension in list below only) or single space before the extension name on the extension’s page (in both h1 and h2 tags), although it displays correctly on page, the code contains the space(s).

Ext. ID - Extension Name
----------------------------------
13337 -   Bulk Product Upload for Virtuemart
12997 -  Aband

[2019-06-14 12:07] slashdottom commented on #104
3 more examples of duplicate search results;

Phoca Photo
https://extensions.joomla.org/instant-search/?q=Phoca%20Photo
In this example, the thumbnail lead description are different and one result has the Joomla4 badge but the other doesn't, however they point to the same URL.

Contact Information
https://extensions.joomla.org/instant-search/?q=Contact%20Information
In this example, Contact Inform

[2019-06-17 06:44] tassosm opened #106 "I changed my extension's image and it's not displayed in the search results anymore"
**Describe the bug**
Yesterday I changed the Logo image of my extension EngageBox. While it's properly displayed in the [Single View](https://extensions.joomla.org/extensions/extension/style-a-design/popups-a-iframes/engage-box/) and in the [Category View](https://extensions.joomla.org/category/style-a-design/popups-a-iframes/), it's broken in the [Algolia Search Results ](https://extensions.jooml

[2019-06-17 06:59] tassosm commented on #104
I started facing the same issue with one of my extensions a few weeks ago when I modified the Tags in the extension's editing page.

![image](https://user-images.githubusercontent.com/6807469/59584131-ee36f380-90e5-11e9-80cd-7106036b3682.png)

The issue was automatically resolved though in the next (Algolia) index update.

If you check again the "facebook page reviews" issue, it can't be reproduce

[2019-06-17 07:38] tassosm commented on #106
Heads up: Re-uploading the image did not help.

[2019-06-17 23:42] slashdottom commented on #104
In April this year I discovered 341 duplicate search results of no more than 2 results for each extension that pointed to the same url. Other than 13 of the duplicates found, all other duplicates (328) appeared to follow the pattern of being 19 pages apart or exactly 341 listings apart. I had to move onto something else at the time and didn't have enough time to do further research and write about

[2019-06-17 23:54] slashdottom commented on #104
In my post above, the Keptify Recovery extension showed 3 of the exact same search results, however rechecking that example now shows 4 of the same search results.

[2019-06-18 07:07] tassosm commented on #106
The image is working now. So, I guess it was a cache issue.

[2019-06-18 07:07] #106 closed, assigned to anibalsanchez

[2019-06-18 07:29] anibalsanchez commented on #104
Thanks for reporting. I'm going to check the query as soon as I have a couple of hours.

[2019-06-18 09:43] anibalsanchez commented on #58
For the record, it runs weekly.

[2019-06-18 10:17] tassosm commented on #104
Another issue on https://extensions.joomla.org/instant-search/?q=forms where FlexiContent and Payment Form extensions appear twice.

[2019-06-20 08:09] leonkaras opened #107 "Cannot log in"
Keeps sending me round in circles!

Trying to log in using either leon_karas@hotmail.com or clerk@steeple-ashton.co.uk.

If I say forgot password, it says the addresses are invalid.

If I try to register, it says they are alreay in use!!

Please resolve.

[2019-06-20 09:43] nallias opened #108 "Deadlink"
Hi all,

About the page https://extensions.joomla.org/extensions/extension/mobile/qr-code/qr-code-friendly/
tab "full description"
the content is wrong:
(please see http://docs.joomla.org/HowtooverridetheoutputfromtheJoomla!core).

should be:
(please see <a href="https://docs.joomla.org/How_to_override_the_output_from_the_Joomla!_core">How to override the output from the Joomla! code</a>)

Thanks

[2019-06-20 10:11] anibalsanchez commented on #108
Hi,

This ticket system is for JED system issues. For support questions about content updating or how to use an extension, please contact the developer directly via their website.

Best Regards

[2019-06-20 10:11] #108 closed, assigned to nobody

[2019-06-21 00:08] becgirl opened #109 "AZDirectory"
I'm trying to leave AZDirectory a very positive review because he was extremely helpful.  The module is wonderful.  When I try to leave a review I get an error message.  I've left reviews for other modules so I'm not sure what the problem could be.  Is this the correct place to report this?  He really deserves to get reviews.

[2019-06-21 08:11] anibalsanchez commented on #109
Hi,

Please, check the previous response #85 about a similar topic.

Closing this issue as a duplicate.

Best Regards

[2019-06-21 08:11] #109 closed, assigned to nobody

[2019-06-21 13:41] nallias commented on #108
@anibalsanchez Hi, you should then change the footer link "Report an Issue" into "Report an JED Issue not related to any content" ; I have found no way to contact the developer, Marco Molina.
Keep up the good work!

[2019-06-21 13:53] anibalsanchez commented on #108
Thank you!

You could report the extension with the "Report!" button. But, the download is still available. So, it could be still useful, even if the extension description is outdated.

[2019-06-23 14:38] anibalsanchez opened #110 "Data cleansing on duplicated published extensions"
There are duplicated published extensions. Only the last one is shown due to the router showing the last extension matching an alias.

Some manual work is needed to unpublish the old duplicated extensions.

[2019-06-23 14:39] anibalsanchez commented on #104
It happens that there are actually duplicated extensions, and the search indexer shows it.

I've just fixed the indexer query to avoid them. So, this issue is fixed.

Data cleansing on published extensions is needed to solve the duplication. Let's continue here #110

[2019-06-23 14:39] #104 closed, assigned to anibalsanchez

[2019-06-23 14:42] anibalsanchez commented on #105
I've just run a query to trim the titles of extra spaces and added a query to the cron to keep it.

Solved!

[2019-06-23 14:42] #105 closed, assigned to anibalsanchez

[2019-06-23 14:50] anibalsanchez commented on #99
Thank you for your collaboration @dryabov ! The issue is solved.

[2019-06-23 14:50] #99 closed, assigned to nobody

[2019-06-25 08:26] tassosm commented on #110
I am not sure I understand this 100%.

If you go to https://extensions.joomla.org/instant-search/ you will notice Breezing Forms Pro and RSForm! Pro extensions still appearing 3 times.

Does it mean that these extensions are appearing in the DB 3 times too? If so why this issue doesn't happen in the category view here: https://extensions.joomla.org/category/contacts-and-feedback/forms/ ?

[2019-06-25 12:20] anibalsanchez commented on #110
No, it seems that Algolia has changed the indexing process and the latest update yesterday applied the new logic. It seems that they are enforcing unique IDs to avoid duplication of records... may be due to communication or indexing issues.

In any case, I'm preparing a library update to clean the duplicates.

[2019-06-25 13:49] anibalsanchez opened #111 "Update to Algolia PHP Client v2"
Today, the Algolia indexer generated record duplicates.

The new Algolia PHP API Client v2 has changes enforcing a new API call `saveObjects` (and removes the previous `addObjects`). Since the new API call enforces the usage of the `objectID` attribute, I'm fixing the issue implementing the new API.

[2019-06-25 13:50] anibalsanchez commented on #110
The indexing issue has been solved. Please, check #111 for more information.

The data cleansing is still needed on the extensions table. So, #110 is still open.

[2019-06-25 13:51] anibalsanchez commented on #111
The indexing issue has been solved.

[2019-06-25 13:51] #111 closed, assigned to anibalsanchez

[2019-06-25 18:57] tassosm commented on #110
Confirmed! The issue is now resolved :)

[2019-07-04 08:35] anibalsanchez commented on #85
Hi,

We are in the process of the redesigning the current security checks, originally implemented on JED.

In the meantime, to clarify how to overcome the current limitations. This is the updated message:

_Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection._

So, if you

[2019-07-08 18:27] mbennett417 opened #112 "Can't leave a review on Extensions"
When trying to leave a review, I get the following screen:
![image](https://user-images.githubusercontent.com/14099932/60833285-88d5a000-a183-11e9-92eb-d50efbf82f5b.png)
I'm using a different ISP than I have previously, and have a 192.168.x.x private address, but not running a VPN or server.  Don't know what server it might be referring to.

I'm not going back to DSL when I now have fiber service.

[2019-07-08 18:54] anibalsanchez commented on #112
Please, follow the original issue #85

Closing this issue as a duplicate.

[2019-07-08 18:54] #112 closed, assigned to nobody

[2019-07-08 20:12] mbennett417 commented on #85
What is being validated and why?  I'm not running an IP masking service such as Tor or anything else.  I'm not running over a VPN.  I'm running Windows 7 Professional and no server is actively running on my desktop IP.  If you're detecting something it's a false positive.  Fix your detection program, it's faulty.

[2019-07-09 06:30] anibalsanchez commented on #85
Thanks for your feedback. We are reviewing the validation in the light of the new use cases.

I'm updating this ticket as soon as we have news.

[2019-07-10 13:38] beat opened #113 "Data Issue: JED Search does not always match match title first nor sort by default nor display categories and tags of results"
**Describe the bug**

I'm listing 4 sub-bugs here, as I believe that they are related:

1. Search doesn't put title matches first
2. Default search result sorting is not by ratings/reviews
3. Category and sub-category of search results don't appear.
4. Tags of search results don't appear.

Community Builder is under category "Clients and communities", sub-category "Communities":  https://extension

[2019-07-10 13:54] anibalsanchez commented on #113
Hi,

It looks like the issue is on the indexation of "Community Builder" specifically. It isn't in the index.

[2019-07-10 14:01] beat commented on #113
Hi Anibal,
Thanks for your very quick reply. Indeed that could explain the result. But that doesn't look normall. :wink:

Also, shockingly, the default sorting by overall rating and number of reviews seems not based on public displayed values, I have described this in detail in my ticket 25305 (and am since then also aware of https://github.com/joomla/jed-issues/issues/84 , but it still doesn't ma

[2019-07-10 14:57] anibalsanchez commented on #84
I've recently (May 1st) updated the [JED Search use cases and definitions
](https://github.com/joomla/jed-issues/wiki/JED-Search-use-cases-and-definitions).

[2019-07-10 15:03] anibalsanchez commented on #113
Let's keep the focus on this issue on the data issue that you found related to **Community Builder**. I've been recently improving the data crawler to solve data issues, so this could be a new problem of internal data inconsistency in the Community Builder extension structure.

If you want to improve the search definitions, please, publish your findings on #84. I've just updated it with a link to

[2019-07-15 21:18] bariweb opened #114 "Problem with reviews - Not found"
Hello, I'm trying to add a review but when I press the "Write a review" button it appears a red message error.
![review_error](https://user-images.githubusercontent.com/45459926/61249966-cf646500-a756-11e9-878b-e299f9fb01ca.JPG)

The path is the wollowing:
https://extensions.joomla.org/extensions/extension/contacts-and-feedback/forms/convert-forms

[2019-07-20 07:36] diddipoeler commented on #67
what is this or what can i do:
#001 /sportsmanagement-master/admin/assets/icons/about-favicon.gif in line: 1
info code Pattern found#24 - PHP execution operator: backticks (``)

in a gif file ?

[2019-07-31 23:07] prh47bridge opened #115 "Trying to register"
About 2 weeks ago I attempted to register. The activation email has never arrived. There does not appear to be any way to resend the activation email. If I now try to create an account it tells me that the username and email address are already in use. If I try a password reset it tells me that my email address is not valid. I am, therefore, stuck.
The username I am attempting to register is prh47

[2019-08-05 07:35] weeblr opened #116 "PHP error when submitting a review. Cannot use object of type stdclass as array"
**Describe the bug**
One of my user started to post a [review on sh404SEF](https://extensions.joomla.org/extension/sh404sef/). Upon clicking the "Submit" button, he was faced with a PHP error:

(see screenshot 1)

The review is not visible yet 3 days later. User tried again today to post a new review but got this message:

(See screenshot 2)

**To Reproduce**
No specific steps, just a user trying

[2019-08-05 07:40] kmd-muc commented on #85
Same issue here. I'm trying to write a review from within our company's lan. No VPN, no IP masiking of any kind and no server running on my pc. This check is definetely faulty and annoying too.

[2019-08-05 08:04] weeblr opened #117 "No email notification on tickets"
**Describe the bug**
When opening a JED ticket, no notification is received in case of new messages or even the ticket being closed.

**To Reproduce**
1. Open a ticket
2. A JED admin posts a message and closes the ticket
3. Nothing happens, have to come back regularly to know if ticket has changed

**Expected behavior**
Receive an email notification when the ticket has some changes.

**Additional

[2019-08-05 08:14] alex7r opened #118 "[Feature Request] CI publish availability / API"
Would you consider adding API for updating the extension versions with CI pipelines for developers?

I would like to fully automate the process of "release", and if it is possible to automate the build process and the release process on the website it is still an issue to upload package to the JED.
You can not easily perform login with CURL since form have token.

**p.s.**
I'm not really sure if i

[2019-08-05 10:46] anibalsanchez commented on #118
Hi,

Sure. At this moment, there is a team focused on JED4 development. So, this task could be added to the roadmap.

If you want to volunteer to collaborate in the effort and develop the CI publish availability / API, we are always open to collaboration.

Best Regards

[2019-08-05 10:50] anibalsanchez commented on #117
Hi,

If an email has produced bounces in the past, the mail service doesn't try to send the emails again.

Please, confirm if the assigned email is still valid, or update your profile to use a different email. If you are sure that the email is working right now, please, send us a ticket to remove it from the **Bounces List**.

Best Regards

[2019-08-05 10:50] #117 closed, assigned to anibalsanchez

[2019-08-05 10:52] anibalsanchez commented on #85
In the past weekend, the JED4 spring took place and a new validation is in the works to replace the current system.

[2019-08-05 10:58] anibalsanchez commented on #115
I have executed the manual process to remove the inactive accounts.

Please, try now.

[2019-08-05 10:58] #115 closed, assigned to nobody

[2019-08-05 12:55] weeblr commented on #117
HI Anibal,

There never was a bounce on this email. It's the same account used since sh404SEF was started in 2006 under Mambo, a GMail account which is pretty reliable (and not full) I believe.

Please remove it from the Bounces List and please confirm it is on the Bounces List iin the first place. Again, this email was never interrupted or moved from to/from another provider (it's a gmail account

[2019-08-06 20:12] joeforjoomla opened #119 "Images on JED not working"
It seems that images randomly fail to load due to a ERR_SPDY_PROTOCOL_ERROR

Opening the direct link to a broken image, you can notice that the image is loaded only partially.
The problem could be due to the upload component.

![image](https://user-images.githubusercontent.com/17835460/62573776-1c8bb080-b897-11e9-9491-24beeded5b04.png)

[2019-08-06 20:16] JazParkyn commented on #119
Hi, we are aware of the issue - our hosts are liaising with CDN provider to resolve the issue. Thanks!

[2019-08-06 20:25] joeforjoomla commented on #119
Thanks @JazParkyn !

[2019-08-08 16:36] JazParkyn commented on #119
The issue has now been resolved.

[2019-08-08 17:04] joeforjoomla commented on #119
@JazParkyn i still experiment this issue. No changes so definitely not solved.

[2019-08-08 17:47] joeforjoomla commented on #119
Issue still there just the same as before
![image](https://user-images.githubusercontent.com/17835460/62725365-47037800-ba15-11e9-975a-5d0d6df5b85e.png)

[2019-08-09 07:49] anibalsanchez commented on #119
It looks like it working fine now. Since it was a CDN issue, it was a distributed issue and took some time to be solved everywhere.

If you still have the issue, please, update the issue to reopen it.

[2019-08-09 08:00] anibalsanchez commented on #117
I've just answered the ticket. The emails are going out and are received.

Please, send us a new ticket if the issue persists.

[2019-08-09 08:09] weeblr commented on #117
Hi Anibal

Thanks for fixing the issue. Was the email on the bounces list? or something else. I opened another ticket as you closed the 1st one before I could reply.

It is important to understand if this can happen again. This address never bounced, unless GMail had a technical issue - which is possible. So maybe the "bounce" process is too harsh and putting an address on the bounce list should o

[2019-08-09 08:37] joeforjoomla commented on #119
@anibalsanchez now it's working fine. Probably the CDN took some time to propagate as you pointed out. Thank you.

[2019-08-09 08:49] anibalsanchez commented on #117
I did nothing. I just replied to your ticket and confirmed that the email went out.

[2019-08-09 09:12] weeblr commented on #117
Hi

Well someone or something did something at some point. I got the first email from no-reply@extensions.joomla.org this morning. The last email from that address was from may 2018 - and that was a newsletter, not a notification. My last notification was from July 23, **2015**.
Just for 2019 I opened 4 tickets, none of them got me any notification until the first one this morning.
I'm glad it's s

[2019-08-10 09:53] alex7r commented on #118
Yes, sure. I would rather like to add up.

I heard about possibility to commit to JED repo and that you need to
- pass through some checks (?)
- and sign NDA (?)

2 years ago.

However I did not found any clue where to do that since.
So I would be happy to contribute if you can guide me through "getting started" process.

[2019-08-16 09:46] weeblr commented on #116
Hi again,

Here is hoping someone can look at this problem.

Best regards

[2019-08-16 11:29] fabio42170 opened #120 "Joomla little helper"
Seems like we can't download the plugin at all whether it is on the [author's website](https://www.fasterjoomla.com/download/little-helper/littlehelper-2-6-2) or on [github](https://github.com/riczorn/littlehelper).
There's an error message showing. Am I the only one experiencing this ?
Thanks for your help !
<img width="451" alt="github-error" src="https://user-images.githubusercontent.com/410908

[2019-08-17 06:56] anibalsanchez commented on #119
The issue is active again. Sample URL: https://extensions.joomla.org/extensions/extension/photos-a-images/images/simplehovereffect/

I've sent the ticket to the hosting provider.

[2019-08-18 09:58] anibalsanchez commented on #120
Hi,

This ticket system is for JED system issues - we are unable to provide support for your issue. For support questions about how to download an extension, please contact the developer directly via their website.

If you find that the site is non-functional, you can report the extension on JED.

Regards

[2019-08-18 09:58] #120 closed, assigned to nobody

[2019-08-18 10:01] anibalsanchez commented on #113
I've been improving the search implementation. I'm still looking for the issue that indexer has that doesn't index some extensions.

[2019-08-18 10:02] anibalsanchez commented on #107
At this time, the emails are not present on JED.

[2019-08-18 10:02] #107 closed, assigned to nobody

[2019-08-18 10:11] anibalsanchez commented on #24
Hi,

We are preparing the release of a new ticketing system in the next month and we are focusing the effort on the migration.

Thanks for reporting the issue in the original ticketing system

[2019-08-18 10:11] #24 closed

[2019-08-18 10:34] ssnobben opened #121 "Get back "Last updated" top menu and filter for Joomla community JED"
**The search filter for JED have also disappear for "Last updated".**

Normally when people want to check the latest updated extensions for Joomla community they go to this link one day ago, https://extensions.joomla.org/browse/new/ and then make t w o filters "Last updated" to find what extensions that was last updated.

Now from today this doesn't work bcs the filters doesn't show up. Pls make a

[2019-08-18 10:35] ssnobben commented on #91
There is also a similar request here and this seems not to have any attention https://github.com/joomla/jed-issues/issues/121

[2019-08-23 15:01] andiamine commented on #121
Yes please , filter by last updated is essential we do use this feature a lot.

[2019-08-28 09:08] ssnobben commented on #121
Whats the status of this issue?

The "Last Updated" feature was removed Saturday Aug 17 2019 and here is more discussions

[https://forum.joomla.org/viewtopic.php?f=262&t=973799](https://forum.joomla.org/viewtopic.php?f=262&t=973799)

[https://forum.joomla.org/viewtopic.php?f=262&t=973003](url)

[2019-08-28 09:53] anibalsanchez commented on #121
Hi,

The next Friday, the JED team has the monthly meeting and we'll discuss the "Updated Extensions" report. My idea is restoring the unpublished report that was available on the menu.

BTW: Please, do not post twice, to avoid this copy-pasting.

Regards

[2019-09-01 17:33] anibalsanchez commented on #121
**Recently Updated / New & Noteworthy** reports: We have discussed the suggestion to restore revamped reports and concluded that it's a good opportunity to revisit the topic with reviewed queries. After the new ticket system implementation, we'll continue with the implementation of this point. If you want to collaborate with the team, feel free to contact us here.

You can check the Full meeting r

[2019-09-07 18:28] anibalsanchez commented on #119
At this time, the issue is solved.

[2019-09-07 18:28] #119 closed, assigned to anibalsanchez

[2019-09-09 11:22] weeblr commented on #116
Hi @anibalsanchez

Any news on this? Anything I can do to help?

Best regards

[2019-09-09 12:08] anibalsanchez commented on #116
Hi,

I have been unable to reproduce the issue. Additionally, we have integrated Sentry service (Error Tracking). So, we receive and track PHP errors. This error is not being reported and reviews are still being received normally.

So, the problem seems to be being fired under very specific conditions, it is being received at the review level and it is not reported.

For instance: I've just submit

[2019-09-09 13:06] weeblr commented on #116
Hi @anibalsanchez

yet we have screenshot with the PHP error displayed so it did happen and was not reported.

What information can be provided?

Best regards

[2019-09-09 13:10] anibalsanchez commented on #116
We need to diagnose exactly when it does not work to reproduce the issue.

Is it an issue specific of sh404SEF?

[2019-09-09 13:15] weeblr commented on #116
I cannot know that. I have a customer who reported to me trying to leave a review and being faced with this. I was lucky he took the time to do screenshot and just report the thing to me, otherwise I would not have ever known.

[EDIT] What I mean is this might have happened 1, 10 or 100 times without me knowing at all - and without you knowing either as the PHP error does not seem to be reported.

[2019-09-09 13:31] anibalsanchez commented on #116
JED has plenty of activity, so looking into the database is not an option to find an issue.

So, we need precise steps to reproduce the case. If there is a general issue, we receive many reports.

At this time, I haven't received more reports about this case. I'm going to add a review to sh404SEF. If I can't reproduce the issue, then I'll have to close the issue since there are no more related rep

[2019-09-09 13:43] weeblr commented on #116
Hi

You can't run a query against the database?

Like I said, there is no step, just a regular user (not me) trying to post a review and getting a PHP fatal error.

As reviews are posted by regular site maintainers and error reports are supposed to be posted to Github, I would indeed expect a very small number of reports to happen.

Thanks for trying. Yet the JED has unreported PHP fatal errors wh

[2019-09-09 15:01] anibalsanchez commented on #116
I can't run a query against the db without knowing what to look for.

Please, send us a video with the steps to reproduce the issue. In the meantime, I'll post a review to sh404SEF.

[2019-09-09 15:05] weeblr commented on #116
Hi Anibal,

Again, please try to understand **there is no step**. Just a regular user - not me - trying to post a review and getting a PHP fatal error from JED.

Maybe just look for any review for sh404SEF that was posted over the last 2 months (to be safe, don't remember the exact date) and that is there but is not published for some reason. Why it is not published would be the interesting thing

[2019-09-11 08:16] weeblr commented on #116
Hi @anibalsanchez

Don't know if you tried yourself or did any work on this. Yesterday I asked that user if they could try again posting their review. I got a message this morning and the result is:

Not sure about an actual 404 response code but the screenshot is explicit:

![image](https://user-images.githubusercontent.com/5846185/64680011-2cda1100-d47d-11e9-9816-6985e16f34c0.png)

Once again a

[2019-09-13 01:28] nickanti commented on #116
A user reported a similar issue when trying to post a review for Community Builder and I opened a JED ticket to report.
JED responded that this is a known issue and redirected me to this artifact.

[2019-09-13 09:24] anibalsanchez commented on #116
I have just had an idea ;-)

I have been unable to reproduce the error.... however, the problem with Sentry's error handler is that the template error page catches the error and eats any further processing.

So, I've just added the error handler to the template error page. In theory, now, Sentry will also receive any error received in the template error page. So, I could diagnose the error (even w

[2019-09-13 09:31] weeblr commented on #116
Hi

Just asked our user to post again his review. I'll let you know when/if he does that.

Best regards

[2019-09-16 11:59] hennysmafter opened #122 "No verification email after registering and then user is blocked message?"
We wanted to start uploading our extensions to the JED. And to do so we need to have an account. So for this purpose, we filled in the registration form and pressed submit.

This resulted in a Warning and an Error. We checked our inbox and no mail not even in the Junk section. Then looking at the error it looks like the registration failed completely.

![Register - Google Chrome](https://user-imag

[2019-09-21 19:29] anibalsanchez commented on #21
Hi,

We have implemented a new Ticketing system. The reported text is no longer on the site.

Thanks for reporting

[2019-09-21 19:29] #21 closed

[2019-09-22 14:33] anibalsanchez commented on #122
Hi,

Your user enabled and active now. So, it looks like you've been able to solve it.

Regards

[2019-09-22 14:33] #122 closed, assigned to nobody

[2019-09-22 15:15] anibalsanchez commented on #121
TOP 100 **Recently Updated** is back: https://extensions.joomla.org/browse/recently-updated/

it is the list of the last 100 updated extensions.

About **New & Noteworthy**, I'm still thinking how to find "New and Noteworthy"... because we already have the queries with the newest extensions and there is no easy way to feature extensions without manual intervention.

[2019-09-22 21:03] andiamine commented on #121
Great news thanks :)

[2019-09-23 09:19] weeblr commented on #116
Hi

Sorry for late report. The user posted a review on or just before September 15. Was any error logged?

Cheers

[2019-09-23 10:32] anibalsanchez commented on #116
Yes!, it is logged. I'm going to check in detail the next weekend. Txs.

[2019-09-23 10:33] weeblr commented on #116
Ahh, good news. Can you also search the database for "stuck" reviews for sh404SEF? there might be others with reviews that are in the database but are not showing?

Best regards

[2019-09-24 11:00] hennysmafter commented on #122
@anibalsanchez

I have not solved it I can still not log in. I just tried it again and it says that we still need to accept the verification email but there is no mail whatsoever.

We checked spam and everything but there is no mail. So please activate our account or send us the activation mail please.

To be clear the username in question is **loginsecure.eu** not hennysmafter!

Thank you very mu

[2019-09-25 14:23] tlhall commented on #70
I have the same issue

[2019-09-29 11:33] hennysmafter opened #123 "No verification email after registering and then user is blocked message?"
Reopening incorrectly closed ticket.
https://github.com/joomla/jed-issues/issues/122

From the above link:

@anibalsanchez

I have not solved it I can still not log in. I just tried it again and it says that we still need to accept the verification email but there is no mail whatsoever.

We checked spam and everything but there is no mail. So please activate our account or send us the activation m

[2019-09-29 17:45] anibalsanchez commented on #123
Hi,

I've confirmed that the user has been removed from the system (since the system didn't receive the email activation).

Please, try to register again.

[2019-09-30 12:37] hennysmafter commented on #123
Hey @anibalsanchez

Thank you for that and we just tried it and we are now registered and logged in.
The submit extension button is greyed out however and it says that we need to complete the account profile. But when we go to the account profile we see that everything is already filled in. Also when we click on the greyed out button we still get to see the submit extension form so maybe there is

[2019-09-30 12:52] anibalsanchez commented on #123
Great.

You have to complete the **Developer Name** to be allowed to send extensions.

Regards

[2019-10-01 10:59] hennysmafter commented on #123
Hey @anibalsanchez

Thank you for that suggestion we already had that filled out when we registered. But just did it again and saved and now the button is blue! Yippie.

Thank you so much for helping us with these issues.

Have a great day.

[2019-10-01 10:59] #123 closed, assigned to anibalsanchez

[2019-10-01 15:02] ssnobben commented on #121
Hi Anibal!

The problem is that its not filter the "Last updated" with the latest released first.

Can you fix that filtering option asap it would be fine. (  https://forum.joomla.org/viewtopic.php?f=262&t=973799  )

[2019-10-01 15:32] anibalsanchez commented on #121
Hi,

In the system, we only have the "modified date" of the listing. There is no other way to detect the releases after an extension is published; the author has to updated the entry with the latest release number.

[2019-10-01 15:35] andiamine commented on #121
we did recently update one of our extensions (version changed also uploaded a new package of extension ) and didn't show , recently updated keeps displaying only old updated extensions

maybe caching problem in this view ?

[2019-10-01 16:41] webgobe commented on #121
something is really fishy. I also updated one of my extensions today (Similar Tags with Introtext and Images - new package has been uploaded, the description changed and the release number ALSO has been changed ) - and does not showing up, but, surprise! Another one I didn't touched for years - literally - is in top 100 (Phoca Downloads plugin for sh404SEF). And, jut to not be only about me, there

[2019-10-01 18:02] anibalsanchez commented on #121
The query is sorted by #__ucm_content.core_modified_time.

My guess is that in some cases the date field in this table is not updated.

[2019-10-02 06:52] tassosm commented on #114
Today, I received a message from another user who couldn't write a review for Convert Forms for the same reason. He states he received the "Not found" error after clicking on the "Write a Review" green button as well as the one in the sidebar.

![image](https://user-images.githubusercontent.com/6807469/66022787-b8344880-e4f7-11e9-9644-4164919e0cdc.png)

I've created a test account on JED but I cou

[2019-10-02 06:57] ssnobben commented on #121
**** Yes as now this doesn't work as expected.

The "Recently updated" doesn't work as "Latest updated" should work bcs its not show the latest updated Joomla extensions. Just revert the old "Latest updated" search filter that works well.

Another wish would be to have the listings first view similar like the right columns extension badge of information so we all could see all this data from all e

[2019-10-02 07:25] anibalsanchez commented on #121
@ssnobben The old queries are not coming back, we must improve what we have today. I'll check it the next weekend.

If you have more "wishes", you can open new issues. If you have more wishes, you can also join the team to help us: https://volunteers.joomla.org/teams/extensions-directory-team

[2019-10-02 07:27] anibalsanchez commented on #114
This error is not generating PHO errors or exceptions. So, I think it is not going to be shown on Sentry.

It looks like a bug or a data issue.

[2019-10-02 07:43] weeblr commented on #116
Hi @anibalsanchez

I know you probably have been busy with the new ticket system and all but did you have a chance to review the error log and figure out what's going on here?

Also, can you run a query on the database to see if sh404SEF has other "stuck" reviews not showing?

Best regards

[2019-10-02 09:43] iStampa commented on #114
I’m seeing the same issue described in original post - can’t leave a review - “not found”. Tried both links - the green button above reviews as well as the one in sidebar.

Creating another site account and saw the same error.

[2019-10-04 07:42] ssnobben commented on #121
Thanks Anibal will think about that.

As now the recently updated shows the same extensions all the time. Nothing change the same "Recentely updated" comes up all the time and that’s a bug and unexpected behaviour.

Cheers!

[2019-10-04 09:20] BloomBoy commented on #85
Have the same issue still....

[2019-10-06 19:24] anibalsanchez commented on #121
I've reviewed the query and added a twist and an optimization. Please, check it now.

[2019-10-06 19:48] anibalsanchez commented on #116
I've added a couple of checks to avoid this error. It shouldn't occur again. I'll monitor Sentry's log.

About "stuck" reviews, there are none. The error prevented the storage of the review.

[2019-10-07 06:59] weeblr commented on #116
Hi

Thanks for that, I'll try have our user give it another go.

Is that consistent with the fact that when trying again, they were getting a message saying "Writing a review will overwrite your previous review?

![image](https://user-images.githubusercontent.com/5846185/66290916-c2cc5480-e8e0-11e9-8df5-a075a1ffc54d.png)

If the review was not stored, how can a "...previous review" exist?

Best re

[2019-10-07 07:03] tassosm commented on #116
Thank you @anibalsanchez. Does this fix #114 also?

[2019-10-07 07:34] anibalsanchez commented on #114
I've been looking into the problem. It seems that there are wrong URLs somewhere.

This URL is not right: https://extensions.joomla.org/ **extensions/extension** /contacts-and-feedback/forms/convert-forms

All extension URLs must be in the following form: https://extensions.joomla.org/extension/contacts-and-feedback/forms/convert-forms/

Please, confirm where the wrong URLs can be found.

[2019-10-07 07:38] anibalsanchez commented on #116
@weeblr Good question, part of the information was saved. I'll check what was saved to clean the inconsistencies. Since the data was saved early in the processing of the review, they can't be recovered.

@tassosm No, it is a different issue. I answered there.

[2019-10-07 07:59] weeblr commented on #116
ok, too bad. I'm afraid this might have happened quite a few times.

Any idea what circumstances was causing the error? only few users seem to experience the issue, was it a particular browser for instance? or the content of the review?

Cheers

[2019-10-07 09:36] anibalsanchez commented on #116
The issue is very odd indeed. It looks like that in some rare cases, the library retrieves an internal structure as an object instead of an array.

My guess is that the problem comes from a data issue and how the Fabrik library manages the serialization. This part of the system is complex, and the data is distributed in Joomla UCM and JED custom tables.

[2019-10-07 12:30] ssnobben commented on #121
Anibal seems to work now!! Great to get it back !  :)

[2019-10-07 22:42] andiamine commented on #121
Works fine thank you very much

[2019-10-08 06:58] anibalsanchez commented on #121
Two testers and successful tests. Case closed!

Thank you for feedback :-D

[2019-10-08 06:58] #121 closed, assigned to anibalsanchez

[2019-10-08 07:22] weeblr commented on #116
Hi @anibalsanchez

Bad news, problem not solved - the exact same error:

![image](https://user-images.githubusercontent.com/5846185/66374883-4bfc8d80-e9ac-11e9-9abe-bc3f2c4d9312.png)

He reported the error at about 21:15 UTC, likely he posted a few minutes before that.

Best regards

[2019-10-08 07:33] anibalsanchez commented on #116
My bad. I forgot to apply the CI action. Now, it is applied.

[2019-10-08 07:39] weeblr commented on #116
Hi

OK, thanks for replying quickly. Just informed the user but might be some time before he can test again due to time differences.

Best regards

[2019-10-09 08:23] weeblr commented on #116
Hi @anibalsanchez

So that user posted again his review and this time there was no message.  He's got a screenshot showing "296 reviews".

About 10 hours later, the review is still not showing for me or for an unlogged user, and the review count is still at 295.

Is that expected?

Cheers

[2019-10-09 08:58] anibalsanchez commented on #116
Hi,

The review has been received and processed. So, the reported issue is solved. We have received more reviews and they have been published successfully, so the improvement is working fine.

About the specific review, it passed the first screening and was flagged as spam (Proxy). So, the IP has open ports or a characteristic associated with a Proxy. As far as I can verify, it was processed as ex

[2019-10-09 09:00] weeblr commented on #116
Spam? this is joke right?

[2019-10-09 09:20] weeblr commented on #116
No wonder there are so few reviews if you think using a proxy is the sign of a spammer.

Is there a manual way of reviewing those SPAM reviews? or are they lost for ever? Is there any information somewhere?

Should we also tell our users to not post reviews from their work machines, behind a proxy but instead from home or another place?

Best regards

[2019-10-09 09:31] anibalsanchez commented on #116
The current system works in this way. We can't change how spam is detected. We already know that the current detection system has an issue (that's complex and needs a new full implementation) #85

From my side, I can't publish it manually. It wouldn't be fair if I force it. Please, send a ticket to Reported Reviews for a manual check-up (or I can send it for you but I'm not the owner of the extens

[2019-10-09 09:37] weeblr commented on #116
Hi

I'm not asking you force it, indeed that would be unfair. I have started opening a ticket.
Not sure what you mean by

Also, I read #85 but my user never mentioned anything like having a message such as :

"Security checks determined you may be using an IP masking service or VPN. To continue, you need a different Internet connection."

Considering how many times he tried to post that review, I'

[2019-10-09 09:46] weeblr commented on #85
Hi

As mentioned in #116, it appears this issue can also simply flag reviews as SPAM and drop them entirely.

The user is **not shown the error message** (_Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection._)

They are able to post the review normally. But then the revie

[2019-10-09 09:48] anibalsanchez commented on #116
The first screening of the reviewer has been introduced recently to reduce the number of reviews flagged as spam by Spam Checker. However, it does not detect 100% of the cases. Then, the second check-up performs the full lengthy validation where it detects more cases. So, the real problem is the original definition of reviews and the spam that we receive, and how to handle it.

For more informatio

[2019-10-09 09:51] anibalsanchez commented on #85
Same answer here:

The first screening of the reviewer has been introduced recently to reduce the number of reviews flagged as spam by Spam Checker. However, it does not detect 100% of the cases. Then, the second check-up performs the full lengthy validation where it detects more cases. So, the real problem is the original definition of reviews and the spam that we receive, and how to handle it.

[2019-10-09 09:53] weeblr commented on #116
Hi

OK I see. Ther review was posted only 12 hours ago so the check was in place but indeed if there's 1st a simpler one and then a more thorough one, this explains that.

I think I'll just close the ticket now as the PHP error is solved and we can follow up on the other ticket, #85.

I have sent a ticket to "Reported reviews", referencing this issue and I'll wait to hear from the team.

Best rega

[2019-10-09 09:53] #116 closed, assigned to anibalsanchez

[2019-10-09 10:00] weeblr commented on #85
Hi

Thanks, I have subscribed to that topic and am/will be reading it

Best regards

[2019-10-09 10:03] anibalsanchez commented on #116
Thank you for reporting @weeblr and your understanding.

[2019-10-09 10:50] weeblr commented on #85
@anibalsanchez I read that forum topic and I made a suggestion there. Here is my post:

https://forum.joomla.org/viewtopic.php?f=262&t=973003&p=3582750#p3582750

Cheers

[2019-10-10 06:41] weeblr commented on #85
Hi @anibalsanchez

Further to the above, I discussed with our user that he was flagged as SPAM because his IP somehow was considered behind a proxy or having something looking like a proxy (open ports?)

His reply:

keep me updated

So he basically just have a standard ISP-provided internet access, probably a home office.

Best regards

[2019-10-10 08:36] anibalsanchez commented on #85
Nowadays, it's common to have open ports in the local network. If you have a NAS, a media manager, or similar devices, or even other neighbors in the same network sharing the IP, can generate false positives.

Unfortunately, the same conditions are used by spammers to mask the source of the reviews. So, we can't turn off the controls and we are looking for ideas to revamp the review system.

[2019-10-10 10:25] weeblr commented on #85
Hi @anibalsanchez

That is actually what I did in the post I linked to above.

Any spam detection system will fail at some point so I reckon the problem here is not with detecting SPAM per se but instead what you do with flagged reviews.

As flagged reviews are deleted, nobody has a chance to manually review them. I proposed that JED record owner are notified of those spam reviews and can check th

[2019-10-10 10:56] anibalsanchez commented on #85
The flagged reviews are not deleted.

We could manually check them, but there is no manpower to do that (in fact, nobody wants to do that or have the time to check each flagged review). Additionally, there are no clear criteria about what to check to detect a false positive.

Fake and Spam reviews are a widespread practice. Even, in major sites, such as Amazon or Ebay, you can't be fully sure abou

[2019-10-10 11:07] weeblr commented on #85
This is what my proposal should solve. Please read it.
The goal here is to salvage the false positives. I, as a developer, have information that can help. For instance, I know the individual who posted that last review which was considered spam and he talked to me about that. That's not something the JED team can do. But developers can. Again, please look at the proposal.

It's like they are becau

[2019-10-10 11:30] anibalsanchez commented on #85
@hdouglassmith is managing the review management area and leading the effort to revamp them.

@weeblr feel free to join the team.

[2019-10-10 13:56] mbennett417 commented on #85
I've pretty much concluded that this service is being defeated if your system is using IPv4 and NAT. Which is a whole lot of people. None of the supposed objections (proxy servers, etc.) apply to me either. Without an effective and specific response indicating the exact problem, we're wasting our time.

[2019-10-10 14:05] anibalsanchez commented on #85
Agree. The system has benefits and flaws. It was designed around 2014, and after 5 years, the technology and the current practices have changed a lot. It is time to replace it with a new system for the next 5 years.

[2019-10-10 14:09] weeblr commented on #85
Hi @anibalsanchez

Yes, I made a proposal in the topic he started on the forum (linked above).

This is kinda my point: this cannot be handled by the JED team alone.

- if you lower the SPAM-detection level, you've got too much SPAM
- if the JED team has to screen all reviews, it does not work, not enough people, 2 weeks or more to have a review visible
- if we have a high rate of SPAM rejection,

[2019-10-10 14:19] mbennett417 commented on #85
I went back and read this whole thread. I appreciate the work and thought going into this. The three factors you list are these:
You may be using an IP masking service
A VPN
A server is actively running on your desktop IP

I do have a Synology NAS and it does run services I require.  Maybe that's it, but I also have 268 programs installed on my desktop, so who's to say if one of them is the culpri

[2019-10-10 14:23] anibalsanchez commented on #85
@weeblr @mbennett417 Please, keep in mind that ideas abound, but we need volunteers to implement them. If you want to collaborate with our efforts, the doors are always open: https://extensions.joomla.org/support/knowledgebase/item/contributing-code-to-the-jed/

[2019-10-10 14:56] weeblr commented on #85
Anibal,

Thanks for the link, I'm certainly considering this. Hopefully this can happen after I have rewritten my extensions for Joomla 4 :)

[2019-10-23 03:16] korbeny opened #124 "Can't make reviews"
Every time I tried to make a review of an extension, I get the same error (image attached). I tried with a new account and from other computer and place and get the same error.

![chrome_2019-10-22_18-21-56](https://user-images.githubusercontent.com/7292662/67353958-7eb09500-f519-11e9-9e25-66c939bb7839.png)

[2019-10-23 06:05] tassosm commented on #72
It looks like this started to happen again. I no longer receive an e-mail when a new review is published. Has anyone else noticed it?

[2019-10-23 07:33] anibalsanchez commented on #124
Please, follow the previously reported issue #85

[2019-10-23 07:33] #124 closed, assigned to nobody

[2019-10-23 07:34] anibalsanchez commented on #124
Thanks for reporting!

[2019-10-23 07:38] anibalsanchez commented on #72
Better if you open a new issue, detailing what you didn't receive to better diagnose the case. @tassosm

[2019-10-31 10:19] Rajandaniel opened #125 "Search plugin is not working for particular features in website (Accordion tab model content is not searchable)"
Hi Team,
In our website, we have smartsearch plugin, It was not seaching the data which are in accordion tab model content. We have also tried your free search plugin RokAjaxSearch, BT Smart Search and RSsearch. But still the files which are in accordion tab model was not searchable in our http://qcdemo.cellarstone.org/product-info/features page. Kindly can you suggest a search plugin solution, wh

[2019-10-31 10:25] anibalsanchez commented on #125
Hi,

This ticket system is for JED Directory issues. We are unable to provide support for your issue. For general questions about Joomla and extensions contact the developer directly via their website, or open a new topic on the Joomla Community Forum. http://forum.joomla.org/

Kind Regards

[2019-10-31 10:26] #125 closed, assigned to nobody

[2019-10-31 10:43] Rajandaniel opened #126 "How to check joomla website speed in android and IOS"
Hi,
How to check joomla website speed in android and IOS.

[2019-10-31 10:57] anibalsanchez commented on #126
Hi,

This ticket system is for JED Directory issues. We are unable to provide support for your issue.

For general questions about Joomla: http://forum.joomla.org/

Kind Regards

[2019-10-31 10:57] #126 closed, assigned to nobody

[2019-11-01 18:40] Sulpher opened #127 "Errors in console"
**ATTENTION: If you have a question or you need to contact the JED Team about an Extension, please, contact us via the JED Ticketing System: https://extensions.joomla.org/profile/**

**Describe the bug**
A clear and concise description of what the bug is.

1. If a JED item has video, there is an error in the console:

Failed to load resource: the server responded with a status of 404 ()
URL:
https

[2019-11-04 16:52] spencerfontein opened #128 "Not getting activation email"
I dont not get the email and therefore cant login

[2019-11-06 08:23] #128 closed, assigned to nobody

[2019-11-15 16:34] tassosm opened #129 "JED stopped sending notification emails for new reviews"
My extensions have received quite a lot of reviews in the last couple of months but I never got a notification email letting me know about the reviews.

Has JED stopped sending those emails?

[2019-11-15 16:37] tassosm opened #130 "No activation email"
One of my customers tried to create an account today to write a review but he never received the activation email.

Please advise accordingly.

[2019-12-18 09:10] ludek-vesely-phrase-com commented on #87
@anibalsanchez any updates on this?

[2019-12-18 09:22] anibalsanchez commented on #87
Not yet. I've been pretty busy in the last months. I hope to find these days to check this issue and other pending points.

[2019-12-19 18:38] beat commented on #113
Hi Anibal,
Sorry to bump, but the JED search field still doesn't find Community Builder when typing it in the last 4 months.
Any hope to find the issue ?

[2019-12-19 18:47] beat commented on #84
We are facing a real problem here that is hurting Joomla users, that sometimes can't find popular extensions that are reviewed a lot, and that can suddenly put off the records extensions with a small amount of reviews, or extensions with lots of reviews that suddenly receive a not-perfect all-5-stars-in-all-categories review.
The "Top ranking" and "Category ranking" sorting criteria should be doin

[2019-12-27 19:38] roland-d commented on #98
I just had this same issue:
![image](https://user-images.githubusercontent.com/359377/71530161-b0aef080-28e8-11ea-9b38-7e2bf6dd2d77.png)

I also used the search form on the frontpage and just type *ro users* and hit enter ignoring the suggestions.

[2019-12-29 16:58] anibalsanchez commented on #130
Hi,

The mailing system works Ok. So, the most probable cause is that the mail was sent to the Spam folder (or the user wrote a bad email).

Hope this helps! Let us know if there is anything else we can do.

[2019-12-29 16:58] #130 closed, assigned to anibalsanchez

[2019-12-29 17:19] anibalsanchez commented on #129
Hi,

I've just sent a couple of tests and it is working Ok.

Just in case, I've updated the SPF, DMARC and DKIM records.

Hope this helps! Let us know if there is anything else we can do.

[2019-12-29 17:19] #129 closed, assigned to anibalsanchez

[2019-12-29 17:22] anibalsanchez commented on #127
Hi,

We are developing the new JED4 that it is going to replace the current system. So, we are not going to update the current implementation, focusing our efforts on the operation and developing JED4 until we can replace the current directory implementation.

Thanks for reporting.

[2019-12-29 17:22] #127 closed, assigned to anibalsanchez

[2019-12-29 17:25] #40 closed

[2019-12-29 17:26] #41 closed

[2019-12-29 17:42] anibalsanchez commented on #114
I've redirected the URLs that didn't follow the right pattern, and now they are standardized. The original reported URL is now redirecting to  https://extensions.joomla.org/extension/contacts-and-feedback/forms/convert-forms/

The original issue is closed. If the issue persists, please, reopen the issue.

Regards

[2019-12-29 17:43] anibalsanchez commented on #56
Fixed with a redirection

[2019-12-29 17:43] #56 closed

[2019-12-29 17:46] anibalsanchez commented on #48
This issue is similar to #114

I've just implemented a tweak to system to solve it. I'm closing the issue as solved. If the issue persists, please, reopen it.

[2019-12-29 17:46] #48 closed

[2019-12-29 19:25] jeckodevelopment commented on #102
Once there will be the centralised identity management this feature will be provided by the central SSO/Data/Consent management platform.

[2019-12-29 19:39] anibalsanchez commented on #102
Then, Issue closed! :-)

[2019-12-29 19:39] #102 closed, assigned to anibalsanchez

[2020-01-09 09:54] beat commented on #113
Hi @anibalsanchez, can I please volunteer to try to fix that issue and, if my help is accepted, can you please give me access to try to fix this ?

It has now been over 6 months that just our extension is not findable on JED.

[2020-01-09 10:00] beat commented on #84
Hi @anibalsanchez, can I please volunteer to have access to the JED code to try to propose a PR for code improvement to implement the above-proposed floating-number rounding fix ?

Having top extensions disappearing randomly from top results because of a floating number rounding issue hurts not only extensions-developers survival, but also immensely Joomla and its community. And this is highly vis

[2020-01-09 10:05] anibalsanchez commented on #113
Sure, we are always open to new JED Developers. I've been investigating the issue myself.... but I've been unable to pinpoint the source of the issue.

Please, contact me on Glip to start the onboarding process.

[2020-01-09 10:06] anibalsanchez commented on #84
Sure, we are always open to new JED Developers.

In the past year, we implemented a few improvements, but it is an ongoing task that needs attention.

Please, contact me on Glip to start the onboarding process.

[2020-01-09 14:17] marcobeierer commented on #84
Hi @beat

I think this is not just a rounding issue, but a much deeper calculation issue.

There also seems to be an issue with unrated categories. For me it seems that sometimes if a category (for example Documentation) is not rated, it is used anyway as 0 value in the average calculation for this category.

From what I see from the outside, not all extensions seem to be affected by this, maybe t

[2020-01-09 15:55] beat commented on #84
Hi @marcobeierer
Thanks for the heads-up.
I will be doing a review of the (open-source) algorithm source once I get access to it (normally tomorrow).

[2020-01-09 16:20] cyrez commented on #84
The freshness factor sucks too...
https://github.com/joomla/jed-issues/issues/84#issuecomment-473526662

I understand this so much as i'm affected too... Less visits from JED (since new JED) = less income = need to find other jobs = no more time to contribute to Joomla CMS... (so bad for Joomla as a whole as i'm not the only one to be in this situation since the new JED was introduced...)

[2020-01-12 16:46] regularlabs commented on #84
Yup, definitely something wrong.
This extension of mine now has a rating of 2 stars for 'Support'.
https://extensions.joomla.org/extension/better-preview/

There are only 4 reviews that score the Support. 3 times a 5-stars and 1 time a 4.5-star.
I don't think a 'freshness factor' can turn that into a 2-star rating.

[2020-01-12 22:45] marcobeierer commented on #84
@regularlabs According to the presentation linked by @anibalsanchez above (https://docs.google.com/presentation/d/1YTUvhYEK-bxoEE5-vJsjv06kZAvhpsAjSRmsY2w9GkU/edit#slide=id.g21ec0048aa_0_0) the freshness factor only has an impact on the weighting of the ratings, thus it should not be able to decrease the overall score of a category below the lowest score in this category, in your case 4.5.

There

[2020-01-13 12:27] Sulpher opened #131 "Issue with charset in JED reviews. No Cyrillic letters in the field"
**Describe the bug**
A clear and concise description of what the bug is.

JED allows users to submit reviews on native languages which is cool!
However, there is an issue with Cyrillic letters in reviews.

Have a look:
https://extensions.joomla.org/extension/quantum-manager/#reviews

The screenshot:
![Screen Shot 2020-01-13 at 15 24 13](https://user-images.githubusercontent.com/3432048/72255918-fe

[2020-01-18 08:32] ManfredHuebner commented on #130
I am the one with the email problems and I can confirm there must be a problem:

- I was already registered with an email address (systems confirms that if I tried to register with this address again). So I tried to get my password reset. But mail did not receive, neither in inbox nor in spam. This is with a big email hoster in Germany.

- I decided to create a new account, but activation mail nev

[2020-01-18 08:34] ManfredHuebner opened #132 "Problem with email activation / account creation"
**ATTENTION: If you have a question or you need to contact the JED Team about an Extension, please, contact us via the JED Ticketing System: https://extensions.joomla.org/profile/**

**Describe the bug**
I am the one with the email problems and I can confirm there must be a problem:

    I was already registered with an email address (systems confirms that if I tried to register with this address

[2020-01-20 05:35] SniperSister commented on #67
That's in fact a *requirement* for WP plugins:
https://developer.wordpress.org/plugins/wordpress-org/detailed-plugin-guidelines/#13-plugins-must-use-wordpress-default-libraries

More suggestions for your list:
* Discourage use of "native" SQL queries, promote usage of prepared statements
* Add RIPS for static security analysis purposes

[2020-01-20 08:39] anibalsanchez commented on #67
@SniperSister Great input!

About **RIPS**, I remember from our last conversation with the CEO that there are two main roadblocks (I've been also discussing these points with @HLeithner at FftF)

- **Security Reports Disclosure**: RIPS provides top-notch security reports. If JED provides a proxy to the RIPS service. Any developer can wrap PHP code inside an extension to check and use any PHP codeb

[2020-01-20 08:44] anibalsanchez commented on #67
For more information about **JED Extensions Checker CI**:

- Project Scope Definitions: https://github.com/joomla/jed-issues/wiki/JED-Extensions-Checker-CI
- JED Checker 2019 Rules migrated to PHPCS 3.x: https://github.com/joomla/coding-standards/pull/246

[2020-01-20 09:38] hdouglassmith commented on #67
@anibalsanchez regarding RIPS, to avoid both of your issues (wrapper of someone elses extension and pricing) could this be a service that a JED team run as part of the publishing process and where necessary reports sent back to the developer. I realise this is more work for the JED team, but it achieves the goals and desires of using RIPS, provides us with a new level of quality of extension and g

[2020-01-20 15:34] anibalsanchez opened #133 "JED4 Security Checkup of Extensions"
Based on the idea of adding RIPS to JED, could we use RIPS to check extensions in the manual checkup of extensions?

It can greatly improve the security of the ecosystem. But, it also adds a new manual step to the task of reviewing extensions.