[2020-01-20 15:37] anibalsanchez commented on #67
Following the idea of simplifying the development and processing of extensions on JED, the Checker CI is going to be a tool for a continuous integration pipeline. In some future, it could even be a command line. The main benefit is to provide guidance in the development. Once that the extension has the JED Checker CI OK, the extension can't be rejected due to technical reasons.  Ideally, the revie

[2020-01-20 16:00] fotovideoplay opened #134 "Security checks determined you may be using an IP masking service, a VPN"
NON RIESCO A FARE RECENSIONI !
Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection.

Grazie

[2020-01-20 16:15] anibalsanchez commented on #134
There is already an open issue about this point. Please, join the conversation here: #85

[2020-01-20 16:15] #134 closed, assigned to anibalsanchez

[2020-01-20 19:43] SniperSister commented on #67
Indeed that's an issue, that's why I suggested that the review of any RIPS findings should be a manual process by the JED team, just as suggested by @hdouglassmith. I realize that this will require rather big resources (that's why I already looked for volunteers that could help with that specific task), but for me it's very much worth that effort as it will help us reducing the amount of issues in

[2020-01-20 20:41] anibalsanchez commented on #133
For reference, the point has been discussed here: https://github.com/joomla/jed-issues/issues/67#issuecomment-576114237

[2020-01-21 08:13] hdouglassmith commented on #133
I think the way to describe this is "No Pain, No Gain"

From a personal experience as an integrator, there are perhaps 3 or 4 extension developers I consider as 'go to' and will always check out first, the other 9000+ I pretty much ignore because there is no way of testing quality. This comes from experience of 10+ years.

Joomla! has to up its game from a professionalism standpoint. To do that we

[2020-01-21 08:35] anibalsanchez commented on #133
I've also copied @JazParkyn to know her view on how we could add the **Security Review** on the context of the JED4 project scope.

I have experience working with similar static analysis tools on corporate solutions. In my view, there is a mismatch between the corporate architectural model of these services and our need for processing a big number of small extensions; so I don't know how we could

[2020-01-26 13:40] joomsea commented on #85
Same problem here, i am not running any vpn or anything alike.  Tried it on 3 different locations with 3 different setups, more if you include cell phone.   seems like this problem has been going on along time.  Maybe someone more experienced has to take a look at the problem.

[2020-01-28 01:22] regularlabs commented on #84
Exactly.
So clearly something broken.
But there seems to be no will or readiness to fix this!

[2020-01-28 12:29] jancsi88 commented on #114
Hello,
we are facing the same problem. Some of our users wrote us becuase they would like to leave a review on our extension, but they can not:
https://extensions.joomla.org/extension/creative-slider/

We received some screenshots about the issue. (He tried in normal and in incognito mode too)
Could you please check on this?
Thank you!

![image4](https://user-images.githubusercontent.com/60389735/

[2020-01-28 12:34] jancsi88 opened #135 "JED review problem"
Hello,
I found a very similar issue on the repo, but since it is closed I decided to open a new one.
[https://github.com/joomla/jed-issues/issues/114](https://github.com/joomla/jed-issues/issues/114)
Some of our users wrote us becuase they would like to leave a review on our extension, but they can not:
[https://extensions.joomla.org/extension/creative-slider/](https://extensions.joomla.org/extens

[2020-01-28 14:16] anibalsanchez commented on #84
We have the will.... but no time. If you can collaborate in the solution, the doors are always open.

After FFTF, we are exploring other alternatives to maintaining the system. I'll update you as soon as we have news.

[2020-01-28 14:27] regularlabs commented on #84
I think it is about allocation of time.
You could argue that something like this is vital to the system and service provided by the JED.
So it should take precedence over time spent on dealing with new listing requests.
Just shut down new requests until major issues are dealt with.

[2020-01-28 14:39] anibalsanchez commented on #84
The volunteers that operate the system are not the same that develop/maintain the system.

The task of fixing bugs waits until a developer finds the time. Since it is not so enjoyable, there are only a few that actually submit improvements in their free time.

[2020-01-28 14:42] regularlabs commented on #84
Ok.

[2020-01-29 07:23] bryan-0101 opened #136 "Ajax universal search bug"
Hello!

We have some issues with ajax universal search in Joomla!

When we manualy go to product at metalacbojler.com (products/storage water heaters/mb standard/inox dry heater), there is result which is ok of course.
https://www.metalacbojler.com/en/products/storage-water-heaters/2-metalacbojler/193-mb-standard-inox-dry-heater.html

But, when we type in search bar "mb standard inox dry" home pag

[2020-01-29 15:22] anibalsanchez commented on #136
Hi,

This ticket system is for developers/users to report issues about JED.

We are unable to provide support for your issue. For support questions about how to use an extension, please contact the developer directly via their website.

Kind Regards

[2020-01-29 15:22] #136 closed, assigned to nobody

[2020-01-29 16:07] bryan-0101 commented on #136
Ok, thanks a lot.

On Wed, 29 Jan 2020, 16:22 Anibal Sanchez, <notifications@github.com> wrote:

[2020-01-31 17:09] anibalsanchez opened #137 "New Ticketing System - Phase 2 - VueJS App"
This ticket is to keep track of the improvements related to the New Ticketing System.

The implementation is complete. Now, we are entering on a second phase to extend the functionality of the original package. Internally, we are developing a VueJS App to add "actions" to the ticketing system.

[2020-01-31 17:14] anibalsanchez opened #138 "Templates on JED"
**Templates on JED**: At this time, the topic of publishing Templates on JED has come up again.

The aim of the current JED Team is supporting all types of Joomla extensions on the directory.

Since the previous effort to create a Template Directory for Joomla (JTD) is inactive ([OSM, Inc. - Full Board Meeting - October 18, 2018](https://volunteers.joomla.org/board-of-directors/reports/904-osm-inc

[2020-01-31 17:17] anibalsanchez commented on #138
**About Templates on JED - GPL / Creative Commons (CC) licenses**:

CC Licenses are free of charge to the public. These licenses allow creators to communicate which rights they reserve and which rights they waive for the benefit of recipients or other creators. An easy-to-understand one-page explanation of rights, with associated visual symbols, explains the specifics of each Creative Commons lice

[2020-01-31 17:24] anibalsanchez opened #139 "[JED4] - JED Design 2020 Updates"
General review of the site design for mobile and desktop. Renewal of JED general visual technology and design.

We are starting to draft some ideas to improve the site.

[2020-01-31 17:38] anibalsanchez commented on #135
Please, follow #114

[2020-01-31 17:38] #135 closed, assigned to anibalsanchez

[2020-02-02 18:53] anibalsanchez commented on #87
Hi,

I've just checked the issue, and the recent changes solved the case.

Thanks for reporting

[2020-02-02 18:58] anibalsanchez opened #140 "Extensions not found in the search"
In some rare cases, these extensions are not found in the search query.

- Community Builder

[2020-02-02 18:59] anibalsanchez opened #141 "Extensions images not shown in search"
In some cases, the crawler is not submitting the image.

[2020-02-02 19:04] anibalsanchez opened #142 "Trying to upload the new image a "-200: HTTP Error""
Reported by thePHPfactory, Advertisement Factory.

[2020-02-03 09:19] ludek-vesely-phrase-com commented on #87
@anibalsanchez No, the recent changes didn't solve the case. I would say that nothing has changed:
![Profile](https://user-images.githubusercontent.com/46561869/73640386-7286b880-466e-11ea-9005-b7266fc74448.png)

Could you please take a look?

[2020-02-12 19:33] PhocaCz opened #143 "Searching does not work"
**Describe the bug**
When I try to find "Phoca Gallery", I get some results but no "Phoca Gallery" (in search results, in the results offered)

![No Phoca Gallery serch](https://pbs.twimg.com/media/EQl8XuuXkAMdyLh?format=png&name=small)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://extensions.joomla.org/
2. Type "Phoca Gallery" into the search box

**Expected behavior**
Phoca

[2020-02-12 19:49] PhocaCz opened #144 "No change in Joomla! administration after editing item on JED"
**Describe the bug**
When I edit and save download links on JED, "Install From" link in Joomla! CMS administration (Extensions - Install - Install from Web) will be not changed.

![No Change after edit](https://pbs.twimg.com/media/EQmAR__XkAAntuI?format=png&name=small)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://extensions.joomla.org/
2. Add, edit or update download link fo

[2020-02-13 08:31] anibalsanchez commented on #144
The JED download URLs are not related to the Install for Web (IFW) feature on the Joomla administration.

The  JED download URL field is shown on the front-end to download the extension.

IFW is based on the installer manifest of the extension, where the "Update Site" is declared.

Hope this helps! Let us know if there is anything else we can do.

[2020-02-13 08:31] #144 closed, assigned to anibalsanchez

[2020-02-13 08:33] anibalsanchez commented on #143
Duplicate #143

[2020-02-13 08:33] #143 closed, assigned to anibalsanchez

[2020-02-13 08:34] anibalsanchez commented on #113
I've been working on an update to the latest Algolia API v4.

My plan is looking into the issue of the extensions that are now indexed at the same time.

One more extension to check, "Phoca Gallery" #143

[2020-02-13 10:54] PhocaCz commented on #144
Hi, can you please provide me more detailed information.

My manifest is:
https://raw.githubusercontent.com/PhocaCz/PhocaGallery/master/manifest.xml

[code]

My phocagallery.xml is:

[code]

Isn't it the downloads/downloadurl attribute?

[2020-02-13 11:21] anibalsanchez commented on #144
Please, check this link:

**Joomla! Update System requirement
 / What is the Joomla! Update System?**

https://extensions.joomla.org/support/knowledgebase/item/joomla-update-system-requirement/

[2020-02-13 11:32] PhocaCz commented on #144
I don't have any problem with update system, it works like expected:

![Phoca Gallery Update Info](https://i.imgur.com/GvLKZCq.png)

![Phoca Gallery Update Success](https://i.imgur.com/qV18n10.png)

The problem is only inside Install from Web

![Problem Install from Web](https://i.imgur.com/prLQIqu.png)

[code]

The URL is wrong and such URL is not defined in XML files  :bulb:

[2020-02-13 11:49] anibalsanchez commented on #144
IFW is operated by the core team. It was developed well before I joined the JED team. So, I don't know how it exactly works. I guess that it extracts the extension information from JED and it has its own cache.

To investigate the case, you can look into the code here: https://github.com/joomla/install-from-web-server

[2020-02-13 12:19] PhocaCz commented on #144
I can debug the answer from Joomla! server:
https://appscdn.joomla.org/webapps/index.php?option=com_apps&format=json&view=extension&id=150&product=Sm9vbWxhIQ==&release=My45&dev_level=MTE=&list=grid&pv=Mi4wLjE=&callback=jedapps_jsonpcallback

but unfortunately I have no access to JED server to debug which information it returns :-(

[2020-02-13 12:53] anibalsanchez commented on #144
com_apps is not an extension on JED. In some way, IFW interacts with JED, but I don't know how.

[2020-02-16 21:32] #110 closed, assigned to anibalsanchez

[2020-02-16 21:33] anibalsanchez commented on #98
I've just updated to the lastest Algolia API v4.

Please, check if the issue remains active.

[2020-02-16 21:37] roland-d commented on #98
@anibalsanchez Not sure if it is fixed, the Enter key has been disabled and clicking on the magnifying glass doesn't do anything.

[2020-02-17 08:36] anibalsanchez commented on #98
The new widget search immediately while you type, so the Enter key or the magnifying glass has no function. I'm going to hide the cursor on the magnifying glass to make it clearer.

Thanks!

[2020-02-17 12:33] Gitjk commented on #98
Of course the problem with the space character (%20) is gone. However, a general problem with Algolia seems to be that the proximity of two search words is no ranking factor in the search results.

[2020-02-19 08:27] anibalsanchez opened #145 "JED Search: the proximity of two search words is no ranking factor"
**Describe the bug**
Reported by @gitjk, the proximity of two search words is no ranking factor. Please, @gitjk describe in detail the case and how to reproduce it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If appli

[2020-02-19 08:27] anibalsanchez commented on #98
Great,

Let's close this ticket and open a new ticket to follow other search issues. #145

[2020-02-19 08:27] #98 closed, assigned to anibalsanchez

[2020-02-19 16:18] Gitjk commented on #145
Hello Anibal,
yesterday I thought Algolia does not rank two search words in close proximity better than cases where two search words are for example 100 words apart in the extension description. Checking a again, I now think it does. But maybe you can consider to allow some advanced search syntax, as described here:
[https://www.algolia.com/doc/api-reference/api-parameters/advancedSyntax/](url)

[2020-02-21 11:12] conconnl opened #146 "JED Newsletter - Remove Google+"
@anibalsanchez
As discussed an issue registration to remember it.
Please check the JED Newsletter configuration to make sure Google+ isn't there anymore

[2020-02-28 14:51] anibalsanchez commented on #137
Implementation completed.

[2020-02-28 14:51] #137 closed, assigned to anibalsanchez

[2020-02-28 15:06] anibalsanchez commented on #139
Design idea for the JED Design 2020:

## JED HOME 2020

![JED HOME 2020](https://volunteers.joomla.org/images/reports/jed-home-2020.jpg)

## JED Category Page 2020

![JED Category Page 2020](https://volunteers.joomla.org/images/reports/jed-category-2020.jpg)

## JED Most Reviewed Widget 2020

![JED Most Reviewed Widget 2020](https://volunteers.joomla.org/images/reports/most-reviewed-2020.jpg)

[2020-02-28 15:12] anibalsanchez commented on #138
- Recently a new Joomla template directory has been published, maintained by members of the community, and with an open process to accept new submissions. https://themeglobe.com/joomla/
- To submit new templates: https://github.com/ciar4n/themeglobe
- Since the basic requirement of a general template directory for Joomla is covered, we close the JED issue.

[2020-02-28 15:12] #138 closed, assigned to anibalsanchez

[2020-02-28 16:00] mbabker commented on #85
Same thing I posted on the forum a while back, worded a bit more politely.

1) The fact that I'm blocked from leaving a review while signed in to Joomla's own VPN system is kind of messed up.

2) The fact that I'm blocked from leaving a review while Apache is running on my local system is kind of messed up.

At this point, you're practically better off just disabling the review system in full unti

[2020-02-28 16:02] mbabker commented on #138
So basically the project's stance is "well, a community member created an unofficial template directory, so the project doesn't need to follow through on a official solution"?  (Not that I disagree with this stance, these days I'm practically to the point that Google is a better solution for extension lookups than the JED, but that statement should be made a bit more clearly so people understand w

[2020-03-15 12:12] anibalsanchez commented on #86
After an upgrade of the mailing extension, the page looks better now.

Please, re-open the issue if you think that it needs further improvements.

[2020-03-15 12:12] #86 closed, assigned to anibalsanchez

[2020-03-15 16:52] anibalsanchez commented on #141
I found that some extensions don't have a valid thumbnail.

In these cases, the search is going to show a default thumbnail:

![default thumbnail](https://extensionscdn.joomla.org/images/thumbnail-not-available-picture.png)

[2020-03-15 16:52] #141 closed, assigned to nobody

[2020-03-15 16:55] anibalsanchez commented on #140
Following the issue on #113

[2020-03-15 16:55] #140 closed, assigned to nobody

[2020-03-16 07:52] kvips commented on #85
I have the same problem.
Fresh new windows installation, no extra software and still a problem.
I get logged in but after writing a review a got an error:
---
Error
Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection.
×
Message
Please login or create a new account to revie

[2020-03-21 16:27] anibalsanchez commented on #146
Hi,

I haven't found any occurrence of G+ https://extensions.joomla.org/newsletter/.

I think that the issue is already solved.

If not, please, include the specific page. Txs!

[2020-03-21 16:27] #146 closed, assigned to nobody

[2020-03-21 16:28] anibalsanchez commented on #142
Unable to reproduce it and we didn't receive new reports.

[2020-03-21 16:41] anibalsanchez commented on #113
Hi,

I've been running tests and performing queries to debug the issue. The search issue is found on extensions that have their own subcategories and/or there are also other extensions naming the parent extension).

I've re-adjusted the index parameters and the issue seems is solved. Community or Phoca Gallery appear first or near first in the search results. The rest of the search cases return si

[2020-03-21 16:41] #113 closed, assigned to anibalsanchez

[2020-03-21 16:49] anibalsanchez commented on #145
I've checked the information, however, I don't see (or I don't know) how we can apply it to our current search implementation.

I've updated the search documentation to the current configuration: https://github.com/joomla/jed-issues/wiki/JED-Search-use-cases-and-definitions

If you can send us specific recommendations, we'll be happy to test and implement them.

Since this issue is not actionable,

[2020-03-21 16:49] #145 closed, assigned to anibalsanchez

[2020-03-21 16:51] anibalsanchez commented on #133
At this point, this issue is more like a "nice to have" than something that we can do today.

Realistically, better if we improve the JED Checker for Joomla 4 #118

Since this issue is not actionable today, I'm closing ti, and moving our efforts to JED Checker #118

[2020-03-21 16:51] #133 closed, assigned to nobody

[2020-03-21 16:57] anibalsanchez commented on #91
Since we are thinking about this point within the effort of the new design, I'm closing this issue and moving the conversation to #139

[2020-03-21 16:57] #91 closed, assigned to nobody

[2020-03-21 17:00] anibalsanchez commented on #89
Duplicated, please follow #74

[2020-03-21 17:00] #89 closed, assigned to anibalsanchez

[2020-03-21 17:02] anibalsanchez commented on #34
Please, follow the new design 2020 updates here #139

[2020-03-21 17:02] #34 closed

[2020-03-21 17:04] anibalsanchez commented on #20
We are merging the effort to improve the SEO on the upcoming 2020 Desing update. Please, follow #2020

[2020-03-21 17:04] #20 closed

[2020-03-21 17:07] anibalsanchez commented on #118
Hi,

The JED 4 repo is available now here: https://github.com/joomla/com_jed4

Feel free to join the effort of the JED4 Team. You can submit an issue there to continue with the conversation there.

[2020-03-21 17:07] #118 closed, assigned to anibalsanchez

[2020-03-22 15:26] tassosm opened #147 "Urgent - All extensions disappeared from the instant search results"
This morning I noticed [all my extensions](https://extensions.joomla.org/profile/profile/details/230046/#extensions) disappeared from the instant search results. They do appear in the standard Joomla category views though.

Take, for example, [EngageBox](https://extensions.joomla.org/extension/style-a-design/popups-a-iframes/engage-box). It does appear in the [iFrame & Popups](https://extensions.j

[2020-03-23 07:35] Ruud68 commented on #147
Hi, facing exact the same issue for my extensions. furthermore if you type eg opengraph in the search box you get all sorts of unrelated extensions. So I think that the search is broken...

[2020-03-23 09:05] regularlabs commented on #147
These also do not appear in the search results when searching through the form:
https://extensions.joomla.org/instant-search/?search-home=engagebox&q=engagebox

Seems like the indexing went haywire.

[2020-03-23 09:07] anibalsanchez commented on #147
I'm investigating the issue. It looks like something went wrong in the indexing process.

[2020-03-23 09:42] anibalsanchez commented on #147
I reverted a recent change that generated a JSON encoding error and broke the nightly indexing process.

Now, the process has been completed successfully.

Thanks for reporting!

[2020-03-23 09:42] #147 closed, assigned to mfleeson

[2020-03-24 08:01] tassosm commented on #147
Thank you! It now works.

I noticed the search rankings are different a little bit now. Have you introduced any changes to the ranking factors?

[2020-03-24 08:36] anibalsanchez commented on #147
Yes, this weekend I solved a search issue tweaking the order of ranking factors #113

This is the new configuration: https://github.com/joomla/jed-issues/wiki/JED-Search-use-cases-and-definitions

[2020-03-26 10:24] thephpfactory commented on #142
We encounter this issue only on this extension (we have over 30 listed). Also the same error comes when trying to upload a new version (extension kit). This happens only on Advertisement Factory, we are not able to change the image, nor to put a new kit.

What can we do to update? Can I send to someone the new kit and the image to perform the update, if we are not able to?

[2020-03-26 10:41] thephpfactory commented on #142
I posted here two screenshots with the error on JED:
https://imgur.com/a/XM4zabH

[2020-03-26 10:57] anibalsanchez commented on #142
Since the issue is only found in your setup, please, send us more info about your local configuration. Additionally, please, try with a different browser/network.

[2020-03-26 11:05] thephpfactory commented on #142
We tried this under FF, IE and Chrome; on all the same  -200: HTTP Error

First we delete the old kit (or image), then we upload a new kit or image. When the upload finished the -200: HTTP Error appears.
If we hit ok on the error and try to save, this https://ibb.co/StYj5fV comes up (although the new image seems to be there).

[2020-03-27 18:16] anibalsanchez opened #148 "JED Link Checker 2020"
The original JED Link Checker was disabled after several false positives that caused the wrong extensions unpublishing.

We are finding that we need to re-activate a process to validate the extension links.

The new workflow would send notifications of dead links to the developer for 3 times in a week. If the links are not fixed after a week, then the extension would be unpublished.

[2020-03-27 18:22] anibalsanchez opened #149 "Quality Requirements of Extensions"
To improve the current extension quality requirements, we are defining a new set of minimum rules. The idea is to improve the minimum information submitted by the extension developers.

At this point, these are the rules that we are currently proposing:

- Listings in English
- Project or Download page at least in English
- Screenshots in English
- Provide English language files
- Links linking to

[2020-03-27 18:27] anibalsanchez opened #150 "New Joomla Ad Server 2020"
We are collaborating with the general effort to implement the new Ad Server.

[2020-03-27 18:33] anibalsanchez opened #151 "JED Volunteer Application Form Checkup"
It needs a checkup. The new Google Captcha v3 API.

[2020-03-29 09:58] anibalsanchez commented on #132
We have found an issue in the mail configuration that was generating delivery issues.

It has been fixed. Please, check it again and report if the issue remains.

[2020-03-29 09:58] #132 closed, assigned to anibalsanchez

[2020-03-30 02:09] webcomil opened #152 "JED CDN is broken"
the JED from Israel looks not as it should
therefore cannot work with
opening he google chrome console brings many 502 errors.

1. Go to 'JED homepage' at:  https://extensions.joomla.org/ from israel
2.  see the website is broekn
3. See error one console: of js files with error 502 bad gateway.

on all browsers.
see attached images
![broken_JED_error](https://user-images.githubusercontent.com/6807

[2020-03-30 08:27] anibalsanchez commented on #152
It works fine from here (Spain). Where are you located?

[2020-03-30 09:15] anibalsanchez commented on #148
This weekend I've reviewed the legacy Link Checker.

The structure is fine so we can reuse to improve it. I've already started to refactor the code. The plan is to implement the new job the next weekend.

The new policy will be:

- 10% of the extension links are checked each day
- The developers are notified by email when links fail
- After 3 tries, the extension is unpublished

So, an extension w

[2020-03-30 09:28] anibalsanchez opened #153 "Data Issue: Developer for this extension is absent"
The extension does not have the assigned developer. Original Ticket 570 Autolinks

[2020-04-03 07:27] anibalsanchez opened #154 "Error: 0 Call to a member function get() on null"
It looks like after the last update, there an error in the user profile.

[2020-04-03 07:33] anibalsanchez commented on #154
I disabled the greeting from mod login. It would be better to remove the custom login and move to the core login module.

[2020-04-03 07:54] anibalsanchez commented on #154
Tomorrow, I'll review the mod_login. In the meantime, it works.

[2020-04-05 09:05] anibalsanchez commented on #148
At this time, it will work in this way:

- JED Link Checker test the link once per day
- 1% of the extensions per day
- For each link fail, it sends a notification
- After 3 fails, the extension is unpublished (we can't contact the user or the user is no longer active) and the user must send a ticket to republish the extension

The procedure is conservative. If it works ok for a few months, we can

[2020-04-07 17:32] #42 closed

[2020-04-12 10:12] anibalsanchez commented on #87
I've found a new data issue that could have affected your case. It is fixed.

Please, check it again and report it back if the issue persists.

[2020-04-12 10:12] #87 closed, assigned to anibalsanchez

[2020-04-15 11:01] conconnl opened #155 "None valid URLS "Compatible with J4" & "Custom Fields""
Both mentioned buttons are not valid URLs.
They are not usable by Google, do not use any correct SEO methods or whatsoever.
They are just search filters, which decrease the quality of the site.

The person created them should convert them to real URLs with a purpose, which can also be shared with others and are easy to remember.

<img width="195" alt="image" src="https://user-images.githubusercont

[2020-04-15 18:57] anibalsanchez commented on #155
This is a tough one. At this point, com_jed v3 is on a feature freeze and we are not adding new features. That's mainly why when I have to add the new menu items, I crafted these URLs as the way to feature on the main menu **Extensions Compatible with J4 Alpha** and **Custom Fields**.

At this time, the only solution to the issue is unpublishing the menu items.

@JazParkyn What do you think? Do we

[2020-04-16 15:15] ludek-vesely-phrase-com commented on #87
Thank you, Developer field seems to be fixed. However, the extension is now in Pending state, so I hope it will be visible on JED soon.

[2020-04-16 15:30] anibalsanchez commented on #87
Hi,

If the extension is still in Pending state after a week, please, send us a ticket to check it.

Regards

[2020-04-18 19:04] zero-24 opened #156 "[JED] No 2FA Configuration in the frontend"
**Describe the bug**

It is not possible to configure 2FA from the frontend

**To Reproduce**
Steps to reproduce the behavior:

Login as extension developer
Notice that there is no way to configure 2FA for that account.

**Expected behavior**

As an developer I'm able to setup 2FA to my account.

**Screenshots**
![image](https://user-images.githubusercontent.com/2596554/79668829-daea2e00-81b7-11ea

[2020-04-18 19:20] anibalsanchez commented on #156
@conconnl Please, could you check the case.

[2020-04-18 19:56] conconnl commented on #156
Nothing to check for me.
The site doesn’t use the default joomla system, it’s something in com_jed.
The developer needs to fix this as 2FA is required for at least all super users, so I must work in the front end.

[2020-04-19 06:17] zero-24 commented on #156
@anibalsanchez can you add an menu entry for the core user profile view that should include all code nesesarry for 2fa?

[2020-04-19 09:06] anibalsanchez commented on #156
Give me a week to check why it was customized in this way. If it's possible I'll restore the original core functionality.

[2020-04-19 09:34] zero-24 commented on #156
Awesome ping me when you need help on that.

[2020-04-20 14:32] de1vin opened #157 "After updating the image, the preview is not displayed on the search page"
After updating the image, the preview is not displayed on the search page.
https://extensions.joomla.org/instant-search/?jed_live%5Bquery%5D=getbutton
![Annotation 2020-04-20 173104](https://user-images.githubusercontent.com/11943785/79763442-c4b1ae80-832c-11ea-82b6-12b25db575f2.png)

[2020-04-23 12:53] anibalsanchez commented on #156
Thank you in advance @zero-24 !

[2020-04-23 23:42] zero-24 commented on #156
Ok got it working on the stage site:
![image](https://user-images.githubusercontent.com/2596554/80159667-e11f4680-85cb-11ea-9bd6-dfce0fbf5341.png)

Right now the way to enable it woud be just to create an com_users menu entry to edit the user:
![image](https://user-images.githubusercontent.com/2596554/80159752-0e6bf480-85cc-11ea-82eb-a729a2640505.png)

Please advice how we should proced from here

[2020-04-24 09:28] anibalsanchez commented on #156
Great news.

We can organize the JED User Management in this way:

- **Profile / User Settings**, as you shown based on com_users / profile view
- **JED Account**, to manage only *Developer Name* and the rest of the user fields as read-only or hidden fields.

Since this organization is going to be the new JED User Management. We can disable the modification of the core user fields from JED. I thin

[2020-04-24 09:39] zero-24 commented on #156
Ok will take a look thanks.

[2020-04-24 09:49] anibalsanchez opened #158 "Invisible reCAPTCHA?"
A user reported in the forum that it was not possible to register on JED: https://forum.joomla.org/viewtopic.php?f=262&t=979622

I confirmed the issue and it seems that the problem is caused by the Invisible reCAPTCHA configuration. I think that it is part of the recent changes.

I have changed the captcha to "CAPTCHA - reCAPTCHA" to re-enable the user registration.

Please, confirm if we continue

[2020-04-24 10:01] conconnl commented on #158
For me it's rather simple.
JED must follow the Joomla user functionalities.
Invisible reCAPTCHA is the latest and safest method in Joomla, a feature which exist for years.
If JED doesn't follow the defaults and have the old one hardcoded it's needs to be fixed.

That you temporary use the older version, to keep it working, doesn't off course mean it's the right way.

[2020-04-24 10:32] anibalsanchez commented on #158
@zero-24 The current registration seems to be incompatible with **Invisible reCAPTCHA**.

I think we could also drop the custom com_jed registration from. The value of the current form is that it includes the **Developer Name**. So, I think that we could remove it and to move the site to the standard login form and registration form.

What do you think  @zero-24 ? We could try to migrate at the sa

[2020-04-24 10:34] conconnl commented on #156
Is the Developer Name something in com_jed ?
I ask because I expect you could use a custom user field to have the same field.
Only depending on where it needs to be stored we need a separate plugin, which is not very difficult to do.

[2020-04-24 11:02] zero-24 commented on #158
I can take a look other the weekend maybe any pointers where to look?

Where is that developer name in com_jed? And why does it need to be a dedicated field anyway?

[2020-04-24 11:03] zero-24 commented on #156
Why do we need that developer name anyway?

[2020-04-24 11:11] anibalsanchez commented on #156
The `developer_name` is a com_jed field, currently stored in the JED tables, and used in many features. Since JED3 is feature freeze, we look for ways to improve the site without changing com_jed extensively.

About the need of the `developer_name`, there is a nasty bug, that took me a couple of months to discover, that prevented the modification of extensions when there is no defined Developer Na

[2020-04-24 11:14] anibalsanchez commented on #158
The idea is removing the current /register/profile/edit, changing **Log in** and **Register** to target the core User component features.

I think that there is no need of code modifications. Chekc the details here: https://github.com/joomla/jed-issues/issues/156#issuecomment-618949284

[2020-04-24 15:13] anibalsanchez commented on #150
The service is fully integrated. Thanks, @conconnl !

[2020-04-24 15:13] #150 closed, assigned to anibalsanchez

[2020-04-24 15:21] anibalsanchez opened #159 "JED Newsletter on CJO"
The JED Newsletter will be migrated and find a new home to CJO. https://community.joomla.org/

[2020-04-24 15:23] anibalsanchez commented on #148
The new JED Link Checker is working fine and we are monitoring the service.

[2020-04-25 09:54] anibalsanchez opened #160 "JED CI - cPanel ssh-agent issue"
As we discussed on glip, there is an issue on cPanel and implementation of the ssh-agent management.

Today, we have a script that runs, pull changes from the repository and apply the changes automatically with a git hook. The `jed-git-hook-ci.sh` and the post-merge hook.

cPanel supports ssh authentication.... but when the cronjob runs, the `ssh-agent` can be inactive. So, the CI fails. As a work

[2020-04-25 10:22] anibalsanchez opened #161 "The JED Router Patch and the Trailing /"
According to the **SEO-JED-ANALYSIS** report, there are **Content duplication issues**.

In particular, to solve the duplication of URLs, it has been implemented a modification of JED and Joomla files to generate URLs with a trailing slash. For instance:

- https://extensions.joomla.org/category/photos-a-images/
- https://extensions.joomla.org/category/photos-a-images/slideshow/

For more informat

[2020-04-25 10:45] conconnl commented on #160
@zero-24 and @conconnl will come with the right way of running this kind of hooks, which will be usable for all Joomla Properties we have, so it is standardized as well.

[2020-04-25 10:53] zero-24 commented on #156
can you check how many username are not the same like developer_name from the database? When it is not used we might just drop that account tab to reduce the complexety right?

[2020-04-25 10:53] zero-24 commented on #158
ok lets wait for that to be up an running. So we can use the core captcha stuff.

[2020-04-25 10:56] zero-24 commented on #161
Just to make sure i get this correctly.

Right now JED is able to process URLs with a trailing / & defines a canonical link with a trailing /, via an HTTP header. as well as there is a modification of joomla?

Can you point me to that modification?

[2020-04-25 11:07] JazParkyn commented on #161
Canonical link is defined for extentions view: \public_html\components\com_jed\views\extension\html.php L74

It isn't defined the same file for categories view: public_html\components\com_jed\views\category\html.php

The post-merge hook runs this: cp $SOURCE_PUBLIC_HTML_DIR/components/com_jed/site-route-patch.php $TARGET_PUBLIC_HTML_DIR/libraries/src/Router/SiteRouter.php

[2020-04-25 11:08] zero-24 commented on #161
Thanks will take a look into it,

[2020-04-25 11:37] conconnl opened #162 "Log Structure not equal on all places!"
There are different parts within the system which generate logging for later references.
Only they are scattered around, which doesn't make it easier to analyze the information.

Suggestion: Use the default Joomla location for all logs "/administrator/logs"

* Update all cronjobs
* Update any custom script which has a log definition and doesn't use the default
* Move logs in the other folders rela

[2020-04-25 13:30] anibalsanchez commented on #158
The user management is now in the com_users components.

However, com_jed has captchas that must be reviewed to check if they work with the Invisible reCaptcha.

[2020-04-25 13:33] anibalsanchez commented on #156
@zero-24 Most developers have defined the Developer Name. In fact, if you are a business, the Developer Name must be your real company name.

The user management is now in the com_users components. Please, check if everything works as expected.

[2020-04-25 14:55] zero-24 commented on #156
work good can you move the profile and logout menu entry here:
![image](https://user-images.githubusercontent.com/2596554/80283088-8c87e280-8715-11ea-93c9-c22e81de90f3.png)

[2020-04-25 15:38] anibalsanchez commented on #156
@zero-24  Sure?  I think that's better if we keep the navbar clean. The modification of the user profile or the logout is not something that you want to find in front of the most frequent use case (the search).

[2020-04-25 16:52] zero-24 commented on #156
Hmm when you look for other web apps and even joomla logout and profile is on the top right position and even the login is there so tobl me it is confusing to look under Support to logout and find my Profile

[2020-04-25 16:57] zero-24 commented on #158
Where do com_jed use captchas so we can review and test the code?

[2020-04-25 17:27] anibalsanchez commented on #156
okok, I'll check how it can be accommodated there on the right side.

[2020-04-25 17:29] anibalsanchez commented on #158
Check the Account edition tab.

Only the "Developer Name" field must remain.

But, also the core user fields are still being included and probably the captcha with them.

[2020-04-25 17:53] RolandSM opened #163 "No modification on pending extensions possible"
I have an extension pending in JED and should make some modifications.
But this is not possible, if I click on EDIT I get an empty form.
Also I was sure that I filled the required fields already?

Steps to reproduce the behavior:
1. Login to JED
2. On Overview you see your pending extension, also with Text and screenshot
3. If you click on the normal opening button, a text is shown that its pendin

[2020-04-25 18:12] anibalsanchez commented on #163
It seems that there was an issue in the extension and it was unpublished. I've reactivated it, however, there's a validation issue.

Please, check the message. When you’ve finished your changes, please open a ticket under “New Listing Support” and ask for it to be rechecked.

[2020-04-25 18:25] conconnl commented on #156
In the new template version the login will change to logout in the footer of all our website.

[2020-04-25 21:59] conconnl commented on #159
I have two options to create the new list within CJO.
1. Export the current developers list 2356 users.
2. Receive from you the list with the real extension developers on the site, for this I need name,email.

In CJO their are new templates to use for newsletters.
My suggestion here is to copy one, change it a little bit to your needs, so this is updated  as well.

[2020-04-25 22:18] zero-24 commented on #156
awesome.

Sure when the new template is out we can check that again right?

[2020-04-25 22:27] conconnl commented on #156
I can also add the change to the needed file.
I can't generate the release until the Compliance team adds the Cookie Script.
JED has edits on the default template, so update can't be done in the normal way.

Let me know what to do and I will add the change in GitHub

[2020-04-25 22:38] zero-24 commented on #158
It seems i still see al fields:
![image](https://user-images.githubusercontent.com/2596554/80292282-d09ad780-8755-11ea-9e4e-992af71fc21d.png)

And it seems that the captcha at the bottom:
![image](https://user-images.githubusercontent.com/2596554/80292295-fd4eef00-8755-11ea-98a1-d92fd06799dc.png)

is ignored now as i have not to pass it to get the changes saved.

@anibalsanchez @conconnl would you

[2020-04-26 08:13] conconnl commented on #158
Anibal temporary enabled the old recaptcha method. The invisible version should be used and then captcha bar won’t be visible.

I don’t see any reason why we wouldn’t enable Yubi as well, especially if everything is handled by com_users

[2020-04-26 10:10] PhocaCz commented on #113
Hi, sorry for late response, I didn't follow this issue but https://github.com/joomla/jed-issues/issues/143 ...

Testing now and problems described in https://github.com/joomla/jed-issues/issues/143 seem to be fixed.

Thank you very much, Jan

[2020-04-26 13:57] zero-24 commented on #161
@anibalsanchez can you check this PR whether it fixes the issue?

https://github.com/joomla/joomla-cms/pull/28814

[2020-04-26 16:55] RolandSM commented on #163
Hello,
same error as before, I cannot edit the pending extension and add the requirements from ticket...
Greets

[2020-04-26 19:14] anibalsanchez commented on #163
Hi,

We have checked the extension and it looks like it doesn't have a logo and you have not selected the checkbox about the "Joomla! Update System". These settings are mandatory and you fill them to be able to save it.

[2020-04-27 10:01] anibalsanchez commented on #161
We could create a new system plugin to do the opposite, using the technique, add a trailing slash.

    $router->attachBuildRule(array($this, 'addTrailingSlash'), JRouter::PROCESS_DURING);

[2020-04-27 10:21] zero-24 commented on #161
A plugin would be far better than a core hack. So :+1: from me maybe JED4 fixes that than better ;-)

[2020-04-27 10:26] anibalsanchez commented on #161
Yes, of course. Could you test the idea of a plugin to implement the `addTrailingSlash`?

[2020-04-27 10:28] zero-24 commented on #161
sure do you have a plugin somewhere already? Installing it on the stage envoirment should do the trick right i can than take a look for sure.?

[2020-04-27 10:29] conconnl commented on #159
@anibalsanchez Can I please have an answer.
The longer we wait the bigger the chance the Confirmed user list is very short.

[2020-04-27 10:34] anibalsanchez commented on #161
This would be a new system plugin. If we need to deactivate it, better if it is isolated. The plugin could be of general interest, so it could be published on JED.

Yes, you can test it on stage.

[2020-04-27 10:35] anibalsanchez commented on #159
Agreed. **1**

[2020-04-27 10:36] JazParkyn commented on #159
Has the current list in Acy (option 1) been kept up to date from com_jed though? If not a new export would be better (option 2).

[2020-04-27 10:40] anibalsanchez commented on #159
As far as I know, it has been working in this way for ages and we (the current team) haven't changed until now.

So, it is safe to move it as it is now.

Option 2 goes one step further and would contact all extension developers (regardless if they subscribed the newsletter).

[2020-04-27 10:54] conconnl commented on #159
For me it doesn't matter at all.
The fact is simple.....
* If you want to reach all your developers in the future, we need to full list and ask consent.
* If it doesn't matter to JED team, I will use the old list and ask consent.

[2020-04-27 11:11] anibalsanchez commented on #159
In my opinion, if we are defining the newsletters, **1**. People subscribe to the newsletter and we contact them about the newsletter. So, we have to manage the current list of subscribers.

Contacting different segments of users (all or owners of extensions), due to different circumstances, it is another matter.

[2020-04-27 11:19] zero-24 commented on #161
Ah missunderstand you. I thourgt ther would be one already and i should test it ;-)

Will check when i can get to it writing one. Do you have a pointer for the event? Should be something on before route or something right?

[2020-04-27 12:06] anibalsanchez commented on #161
On this area of the router, I don't know more than the current workaround that applies the /. So, if the plugin achieves the same effect, then it is OK for me.

If the plugin provides the full support of trailing / for the CMS, then much better. If it could be asking too much for a simple system plugin.

[2020-04-27 14:27] anibalsanchez commented on #162
@conconnl All cronjobs are failing after the removal of the logs directory.

Please, restore the logs directory and give me the opportunity to review the point (the next weekend). We also need to check what processes are running and generating logs in the current /logs directory.

[2020-04-27 15:03] RolandSM commented on #163
Hello,
seems so but I have no possibility to fix this. The entry is shown in my overview (see initial video)
Also Iam sure that I activated Joomla Update system like all my other extensions.
Think I have to make the complete entry new? But can I take a title which is already existing???
You see my video? You also see my extensions? username Medialekt on JED? You see also last ticket answer on 19.0

[2020-04-27 15:11] RolandSM commented on #163
I refilled all the form fields like all my other extensions. Saved.
Wrote a reply for my ticket to check again.
But if I open again the EDIT Button, the Form is again empty like before and in my video...

[2020-04-27 15:26] conconnl commented on #162
I didn’t remove anything.
I just saw this differences and is why I created the issue. Updating the CPANEL cronjob is 2 minutes work.

[2020-04-27 16:04] anibalsanchez commented on #162
If you can do it before the next weekend, go ahead. No worries.

[2020-04-27 16:33] conconnl commented on #162
I updated the cronjobs in CPANEL.
I see a difference between the Cronjobs, shouldn't those be the same.

Some use:  >> /home/USER/public_html/administrator/logs/NAME.log 2>&1
Some use:  > /home/USER/public_html/administrator/logs/NAME.log 2>&1
Some use:  >/dev/null
Some use:  >/dev/null 2>&1
Some even have # before the complete command.

What should I do with it?

[2020-04-27 16:39] anibalsanchez commented on #162
Follow the same convention.

There are processes that accumulate the log output, processes that only matter the last execution and processes that don't generate useful output.

Please, move the currently logged files to the new /administrator/logs to maintain the logged information consistency.

[2020-04-27 16:43] JazParkyn opened #164 "[JED] - search not working correctly / icon and enter"
Type in a search string on the homepage:
- clicking the search button **does** do the search with the string
- pressing enter  **does not** do the search with the string,

Type in a search string in the instant search bar:
- clicking the search icon does nothing
- pressing enter does nothing

[2020-04-27 16:46] JazParkyn opened #165 "[JED] - search includes unpublished extensions"
Search string: Instagram

https://extensions.joomla.org/instant-search/?jed_live%5Bquery%5D=instagram&jed_live%5BrefinementList%5D%5Btype%5D%5B0%5D=Free

Results contain:
![image](https://user-images.githubusercontent.com/6943227/80398043-f7205600-88ae-11ea-9b07-8079615957ad.png)

Clicking on the extension gives:
![image](https://user-images.githubusercontent.com/6943227/80398068-00a9be00-88af-11e

[2020-04-27 16:57] anibalsanchez commented on #164
Okok, I have the JS code written in an extension. I'll adapt it to the JED widgets.

[2020-04-27 17:00] conconnl commented on #162
My proposal:

Let's use:
/usr/local/bin/php /home/User/Folder/ScriptName.php >> /home/User/public_html/administrator/logs/scriptname-$(date +\%Y\%m).log 2>&1

This will generate a new log file per month and appends the required log information.
It will make sure we don't have super sized files, which can generate other issues.
It also makes it possible to implement cleaning.

[2020-04-27 17:05] anibalsanchez commented on #165
The current search indexer runs weekly and processes all extensions. In the meantime, these differences are found.  Similarly, an issue caused by the same source was reported the past week #157

It would be better if the indexer runs processing only the modifications at every hour. In theory, the ucm_content has the timestamps to process only the changes. It would be better perfect if the extensio

[2020-04-27 17:06] anibalsanchez commented on #162
Sure, excellent.

[2020-04-27 17:35] conconnl commented on #162
All updated...
The ones with # in front, are probably not active.
Can those be deleted?

[2020-04-27 17:47] conconnl commented on #159
The newsletter list is created on CJO, all users are imported and they have received an confirm request based on the template created by Marketing.

The subscribe page is created: https://community.joomla.org/joomla-extensions-directory-newsletter.html
The archive page is created: https://community.joomla.org/extensions-directory-newsletter-archive.html
The thank you page after subscribing is crea

[2020-04-28 09:12] anibalsanchez commented on #159
Great work @conconnl !

Now, an opinion, **be warned**: _I'm picky and I'm not a designer_. Please, _feel free to ignore the following opinion_, I'm only writing it here to check if it can be incorporated in the process in some way.

1. The mailing template is showing the tables.
2. The mailing template changes the text size proportions on mobile

![Confirmation - Desktop](https://blog.anibalhsanc

[2020-04-28 09:20] conconnl commented on #159
Sorry, this is not something I can do anything with.
Templates are build and maintained by Marketing, this is just the default automatic confirm message. Which is used by AcyMailing by default. I just pressed send.

I know someone is implementing the new AcyMailing 6, with new designs, templates etc.
I'm also not an designer, so I'm not going to mingle with it. (I will certainly break things)

Add

[2020-04-28 09:22] conconnl commented on #159
....
Another problem we have to fix, is that the templates hacks breaks the default layout designs of our articles etc.
For now I'm going to add inline styles to the thank you page, to revert all unnecessary template changes.

The new JED must follow our default template any any CSS change should be done correct for a specific page and not overwrite the whole template.

[2020-04-28 09:36] anibalsanchez commented on #165
I'll check if it can be improved to increase the frequency with a few tweaks (and without running out of credits, indexing the information that it is already indexed).

[2020-04-28 09:37] anibalsanchez commented on #163
Please, try to create a new extension with a new name to confirm if it is a problem related to the extension naming.

[2020-04-28 12:51] RolandSM commented on #163
My Extension is named "User Redirect".
There was an entry so I had to make "User-Redirect". This is the one with the issue.

I can make a new entry, but both are away now???

BUT:
There exists no "User Redirect" only a "User Redirect After Login"...
Perhaps in trash??? Or could you see what is the state of "User Redirect"...

The only thing I can do with a new entry without whitespace "UserRedirec

[2020-04-28 13:23] anibalsanchez commented on #163
We can delete your extensions from your profile, so the names become available again.

If there are existing extensions with the same name (or alias), then the previous extensions have the name, the names (and alias) is reserved and it can't be released.

My guess is that your extension (in some way) is in conflict with a previous extension name (or alias).

Please, try to send a new extension nam

[2020-04-28 16:36] RolandSM commented on #163
Okay, let me think about...

My extension name is "User Redirect". This was not possible because the JED said that´s already existing.
Then I switched to "User-Redirect" which works... One save... But no further edit...

The Joomla Core replace whitespaces inside Title into a minus (-) as Alias.
So in this example the check was only the Title which was Okay. But after change there should be now tw

[2020-04-28 16:40] RolandSM commented on #163
Can you see in database if there are really two existing entries like I wrote?
Can you see also the other one with same name if this exists and also is published? Or the other entry can be deleted when its not published??? I cannot find on extension search, so it seems perhaps that after removing I can use this name 1:1?

[2020-04-28 16:45] anibalsanchez commented on #163
We need to confirm that your user can create a new extension, with a new name not used before.

Please, try to create a new extension named for instance "RM User Redirect".

[2020-04-29 22:26] conconnl commented on #159
.....
The newsletter break is because of JCE use, it changes some structure

[2020-04-29 22:26] conconnl commented on #162
As agreed, I removed the ones with a # in front.

[2020-04-29 22:28] conconnl commented on #158
@anibalsanchez can we enable invisible CAPTCHA again, now com_users is used?
There are a lot of spam registrations.
I'm deleting at least 10 users a day with non-existing mail address or even domain names.

[2020-04-29 22:34] conconnl commented on #156
@anibalsanchez if you implement this, then the logout button in the footer will really log someone out. https://github.com/joomla/jdotorgtemplate/commit/676bd00e970a2f00182b5ae686a05bb4a48e7062

[2020-04-30 04:25] RolandSM commented on #163
As you wrote, I added another one with "RM User Redirect".
Here if I click on "Edit" all Form fields are filled like excepted.

So it should be really an issue with the same Alias of 2 extensions here, not my user limitation.

It would be great if you could find the both extensions with same alias "user-redirect". My one could be deleted.
If the other one can also be deleted, perhaps its unpublish

[2020-04-30 20:59] zero-24 commented on #161
hmm from what i learned in the last days that there is no duplicated content thing happening here. And based on https://github.com/joomla/joomla-cms/pull/28814 it seems to be not that easy to fix it in the CMS itself.

[2020-05-01 14:21] conconnl commented on #159
All required issues are done, including removal of the extension

[2020-05-01 14:21] #159 closed, assigned to anibalsanchez, JazParkyn, conconnl

[2020-05-01 16:12] #162 closed, assigned to anibalsanchez, JazParkyn

[2020-05-02 10:20] anibalsanchez commented on #163
Great,

There are other extensions named "User Redirect". The name is already reserved by other accounts.

The new name **RM User Redirect**is right. We are going to process it accordingly. Please, send us a new ticket if you want to remove the first submissions from your profile.

The issue is solved. Thanks!

[2020-05-02 10:20] #163 closed, assigned to anibalsanchez

[2020-05-02 10:38] anibalsanchez commented on #158
- I've re-enabled invisible CAPTCHA.
- I've enabled **Two Factor Authentication - YubiKey**.  @zero-24 Please, check it (I don't have a Yubikey to test :-( )

[2020-05-02 10:41] anibalsanchez commented on #156
As suggested by @zero-24 , I've moved the Log Out and User Profile links to the same position than the Log In and Register links.

2FA is fully enabled.

[2020-05-02 10:51] anibalsanchez commented on #165
As a quick fix, I've increased the frequency of the indexing cron job. This reduces the chance of finding unpublished extensions.

[2020-05-02 15:50] #152 closed, assigned to anibalsanchez

[2020-05-02 15:51] anibalsanchez commented on #156
I've just completed the separation of com_jed and com_users. The user management is based on Joomla core now.

In theory, all core user features (including 2fa and captcha) work as designed at the core-level and we shouldn't have other impacts on com_jed.

Please, keep an eye on user feedback. From my side, there is no more tasks for this issue.

[2020-05-02 15:52] anibalsanchez commented on #158
I've just completed the separation of com_jed and com_users. The user management is based on Joomla core now.

In theory, all core user features (including 2fa and captcha) work as designed at the core-level and we shouldn't have other impacts on com_jed.

Please, keep an eye on user feedback. From my side, there are no more tasks for this issue.

[2020-05-02 15:52] anibalsanchez commented on #154
I've just completed the separation of com_jed and com_users. The user management is based on Joomla core now.

In theory, all core user features (including 2fa and captcha) work as designed at the core-level and we shouldn't have other impacts on com_jed.

Please, keep an eye on user feedback. From my side, there are no more tasks for this issue.

[2020-05-02 15:52] #154 closed, assigned to anibalsanchez, JazParkyn

[2020-05-02 15:53] anibalsanchez commented on #151
Removed from JED, moved to Volunteers

[2020-05-02 15:53] #151 closed, assigned to anibalsanchez

[2020-05-02 17:06] anibalsanchez opened #166 "Broken links /blog/item/*"
After the removal of the Zoo Blog, all links associated with the old Blog are broken and users are reporting them.

Please, add a redirection from /blog/item/* to the new Blog link https://volunteers.joomla.org/teams/extensions-directory-team#reports

[2020-05-02 17:26] conconnl commented on #166
I don’t see any reports.
If people click then, they should become visible in the not visible Components menu, because that is broken in the site.

@JazParkyn as you have changed this part, you probably also know what is changed.
Can you look at it and tell me if you need any help?

[2020-05-02 18:25] anibalsanchez commented on #166
There are blog links that are linked in the documentation, presentations, emails, etc.

For instance: https://extensions.joomla.org/blog/item/fun-in-jed-bug-smashing-and-feature-development/

In particular, this link has been reported in the listing support.

[2020-05-02 18:38] conconnl commented on #166
You are saying that we need the same redirect rule as you provided for Magazine site, to redirect */blog/item/* to one and the same location?

[2020-05-02 18:49] artur-stepien opened #167 "Long indexing by Algolia?"
**Describe the bug**
Search feature on JED site doesn't work correctly. There are extensions missing in the search.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://extensions.joomla.org/instant-search/?jed_live%5Bquery%5D=BP%20Popup](https://extensions.joomla.org/instant-search/?jed_live%5Bquery%5D=BP%20Popup)
2. Look for "BP Popup" in the results

**Expected behavior**
Well,

[2020-05-02 19:01] anibalsanchez commented on #166
No. @JazParkyn didn't migrate each article. So, we only have to redirect all the old blog links to the new content area: https://volunteers.joomla.org/teams/extensions-directory-team#reports

[2020-05-02 19:03] anibalsanchez commented on #167
The index is not updated immediately. After your extension has been processed, you have to wait until it processed.

This is a known issue. Please, follow #165 for more information.

[2020-05-02 19:03] #167 closed, assigned to anibalsanchez

[2020-05-03 05:46] Sulpher opened #168 "The list of submitted extensions after logging in"
Hello,
There is no menu item to see the list of own extensions:
![Screen Shot 2020-05-03 at 08 43 13](https://user-images.githubusercontent.com/3432048/80901345-759b4e80-8d1a-11ea-9ddb-83a74d292b52.png)

A user profile leads to user edit mode.
There should be a new menu item like "My items" available to registered user.

[2020-05-03 05:47] Sulpher commented on #168
Oh, sorry, there is "My extensions" menu item in the drop down menu... :-)

[2020-05-03 05:47] #168 closed, assigned to anibalsanchez

[2020-05-05 07:19] anibalsanchez opened #169 "Links in ticketing emails require to be logged in"
The links included in the emails that the system sends require to be logged in.

Can they be redirected?

[2020-05-05 10:09] bembelimen opened #170 "New Login system - unclear"
When I click on "write a review" as a non-logged-in user, I get the following screen:

![grafik](https://user-images.githubusercontent.com/1229869/81055556-36f7c680-8ec9-11ea-97a6-0c002660d7df.png)

Perhaps it makes sense, that the user get at least a link, where he/she can click to log in?

[2020-05-05 10:24] anibalsanchez commented on #170
Sure, we can improve the message and add buttons for Login/Register. In fact, I thought that the message wasn't shown anywhere.

[2020-05-06 08:25] anibalsanchez opened #171 "J! Configuration on Reply-To value - CHECK_LINKS_FAIL"
Hi @conconnl , these transactional emails are sent via Sendgrid's Transactional email.

I'll check where it is configured to match the J! Configuration.

[2020-05-09 13:53] JazParkyn commented on #166
Nothing is present in com_redirect because com_jed is interferring. A .htaccess rule is needed to fix this.

[2020-05-09 15:55] anibalsanchez opened #172 "JED Bad Link Notice - False positives"
Hi,

A month ago, we revamped and re-activated the link checker and we have been processing the bad links on the site.

I've checked your extension links and they seem to be Ok. MansetHaber JT1 https://extensions.joomla.org/extension/mansethaber-jt1/

I'm going to inspect the logs to find the error that the crawler is getting accessing your site.

[2020-05-09 16:11] anibalsanchez commented on #165
As discussed, we solve the issue with the new frequency. No more changes by now.

[2020-05-09 16:11] #165 closed, assigned to anibalsanchez

[2020-05-09 16:12] anibalsanchez commented on #158
The invisible captcha has been working fine. Case closed.

[2020-05-09 16:12] #158 closed, assigned to anibalsanchez, JazParkyn, conconnl

[2020-05-09 16:13] anibalsanchez commented on #157
This is related to the way that the search crawler works and when it updates the index.

We have increased the frequency to solve the issue. #165

Thanks for reporting.

[2020-05-09 16:13] #157 closed, assigned to anibalsanchez

[2020-05-09 16:17] anibalsanchez commented on #148
The process is implemented, and we continue the support in the following issues.

[2020-05-09 16:17] #148 closed, assigned to anibalsanchez

[2020-05-09 16:17] anibalsanchez commented on #153
The issue with empty developers has been solved (query fix).

[2020-05-09 16:17] #153 closed, assigned to anibalsanchez

[2020-05-09 16:18] anibalsanchez commented on #156
The new user management organization is implemented and working well. Case closed.

[2020-05-09 16:18] #156 closed, assigned to anibalsanchez, zero-24, JazParkyn, conconnl

[2020-05-09 16:23] anibalsanchez commented on #161
@wilsonge also confirmed that the URL with a trailing slash can be generated with the `attachBuildRule`

https://github.com/joomla/joomla-cms/blob/staging/libraries/src/Router/Router.php#L285

https://github.com/joomla/joomla-cms/blob/staging/libraries/src/Router/Router.php#L407

I'm giving it a try.

[2020-05-09 16:25] JoomlaTema commented on #172
Thanks Anibal. It is not just for mansethaber extension I have 2 other notices for 2 other extensions.

The Joomla Extensions Directory automated link check noticed that the URL https://extensions.joomla.org/extension/masonry-sliding-gallery/ is unavailable for your extension Masonry Sliding Gallery.

Please ensure that the server is available and that the link is correct. We will re-check this li

[2020-05-09 17:02] anibalsanchez commented on #172
@JoomlaTema To check the basics, do you have a security rule to block crawlers?

[2020-05-09 18:36] JoomlaTema commented on #172
No I do not have. By the way did you notice that warning message say  nothing about my demo or download link. It says I couldnt find that URL

That is not my demo or download URL it is my extension's JED URL.

[2020-05-09 18:50] anibalsanchez commented on #172
okok, I'll check the logs.

About the mail content, yes, you are right, the text can be improved to make it clearer. Now, it is confusing because it is not saying what must be checked in the extension.

[2020-05-09 21:02] JoomlaTema commented on #172
Okay thanks

[2020-05-10 13:51] anibalsanchez commented on #172
I've tested the links with the same command that link checker uses on the server terminal. They are working fine now. So, it looks like it was a temporary issue.

Since the link checker reviews the links several times before unpublishing, it is going to recheck the links.

Please, let me know if you receive new notifications. According to my tests, you shouldn't receive more messages.

[2020-05-10 15:37] JoomlaTema commented on #172
Okay Anibal thank you very much for your efforts.

[2020-05-20 17:00] pflegende opened #173 "search field - no response"
Browser = firefox 72.0.2
on the search field - no response

[2020-05-25 09:02] advanz-lu opened #174 "Error - Security checks determined you may be using an IP masking service"
Hello,
I am tring to write a review for https://extensions.joomla.org/extension/clients-a-communities/user-management/shack-user-switching/

I get:

Error

Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection.

My IP is 88.207.177.248 (dynamically attributed by my ISP - P&T

[2020-05-25 14:20] anibalsanchez commented on #174
Hi,

No, we can't allow the submission from restricted connections.

For more information, please, follow the previous report #85

[2020-05-25 14:20] #174 closed, assigned to nobody

[2020-05-25 14:22] anibalsanchez commented on #173
Hi,

The legacy search has been deprecated on the site and it is no longer available.

Please, use the current search methods.

[2020-05-25 14:22] #173 closed, assigned to nobody

[2020-05-25 15:58] minitek commented on #84
Hi guys, is anyone working on this? The problem still exists. Popular and quality extensions are buried under a mountain of crappy extensions with one 5-star review.

[2020-05-26 07:29] anibalsanchez commented on #84
We are not currently planning a change in the current rating algorithm. It is a time-consuming task that requires to dig in the history of reviews and the current data set.

@minitek If you want to investigate the case, please, contact me to join the JED devs team, I can facilitate you a recent dump and the development site.

[2020-05-26 11:42] minitek commented on #84
Hi Anibal,
I would like to join the JED devs team. That would be great. I can look into it and propose some improvements.

[2020-05-26 13:25] anibalsanchez commented on #84
Please, send me an email (anibal.sanchez [@] extensions.joomla.org) to start the onboarding process, add you to the Glip group, etc

[2020-05-29 15:13] anibalsanchez opened #175 "JED-VEL Merge of Operations"
We are evaluating the idea of merging the JED and VEL operations.

- VEL will continue the current operation of the security reports workflow on JED.
- The VEL security reports will be now visible on JED.
- JED will publish VEL security reports about extensions, regardless of the software license.

[2020-05-29 22:29] ghost opened #176 "Marks on the JED Recently Updated page"
Hi,
Available on pages 1 and 2

![extesions](https://user-images.githubusercontent.com/423588/83310414-9c16b180-a214-11ea-9507-46dd5296c879.jpg)
![extesions2](https://user-images.githubusercontent.com/423588/83310426-a6d14680-a214-11ea-98e3-91aac5230d22.jpg)

Thank you,

[2020-05-30 09:20] anibalsanchez commented on #70
Solved!

[2020-05-30 09:20] #70 closed

[2020-05-30 09:20] anibalsanchez commented on #23
Solved!

[2020-05-30 09:20] #23 closed

[2020-05-30 15:35] BennyTheDev commented on #85
Hi, this has been closed but the problem still persists. Do you still need help on that or is it supposed to stay as it is?

[2020-05-30 16:00] anibalsanchez commented on #85
This issue is not closed.

The final solution is coming with JED4, where a new review system will replace the current one.

[2020-05-30 16:43] BennyTheDev commented on #85
Alright.

But what I don't understand is, there are extensions that receive reviews on an almost daily basis.

Is it probably a location based issue? I ask because then I can at least provide users with a checklist to what to take care of when doing a review.

Thank you!

[edit] a user just confirmed it was his local apache. So I just gonna advise them to turn off vpn and local apache instances.

[2020-05-31 09:03] BennyTheDev commented on #149
Hi,

while the points appear to be totally vaid and understandable, I am not sure what this is supposed to mean?

 - Screenshots with logo and/or an accurate representation of the extension

Does this mean every screenshot is supposed to include a logo? And what is an "accurate representation" in the first place?

[2020-05-31 09:15] BennyTheDev opened #177 "Free Listings: missing "Value for money" causing lower score"
**Describe the bug**
A user of mine tried to leave a review for one of my free listings and reported back that despite giving it good ratings, the overall score has been too low (expected 99%, returned 76%).

He then checked his review and noticed that the "Money for Value" option is displayed as "-1" although it shouldn't be available for free listings and the score was showing "76%" instead of t

[2020-05-31 10:26] BennyTheDev commented on #139
looks good!

[2020-05-31 11:24] anibalsanchez commented on #149
A logo is not mandatory, it is recommended as a good representation of an extension. About being accurate, the screenshot must be representative. In the past, we have received some weird/xxx screenshots.

[2020-06-01 08:42] anibalsanchez commented on #85
I think that the issue is the assumption that spam and fake reviews can be stopped by IP-based controls. Since it is validation that it is added in the system by design, we have to re-write the whole review system to change it.

Spam and fake reviews have the same complexity than email spam. There are many technologies for mail servers (blacklists, DKIM, SPF, etc) and we still receive a few spam e

[2020-06-01 20:27] Llewellynvdm commented on #149
Will a simple gitHub repo be enough?

[2020-06-02 12:19] anibalsanchez commented on #149
Yes, a Github page is convenient site to publish an extension.

[2020-06-06 07:24] royroosterz opened #178 "Not receiving emails after new reviews"
Hi,

It seems no emails are sent from the JED to extension authors when a new review has been written and approved. Can you please validate and fix that it is working again?

Thank you!

Best regards,
Roy

[2020-06-06 18:43] anibalsanchez commented on #178
To test a review on one of your extensions, which are your extensions?

[2020-06-06 18:45] royroosterz commented on #178
Hi Anibal,

Thank you for the reply.

My extensions:

- TAGZ: https://extensions.joomla.org/extension/tagz-open-graph/
- AMPZ: https://extensions.joomla.org/extension/ampz-social-sharing/

Best regards,
Roy

[2020-06-06 18:47] anibalsanchez commented on #176
I tested the issue on Chrome and Firefox, but I've been unable to reproduce it.

[2020-06-06 18:47] #176 closed, assigned to anibalsanchez

[2020-06-06 18:51] anibalsanchez commented on #177
It looks like it is a very specific case. What extension are you checking

This is a similar review (Akeeba), that doesn't have the -1 in the review.

![case2](https://user-images.githubusercontent.com/385780/83952213-89fdca00-a837-11ea-8714-cfc28cb81f4b.png)

[2020-06-06 18:52] anibalsanchez commented on #172
We haven't received new cases. I'm closing the issue by now, if we receive new reports, I'll reopen it.

[2020-06-06 18:52] #172 closed, assigned to anibalsanchez, zero-24

[2020-06-06 18:57] anibalsanchez commented on #171
I've just tested a couple of different cases and all them have noreply[@]joomla.org.

Which is the specific case?

[2020-06-06 19:00] conconnl commented on #171
You have to check reply_to not sender.
If you receive a mail and press reply.
If it works then it’s the user their mail client not following the mail RFC

[2020-06-06 19:11] anibalsanchez commented on #171
The Sendgrid's Transactional emails have reply_to noreply[@]joomla.org.

The RS Tickers emails have reply_to support[@]extensions.joomla.org.

It looks fine to me.

[2020-06-07 16:53] anibalsanchez commented on #178
I've confirmed an issue in the job that sends the new review emails. I'll be fixing it in the next days.

[2020-06-07 17:45] royroosterz commented on #178
Thanks!

[2020-06-10 06:30] andiamine commented on #139
A good looking concept by Ekerlabs
![Home](https://user-images.githubusercontent.com/6179568/84234421-bc335400-aae3-11ea-83a6-0cd635bbdd74.png)

more details here:
https://ekerlabs.com/blog/the-new-joomla-extensions-directory-concept

[2020-06-12 19:04] royroosterz commented on #178
Any luck Anibal?

[2020-06-13 07:49] anibalsanchez commented on #177
Please, send us more info to reproduce the issue.

I'm closing the issue, please, re-open with more info.

[2020-06-13 07:49] #177 closed, assigned to anibalsanchez

[2020-06-13 07:49] anibalsanchez commented on #171
Since it is working as expected, case closed.

[2020-06-13 07:49] #171 closed, assigned to anibalsanchez, conconnl

[2020-06-13 09:52] anibalsanchez commented on #178
I've just merged the fix and executed the process. It runs OK and mails are being sent.

Case closed.

[2020-06-13 09:52] #178 closed, assigned to nobody

[2020-06-13 09:53] anibalsanchez commented on #170
Fixed. Case Closed ;-)
![fixed](https://user-images.githubusercontent.com/385780/84565849-894fc100-ad6c-11ea-9309-b3bd21873180.png)

[2020-06-13 09:53] #170 closed, assigned to nobody

[2020-06-13 10:05] anibalsanchez commented on #166
I've just added the rule to redirect /blog/* and synched the htaccess from the live site to AdminTools and regenerated everything (htaccess* also commited).

Case closed.

[2020-06-13 10:05] #166 closed, assigned to anibalsanchez, JazParkyn

[2020-06-13 11:12] anibalsanchez commented on #161
I've developed the code to add the trailing slash to the URLs as:

[code]

Case closed.

[2020-06-13 11:12] #161 closed, assigned to anibalsanchez, zero-24, JazParkyn

[2020-06-13 12:10] wilsonge commented on #161
Nice one! Is there any other places we’re hacking core I can look at?

[2020-06-13 13:06] anibalsanchez commented on #161
No, this one was the only one where we had to patch.

[2020-06-13 13:49] anibalsanchez commented on #164
I've just added search on Enter and linked the Go icon to the /instant-search.

Case closed. One more to go.

[2020-06-13 13:49] #164 closed, assigned to anibalsanchez

[2020-06-13 13:50] anibalsanchez commented on #155
I've removed the links. Case closed.

[2020-06-13 13:50] #155 closed, assigned to nobody

[2020-06-16 17:11] royroosterz commented on #178
Hi Anibal,

I received a new review for TAGZ, but no email...can you please validate that the issue is really fixed?

Best regards,
Roy

[2020-06-16 17:28] anibalsanchez commented on #178
Hi,

The New Review emails are going out. Take into account that the emails are sent once per day. So, if you received the review today, you'll receive the emails tomorrow.

[2020-06-16 17:35] royroosterz commented on #178
Ok, I wasn't aware of that. I will be a little more patient 😉

Thanks!

[2020-06-17 12:49] royroosterz commented on #178
Just received the email. Thank you Anibal!

[2020-06-28 03:08] mojtabapordel63 opened #179 "Add an extension to favourites"
Hi
I can't add extensions to my favorites. It says: Sorry, could not make this a favourite.
Also Search the extensions, does not work without VPN Software in my country!

[2020-06-29 14:15] cecilgupta opened #180 "'My Extensions' link does not appear despite logging in Extensions Directory"
The issue is with Joomla Extensions Directory website.
I am on this page - https://extensions.joomla.org/
and I have logged in a extension developer.
After logging, there was a menu item 'My Extensions' under 'Browse Extensions' to list the extensions that were developed by me.

The link is missing and does not appear in the menu.

[2020-07-14 14:57] sabersaberi2 opened #205 "search not work in extensions.joomla.org"
hi.
you can test that search box on the menu not work.any word that you search return empty result.

[2020-07-17 08:05] Amin-Idris opened #181 "Reset password failed: This user is blocked. If this is an error, please contact an administrator."
Notice
Reset password failed: This user is blocked. If this is an error, please contact an administrator.

[2020-07-17 08:05] Amin-Idris commented on #181
My login is my email: aafidris@gmail.com
I don't know why I have been blocked. Please tell me so I do not do again what I did wrong.

[2020-07-18 10:50] anibalsanchez commented on #181
Maybe it was caused by the login attempts. I just sent you a pass reset.

[2020-07-18 10:50] #181 closed, assigned to nobody

[2020-07-19 11:22] islam-92 opened #182 "HTTP ERROR 500"
My website doesn't work after I mak update for my Joomla version and showing this message:
aticgroup.com is currently unable to handle this request. I think this error comes because I doing the update with the wrong version, I have the last log error
![error log](https://user-images.githubusercontent.com/68500176/87873555-de61a100-c9c2-11ea-9b1c-4399f44b4e4e.PNG)
but I don't know how to correct th

[2020-07-25 14:41] anibalsanchez opened #183 "Rename JED hostname and RDNS"
A question from a user about the JED hostname and RDNS.

We are currently running the Link Checker from the JED server. A user is suggesting an improvement to better identify the server and how it visits the links.

Now, the JED server is identified with 72-29-124-148.static.directrouter.com and the user agent is "Joomla-JED-LinkChecker".

It would be better if the JED visits are logged as "jed-li

[2020-07-25 14:45] jeckodevelopment commented on #183
Changing the hostname is something technically possible as well as it's possible to apply a reverse DNS.
Our customers, generally request us to modify the RDNS for their dedicated servers.

[2020-07-25 14:46] jeckodevelopment commented on #182
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2020-07-25 14:46] #182 closed, assigned to nobody

[2020-07-25 15:07] conconnl commented on #183
@anibalsanchez You should technically be able to send certain headers with your calls, which should also mean you can define a hostheader without changing the server name itself.

Changing the server name to "jed-link-checker.joomla.org" wouldn't be possible, as this would mean that the JED site running on this server would also get this name. If we would choose a general name, we can always ask i

[2020-07-25 15:09] anibalsanchez commented on #183
@conconnl The idea is simply to ask Rochen to change the RDNS to "jed-link-checker.joomla.org".

In this way, people will detect the visit of the process as related to JED and the link checker.

If you are OK, I can ask for the change to Rochen support.

[2020-07-25 15:13] conconnl commented on #183
The idea is not simple.
As a server has one RDNS, then you are saying that the whole server running is called like that including for the Extensions website, the stage, development, JED4 etc.
You should at least think of a general name, not a tool specific while the server is running more parts.

@JazParkyn please share your opinion!

[2020-07-25 15:14] anibalsanchez commented on #183
You are right. It could be "jed.joomla.org".

[2020-07-25 15:19] anibalsanchez commented on #183
Or, it could be "extensions-directory.joomla.org".

[2020-07-25 15:19] conconnl commented on #183
Officially the server is already called "joomla-extensions.directrouter.com" and the others for example "joomla-misc.directrouter.com" if we do it, we should standardize and also discuss it within the webmasters (operations).
As all servers should be then made correct.
It can be as simple as "joomla-extensions.directrouter.com" to "joomla-extensions.joomla.org", "joomla-misc.directrouter.com" to "

[2020-07-25 15:40] anibalsanchez commented on #183
There is always an opportunity to standardize something LOL

[2020-07-28 07:50] tassosm opened #184 "My extensions do not appear in the search results - Algolia issue?"
I noticed today that my extensions do not show up in the search results.

If you search for "EngageBox" or "Convert Forms" the respective extension doesn't appear in the 1st place as it should.

Yesterday it was working pretty fine, so I guess something didn't go well with the last update of the Algolia index.

Perhaps, this issue is affecting other listings too.

[2020-07-28 08:17] thephpfactory commented on #142
It seems meanwhile this was fixed. Thank you!

[2020-07-28 09:03] anibalsanchez commented on #184
Confirmed. Yesterday there was an outage that affected several servers of the organization and it happened at the right time to broke the indexing of extensions.

I've just manually executed the process and it is solved now.

Thanks for reporting.

CC: @conconnl @JazParkyn

[2020-07-28 09:03] #184 closed, assigned to anibalsanchez

[2020-07-28 09:14] tassosm commented on #184
Thank you!

[2020-07-28 10:03] anibalsanchez commented on #142
Excellent,

Best Regards

[2020-07-28 10:03] #142 closed, assigned to nobody

[2020-07-28 11:47] webtoots opened #185 "JED Review : Not found"
**ATTENTION: If you have a question or you need to contact the JED Team about an Extension, please, contact us via the JED Ticketing System: https://extensions.joomla.org/profile/**

**Describe the bug**
I want create review about joomgrabber extension but when i click on the button "Be the first to write a review", i have a eroor message "Not found!"

**To Reproduce**
click on the button "Be the

[2020-07-30 08:10] anibalsanchez commented on #185
Duplicated #114

[2020-07-30 08:10] #185 closed, assigned to anibalsanchez

[2020-07-30 10:50] conconnl commented on #183
So, what do you propose as General Request / question to Rochen?

[2020-07-31 14:14] carcam opened #186 "Redirect vel.joomla.org to https://extensions.joomla.org/vulnerable-extensions/vulnerable/"
Can we fix the redirect from vel to:

https://extensions.joomla.org/vulnerable-extensions/vulnerable/

I think it makes much more sense.

[2020-07-31 14:25] mandville commented on #186
Which redirect from vel ?
There are 3 parts to vel .
Live
Resolved
Abandoned.

On Fri, 31 Jul 2020, 15:14 Carlos (carcam), <notifications@github.com>
wrote:

[2020-07-31 14:31] carcam commented on #186
Sorry I set it only in the title.

I think the most obvious would be:

vel.joomla.org to https://extensions.joomla.org/vulnerable-extensions/vulnerable/

I think that is what most people would use directly.

Right now the redirect sets you at the extensions homepage.

[2020-08-01 00:04] mandville commented on #186
A link in the category text to the resolved list would be great now that
you forced users to only see the live vel by default.

On Fri, 31 Jul 2020, 15:33 C Mandville, <
claire.mandville@community.joomla.org> wrote:

[2020-08-01 08:30] conconnl commented on #186
You have access yourself to update the category descriptions, or you can make a proposal in a related issue and ask the team to help.

[2020-08-01 08:31] conconnl commented on #186
@carcam I have updated the htaccess for you.

[2020-08-01 08:31] #186 closed, assigned to nobody

[2020-08-01 08:33] conconnl commented on #169
What links in what emails.
You text now suggest the whole system the JED team manage.

[2020-08-01 22:25] mandville commented on #186
a more logical place would have been https://extensions.joomla.org/vulnerable-extensions/about/

[2020-08-01 22:28] mandville commented on #186
i am not in the habit of just altering text in this context without consultation.  As i haven't delved into the areas or examined acl without advisement i wasnt aware .

[2020-08-02 08:39] conconnl commented on #186
You could also have said that as response on @carcam not after the requested change is done.
You just created extra work, for this one time I changed it again.

As said in the other reply

This means, this issue doesn't relate, it's a different subject. (Mixing things is just confusing)
You can involve your own team, by discussing it in the channel, create an issue in GH or whatever you see fit.

[2020-08-02 11:46] anibalsanchez commented on #169
I've re-written the title for clarity.

[2020-08-02 11:48] anibalsanchez commented on #183
I would ask Rochen support to rename "72-29-124-148.static.directrouter.com" to "jed.joomla.org"

[2020-08-02 14:52] anibalsanchez opened #187 "Broken Markdown description on extensions"
The extension markdown description looks OK, but it is rendered as a broken HTML:

Accordeon Menu CK
https://extensions.joomla.org/extension/accordeon-menu-ck/

[2020-08-02 21:28] conconnl commented on #183
As mentioned, these things should be followed as a generic action, not JED specific.
I asked what you would do in generic sense, but your suggestion is JED specific.
Created an Operational issue, to follow it as standardization action.

[2020-08-02 21:28] #183 closed, assigned to anibalsanchez

[2020-08-03 13:26] PhocaCz opened #188 "[QUESTION] Will JED be ready to get information from manifest.xml to provide latest version for "Install from Web""
Hi, I apologize for the question, which may have a touch of ignorance as I don't have any information about JED features.

Will JED be ready to get information from manifest.xml to provide latest version for "Install from Web"? It is planned?

[2020-08-03 13:37] anibalsanchez commented on #188
I think that it is a planned feature for JED4. https://github.com/joomla/com_jed4/ You can follow the development, test and report issues on the repository.

Since you are asking about a future feature, better if you open the question in that repository.

CC: @JazParkyn

[2020-08-03 13:37] #188 closed, assigned to anibalsanchez

[2020-08-03 13:38] PhocaCz commented on #188
Ok, thank you for the info.

[2020-08-05 18:50] Sulpher opened #189 "Video does not working in slider"
**Describe the bug**
A clear and concise description of what the bug is.

Video does not working.
Please have a look at ths page:
https://extensions.joomla.org/extension/e-commerce/shopping-cart/stripe-for-phoca-cart/
Click on the next slide in slider - there should be video player, but there is a short code instead of it.

{youtube}qyJRXtycYg4|1200|525{/youtube}

Pic1: https://i.paste.pics/74d1ef

[2020-08-05 22:40] conconnl commented on #187
Other extensions:
<img width="317" alt="image" src="https://user-images.githubusercontent.com/11913918/89470214-8a550b80-d77b-11ea-875f-8ed1ec84b57c.png">

This extension:
<img width="302" alt="image" src="https://user-images.githubusercontent.com/11913918/89470248-a3f65300-d77b-11ea-9e52-c6b579f4b6a0.png">

How the heck can the same view have 2 different HTML outputs.

[2020-08-05 22:43] conconnl commented on #187
The reviews get nested from this one.
![image](https://user-images.githubusercontent.com/11913918/89471190-cc7f4c80-d77d-11ea-8879-b2d12e1e78dc.png)

[2020-08-05 22:44] conconnl commented on #187
Page 2 is correct again.
https://extensions.joomla.org/extension/structure-a-navigation/menu-systems/accordeon-menu-ck/?com_jed_review_3408_limitstart=10

[2020-08-06 07:28] conconnl commented on #189
Thanks for sharing this with use.
The issue is fixed

[2020-08-06 07:28] #189 closed, assigned to anibalsanchez

[2020-08-06 07:32] conconnl commented on #180
I just logged in with a normal registered test user.
Which has the same Joomla rights as your user and the link is visible to me: https://extensions.joomla.org/browse/my-extensions/

[2020-08-06 07:32] #180 closed, assigned to nobody

[2020-08-06 07:34] conconnl commented on #169
This still doesn't make clear what the issue is and what the links are.
The ticketing system is for registered users, so off course the links to the ticketing system requires the user to login.
What is really going wrong?

[2020-08-06 16:53] anibalsanchez commented on #169
It is a usability issue.

If you are already logged in on the site, and you click on the link of the ticketing email, then you go straight to the issue.

However, if you are not logged in, and you click on the link of the ticketing email, you end up in the login page. You access the system and nothing happens. The return variable of the login should be set to define the return address. If the retu

[2020-08-06 16:54] anibalsanchez commented on #187
The issue in the reviews is different from the originally reported issue in the extension markdown description.

[2020-08-06 16:57] conconnl commented on #169
Then I can only advise you to check the overrides.
With every update something can change and an override can breaks things.
I haven't seen this happen in any website using this ticketing tool.

[2020-08-06 17:13] mandville commented on #169
perhaps set the return value to the ticket list, not an individual ticket its easier

[2020-08-06 17:16] anibalsanchez commented on #169
It should work by default... it could be some misconfiguration somewhere.

[2020-08-06 17:20] conconnl commented on #169
It works by default on other sites.
JED has overrides create by you I guess, so if the extension code is updated and the override not it can break things.

[2020-08-06 17:24] anibalsanchez commented on #169
Sure, that's the devil of developing overrides. Though, I don't remember if there is an override related to this issue.

[2020-08-06 18:43] conconnl commented on #187
The layout looks good now.
The reason is unclear to me, but unpublishing this review helped.
<img width="816" alt="image" src="https://user-images.githubusercontent.com/11913918/89569745-74038a00-d825-11ea-8600-fad7915b6b0e.png">

[2020-08-06 19:47] anibalsanchez commented on #187
Great, kudos! @conconnl

The issue was probably being caused by badly formatted data. It could have been caused by an obscure bug. Let's keep an eye on the topic if other broken extensions are reported. At this point, case closed.

[2020-08-06 19:47] #187 closed, assigned to anibalsanchez

[2020-08-07 13:57] Amos-bwambale opened #190 "Extension with broken link"
https://extensions.joomla.org/extension/frontpage-carousel/

[2020-08-07 14:04] anibalsanchez commented on #190
Hi,

These issues are used to manage system issues. To report broken links, please, go to the JED Extensions Ticketing System: https://extensions.joomla.org/support/support-tickets/

[2020-08-07 14:04] #190 closed, assigned to nobody

[2020-08-09 21:14] rockybranch opened #191 "Unable to read JED product reviews"
Appears to be some URL problem - For example, I was looking at the Sourcerer product , and rolled over the "170 Reviews" link in the upper left of the page.
That URL is "https://extensions.joomla.org/write-review/review/add?extension_id=306"
If I click it, it takes me to a "write a review" page.

I dont want to write a review, I want to read what other people have to say about it.

Problem is not

[2020-08-09 21:19] rockybranch commented on #191
Update:  Workaround:
If I scroll down the page, there are 3 tabs, "Full Description", "Reviews" and "Other Extensions"
Clicking the "Reviews" tab takes me to a readable list of reviews.
In the case of Sourcerer, this is "https://extensions.joomla.org/extension/sourcerer/#reviews"

[2020-08-11 22:06] loppanloppis opened #192 "Can't leave reviews (Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection.)"
Hi!

When I try to leave a review I get the following error message :+1:

Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection.

But I'm not using an IP masking service or VPN.

Any ideas? My username on JED is loppis.

Thanks!

Best regards

Peter

[2020-08-12 01:30] Llewellynvdm commented on #192
Have you done a self check? Validating your IP against some of the following:
- https://www.ipqualityscore.com/vpn-ip-address-check
- https://www.ipvanish.com/checkip/

This will help to make sure that your router or other entities on/in your networks are not (without your knowledge) in fact using a VPN, or other IP masking tools.

[2020-08-12 08:42] anibalsanchez commented on #192
Hi,

It is a known issue of the current review system, please, follow this report #85

Thanks for reporting.

[2020-08-18 07:03] mott31145 opened #193 "No confirmation email received for registration"
Trying to register a new account. Entered full name, email address, password. Waited a long time for confirmation email. It never came after 12 hours.
Tried a different name, different email, different password. After 15 minutes, still no email to confirm. Looks like the registration process is broken.

[2020-08-18 07:42] anibalsanchez commented on #193
Hi,

The emails are sent immediately.

The most probable issue is that your mail server sends the email to the spam box or quarantines the email. Please, check the spam box or ask your email provider how the emails are filtered.

[2020-08-18 07:45] #192 closed, assigned to nobody

[2020-08-18 07:58] anibalsanchez commented on #193
I have created an account and confirmed that it is working fine. Please, check with your email provider where the emails are going.

Case close. Please, re-open if you confirm that emails are not delivered to your email provider.

[2020-08-18 07:58] #193 closed, assigned to nobody

[2020-08-18 13:45] Webdongle opened #194 "Bad link - Redirection via login to Tickets is not working"
**ATTENTION: If you have a question or you need to contact the JED Team about an Extension, please, contact us via the JED Ticketing System: https://extensions.joomla.org/profile/**

**Describe the bug**
Link in acknowledgement email not authorised

**To Reproduce**
In extensions.joomla.org find an extension click to report it and make the report.
When the acknowledgement email arrives in your in

[2020-08-18 15:54] anibalsanchez commented on #194
I think that this issue is similar to #169 Let's see if I can find the time to check it in the weekend.

[2020-08-18 19:52] Webdongle commented on #194
Yes very much so.  Also N.B. When you go to https://extensions.joomla.org/ that the 'Support' menu item is showing items for non logged in users.
![jed 05](https://user-images.githubusercontent.com/1115202/90558473-0f84eb00-e194-11ea-9f9b-cbea84864fc4.jpg)

It does look like the base url is not recognising logged in status but when anywhere else on the site it is.

Closing in favour of #169

[2020-08-18 19:52] #194 closed, assigned to anibalsanchez

[2020-08-19 14:29] mott31145 commented on #193
Hello Anibal,

Thanks for checking this. I have not had any other issues with gmail.com.
But in any case I see that I am now actually logged in (without doing
anything except connecting to the site) under the first user name that I
chose. (The site says that I joined yesterday.) I won't bother any further
with investigating this. Thanks again.

James Mott

On Tue, Aug 18, 2020 at 3:58 AM Anibal Sa

[2020-08-19 14:34] mott31145 commented on #193
Disregard that message. I'm sorry, but I was confused with a different
site. I will look further into the Joomla extension directory site issue
but I've decided that for my needs a log-in is not urgent. If it becomes
important, I will revisit this.
James Mott

On Wed, Aug 19, 2020 at 10:29 AM James Mott <mott31145@gmail.com> wrote:

[2020-08-19 16:45] Webdongle commented on #169
I have closed #194 in favour of this report.

[2020-08-22 17:39] anibalsanchez opened #195 "Unable to remove reviews"
I'm opening this issue to track an ongoing internal issue that is preventing the removal of reviews in the system.

When spam reviews are detected, we try to remove them and the system doesn't effectively remove them.

[2020-08-29 11:23] brianteeman opened #196 "Top Rated Extension broken?"
For as long as I can remember Akeeba Backup from @nikosdion has been the number 1 rated extension.

Today it is not even in the first 6 pages but it is still the number 1 most reviewd extension.

I can only assume that there is some bug in the top rated extension code

[2020-08-29 11:34] anibalsanchez commented on #196
Thanks for reporting. We've also noticed the inconsistency and we are working on an update.

We haven't changed this area recently, so the issue has been probably caused by a recent update.

[2020-08-29 11:50] nikosdion commented on #196
This must be very recent (last few days at most) because the number of visits originating from JED has remained pretty steady since June. I am not comparing it to earlier months because we always see visits slow down from mid-June to mid-September the past ten years.

[2020-08-29 16:57] anibalsanchez commented on #196
Fixed.

The change in the top extensions wasn't caused by a recent update, and it was caused due to the accumulated history of unpublished extensions and reviews.

In the [scoring algorithm](https://docs.google.com/presentation/d/1YTUvhYEK-bxoEE5-vJsjv06kZAvhpsAjSRmsY2w9GkU/edit#slide=id.g21ec0048aa_0_8), the average number of reviews is a critical parameter that applies different rules and weight

[2020-08-29 17:20] brianteeman commented on #196
Almost fixed

On the JED itself I can see its fixed but in the joomla installer there is still a problem with the default display sorting of "JED Default" so I guess the same fix needs to be applied in an additional place

![image](https://user-images.githubusercontent.com/1296369/91642570-57253580-ea24-11ea-9868-a4f3f4151766.png)

![image](https://user-images.githubusercontent.com/1296369/9164257

[2020-08-29 17:23] anibalsanchez commented on #196
The Joomla installer loads the information from the site. So, I guess it is cached somewhere (not in JED servers), so we must wait until it is refreshed.

[2020-09-04 18:04] RolandSM opened #197 "JED-Description shows HTML for special characters"
The &-sign in Description and also -Preview is shown fine, for example "Projects & Versions".
But on final page its shown as "&amp;"

See in:
https://extensions.joomla.org/extension/extension-creator/

[2020-09-04 18:11] conconnl commented on #197
You mean here right?
<img width="820" alt="image" src="https://user-images.githubusercontent.com/11913918/92272977-d31ef200-eeea-11ea-8bcd-d878b5946c83.png">

[2020-09-04 18:13] RolandSM commented on #197
Yes.
In Edit-Mode-Preview all was fine...

[2020-09-05 11:52] anibalsanchez opened #198 "Fixes to the rating system"
Reported by a developer:

- Extension: Add to Menu ( Admin Navigation / Free / Regular Labs )
- Extension: Better Preview ( Article Preview / Free / Regular Labs )

[2020-09-05 14:40] c-schmitz commented on #114
Any explanation why there is a 'won't fix' label on this issue? This seems to be clearly affecting several extensions.

[2020-09-05 14:41] c-schmitz commented on #114
Extension where I have the problem: https://extensions.joomla.org/extension/r-antispam

[2020-09-05 19:51] anibalsanchez commented on #114
I've tested several times the issue and I've been unable to reproduce it. I can go to the extension r-antispam and write a review. In fact, I just did it.

So, the steps described above are not enough to reproduce the issue. Since you are experiencing the issue, we need to understand what you have in your setup that causes the issue.

[2020-09-06 11:59] anibalsanchez commented on #198
I've found that the rating does not show the values that are not entered. It is not clear in the user interface if people don't enter values or they select the button to avoid defining the rate. In terms of values, it is not clear the user intention between -1 and 0 rates. Both cases are not shown when reviews are navigated and this causes the confusion.

I've filtered -1 and 0 from the scores. Si

[2020-09-06 11:59] #198 closed, assigned to anibalsanchez

[2020-09-06 13:21] anibalsanchez commented on #196
IFW is back in sync with the JED Top listings. Case closed.

[2020-09-06 13:21] #196 closed, assigned to anibalsanchez

[2020-09-06 13:49] anibalsanchez commented on #84
Hi,

I've been recently re-checking the scores. It seems that due to a confusion between scores not being entered or people choosing to not enter scores, there were 0, -1 and null values in the review ratings and they are not shown in the front-end. So, it is not clear what the user enters, it is open to interpretation and the score is affected by values that are not shown on the page.

Since it o

[2020-09-06 13:49] #84 closed, assigned to anibalsanchez

[2020-09-06 15:31] brianteeman commented on #196
Thanks very much. Confirming its fixed

[2020-09-06 21:03] brianteeman opened #199 "Site down?"
21:02 GMT the extensions site is just a blank page

[2020-09-06 21:03] brianteeman commented on #199
Correction its just the home page that is blank

[2020-09-07 10:19] anibalsanchez commented on #199
Looks fine from here.

[2020-09-07 11:30] brianteeman commented on #199
it is now - it was not 14 hours ago

[2020-09-07 11:47] anibalsanchez commented on #199
I didn't receive any alert. So, I guess that it was not a global issue.

Case close, then. I'll keep an eye on the alerts.

[2020-09-07 11:47] #199 closed, assigned to nobody

[2020-09-07 11:52] brianteeman commented on #199
I am not sure if you would have got an alert if you are only monitoring for pings. Unless you are monitoring for the present of a marker on the page there would have been no alert

[2020-09-07 11:58] anibalsanchez commented on #199
The monitor checks the 200 HTTP Status. So, it would detect a blank page 500 error.

[2020-09-07 12:06] brianteeman commented on #199
Sorry if I was not clear.
it was NOT a 500 blank page - it was a 200

[2020-09-29 00:23] P1xs0ul opened #200 "Can't leave a review"
Hi. I was trying to leave a review for Event Booking extension, and when I clicked the Write A Review buttons, I got an error message: Error - Not found!

URL: https://extensions.joomla.org/extension/event-booking/

Just letting you know.

[2020-09-29 06:54] anibalsanchez commented on #200
Hi,

The issue has been already reported. Please, check it here: https://github.com/joomla/jed-issues/issues/114

[2020-09-29 06:54] #200 closed, assigned to nobody

[2020-10-03 03:24] Folamour opened #201 "virus in extension"
hi folks, i use jed since age, and its the first time i saw that, hopefully i was on my xampp lab, but i've installed this extension

https://extensions.joomla.org/extension/automatic-intro-image/

and malware byte warned me that she connect to external risky domain,

do what you want, but uninstall the plugin dont remove the request so i'll have to reinstall all my lab,

but that not a problem, t

[2020-10-04 10:52] anibalsanchez commented on #201
Hi,

This support is oriented to support the JED system.

To report confidential security issues on extensions, please contact the VEL team: https://extensions.joomla.org/vulnerable-extensions/submit-a-report/

Best Regards

[2020-10-04 10:52] #201 closed, assigned to nobody

[2020-10-06 19:28] royroosterz commented on #85
Similar feedback from a client: _Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection._

Is there a solution in sight?

[2020-10-06 20:01] anibalsanchez commented on #85
There is certain news about the issue. From our last meeting notes:

_IP Detective Deprecation: New method of review validations based on hCaptcha and CleanTalk / October - November._

So, we are replacing the current IP-based review validation with a new method: https://volunteers.joomla.org/teams/extensions-directory-team/reports/1340-jed-meeting-september-25th-2020

[2020-10-06 20:03] royroosterz commented on #85
Great Anibal! Thank you for the fast reply.

Any timeline on the implementation?

[2020-10-06 20:04] anibalsanchez commented on #85
October - November

[2020-10-10 10:25] Razzo1987 opened #202 "Different menu in homepage"
**Describe the bug**
In home page there is a different menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Login in the portal
2. Go to to homepage and open menu item "Browse Extensions" and "Support"
3. Go to to another page and open menu item "Browse Extensions" and "Support"

**Expected behavior**
Same item in the menu

**Screenshots**
HOMEPAGE:
![immagine](https://user-images.githubuse

[2020-10-12 11:50] anibalsanchez commented on #202
Hi,

The support menu changes when you are logged in.

It looks like your browser kept the menu cached in the Home page.

I'm unable to reproduce the issue. Please, re-open the issue if you can reproduce the issue on different browsers.

[2020-10-12 11:50] #202 closed, assigned to anibalsanchez

[2020-10-12 13:31] Sandra97 opened #203 "Can't register"
I'm trying to register to post a review but nothing happens. Once the form completed, it reloads it, empty, and nothing else happens, not even error message, just nothing,

[2020-10-13 08:47] anibalsanchez commented on #203
Thanks for reporting. The issue has been solved.

Please, try to register now. If the issue persists, please, reply again to this ticket.

[2020-10-13 08:47] #203 closed, assigned to nobody

[2020-10-19 21:41] marcobeierer commented on #84
@anibalsanchez
Thank you for your effort and sorry for my late reply.

I had a quick look at my extensions and the ratings seem more accurate now, but I have not checked them in detail...

[2020-10-20 07:35] anibalsanchez commented on #84
Great. Glad to be helpful.

[2020-10-31 17:51] RolandSM opened #204 "Message field in "Submit a Ticket" not working"
Hello,

I try to send a ticket, but I cannot write into the Message textarea. Not in Firefox and not in Chrome, also with cleared Cache.
Also the editor is not loading perhaps a wrong editor setting in my account?

[2020-10-31 18:31] anibalsanchez commented on #204
It works fine from this side. We didn't receive other reports and people are sending new tickets just fine.

Do you have any browser console error?

[2020-10-31 18:56] RolandSM commented on #204
Only a Content Security Policy for Ressource https://assets.hcaptcha.com...

My account is "medialekt".

[2020-10-31 19:02] anibalsanchez commented on #204
@conconnl What do you think? Do we need to add https://*.hcaptcha.com to the CSP? There is already a reference to  https://hcaptcha.com but it seems that there is a browser out there blocking hcaptcha.

[2020-10-31 19:03] RolandSM commented on #204
I dont think that its a captcha problem...

[2020-10-31 19:03] conconnl commented on #204
Check the wiki:
https://github.com/joomla/joomla-websites/wiki

[2020-10-31 19:05] RolandSM commented on #204
@zero-24 have already reviewed in a google meet and his idea was a false editor setting?

[2020-10-31 19:13] anibalsanchez commented on #204
Just in case, I've reset the frontend settings to the default values.

[2020-10-31 19:15] RolandSM commented on #204
Yes, no the message field works, also the editor is loaded... Thanks

[2020-10-31 19:16] RolandSM commented on #204
From my side is this ticket solved, but perhaps the real reason have to be found?

[2020-10-31 19:18] RolandSM commented on #204
PS. Reporting is not so easy when I cannot open a ticket.
The user have to know about this github repo where he can also gets help...

[2020-10-31 19:29] anibalsanchez commented on #204
About your issue, it seems that you configured the user front settings in a previous iteration of the user profile. Those settings can't be changed now.

This repo is linked on the menu:

![jed-issues](https://user-images.githubusercontent.com/385780/97788215-9e13e080-1bb7-11eb-8939-571ffaf01206.png)

[2020-10-31 19:33] RolandSM commented on #204
Yes I know about this repo, but perhaps most of the other clients not and I mean, that it could be possible that I am not the only one with this issue...
But thanks so far for me...

[2020-10-31 19:33] #204 closed, assigned to nobody

[2020-11-14 21:38] conconnl commented on #160
In the mean time @zero-24 has developed a plugin for this. The documentation for usage, configuration and deployment will be written.
Which will make it possible for all sites to easily use the GitHub repositories for versioning.

[2020-11-14 21:39] conconnl commented on #149
@anibalsanchez shouldn't the new proposed requirements be discussed with the team and then published on the site, so this can be closed?

[2020-11-14 21:41] conconnl commented on #114
No response after 2 months, closing the issue.

[2020-11-14 21:41] #114 closed, assigned to nobody

[2020-11-14 21:43] #62 closed

[2020-11-14 21:44] #74 closed, assigned to anibalsanchez

[2020-11-14 21:44] #131 closed, assigned to anibalsanchez

[2020-11-14 21:49] conconnl commented on #169
@anibalsanchez is this still the case, do you have more info what to check or possibly what to tell / ask RSJoomla.
It's important that it's tested without overrides and we can tell the how to reproduce it.

[2020-11-16 08:31] anibalsanchez commented on #160
Hi @conconnl , Please, check this comment about the idea of deploying a package with the webserver: https://github.com/zero-24/plg_system_gitdeploy/issues/1

[2020-11-16 08:38] anibalsanchez commented on #149
It is an open issue, and we should merge it with the **JED Checker CI** rules. All of these issues are related to the next method of assuring the quality of extensions:

**JED Extensions Checker CI**
https://github.com/joomla/jed-issues/wiki/JED-Extensions-Checker-CI

**JED4 Security Checkup of Extensions**
https://github.com/joomla/jed-issues/issues/133

**JED Checker CI - J4 and the New Joomla C

[2020-11-16 08:40] anibalsanchez commented on #169
I haven't been able to check it. As far as I remember, there are no overrides.

[2020-11-16 08:44] conconnl commented on #160
Checked, to much of magical words for me 🤪 Doesn't really matter, specialists are working on these things. I don't have to understand coding.

The common need is:
It has to work on every website, without playing around in difficult parts of a system.
It should be triggered / started from an external versioning system (secure off course).
How it runs is up-to specialists, who build it.

It certainl

[2020-11-16 08:53] conconnl commented on #149
Ok, maybe then update the title.
It now says Q1 (8 months ago) the first message suggest a change in the text of a certain page in the website.

[2020-11-16 08:54] anibalsanchez commented on #160
If you are looking for a solution at the organizational level, then a Continous Integration solution is recommended.

Joomla has many sites and the burden of administration is important. So, it makes sense to define a single way of deploying the systems to all servers.

There are many pipelines. So, probably, **Github Actions** would be the first choice for us and it has no maintenance/management

[2020-11-16 08:56] anibalsanchez commented on #149
Q1 was referring to the letter code of the requirement (all requirements have a two-letter code)  :-D Not a timeframe.

I've changed it to make it clearer.

[2020-11-16 10:11] conconnl commented on #160
I personally don’t care how it’s done, for that we have specialists working on it.
As long someone doesn’t have to be a developer, system engineer etc. Most are webmasters, Joomla Administrators, then the solution is fine. As always the best solutions will be created by working together and sharing knowledge.

[2020-11-16 10:23] anibalsanchez commented on #160
I concur. Each organization chooses the tool that better solves the case.

In the Joomla, people frequently want to solve everything with a plugin. For instance, a plugin to simulate a cronjob. However, there are problems that are better solved with the right tool. In this case, CI/CD is better solved with a service already designed for that purpose.

I would check with the rest of the Ops team if

[2020-11-16 10:33] conconnl commented on #160
Only we are not allowed to have access to the one from Production (which I totally agree with). We can’t spend money off course. We need to make sure that just webmasters can use it. (I can’t even use what you do).
Using a plugin to receive the Webhooks calls and configure the settings is not a problem at all. What you do when receiving the call is the discussion which you have with @zero-24 there

[2020-11-16 10:56] anibalsanchez commented on #160
Sure. These observations are only my two cents.

[2020-11-22 14:58] anibalsanchez commented on #205
It is working fine on my side. Please, check if you have some browser console errors or more information about how to reproduce the issue. Test with other browsers on a different connection to verify if it is an issue on your side.

[2020-11-24 17:39] efduggan commented on #74
I hope that this minor bug won’t be in the new JED, whenever that comes out. While I can accept that this is a won’t fix issue, it would be nice to know the reason why it won’t be addressed.

[2020-11-24 17:52] anibalsanchez commented on #74
We are only a few volunteers running JED. We have to operate and maintain the site and try to find time to develop new parts of the system.

So, realistically, if we didn't find the time or someone willing to fix it, then we have to close it and move on.

[2020-11-24 17:57] efduggan commented on #74
Thanks for the prompt explanation. Balancing new development with maintenance is always tricky; so I now understand the decision is a practical use of resources rather than a lack of technical ability. I’m good with that judgment call.

[2020-12-09 19:27] toonetcreation opened #206 "Unable to write a review"
Hi,

When I try to write a review on this extension https://extensions.joomla.org/extension/jcart-for-opencart/ I am redirected to JED home page with error message attached.

![2020-12-09_20-25-58](https://user-images.githubusercontent.com/20813754/101677559-011d5080-3a5d-11eb-982e-19746dc773ef.jpg)

Thanks

[2021-01-01 18:57] mandville opened #207 "jed tickets emails dont show ticket number"
Not really useful to locate ticket if you have 15+ open and dont know which one is referenced.
-----------------
Your ticket will be closed
Your ticket with subject "Extension Report" had no activity for 14 days.

It will be automatically closed in 14 days if no additional action is performed.

Please log in to

Our Support Center

and go to My Tickets in order to view the status of your support r

[2021-01-09 09:34] marcorensch opened #208 "JED Ticket System Message field blocked"
When you have to open a ticket you need to create a ticket here:
https://extensions.joomla.org/support/support-tickets/

The form cannot be sent because of the required Message field that is not working.
<img width="901" alt="Bildschirmfoto 2021-01-09 um 10 33 39" src="https://user-images.githubusercontent.com/11912135/104088306-27096100-5266-11eb-8325-1a81a9a96b89.png">

I don't know if an editor

[2021-01-09 10:33] conconnl commented on #208
Just tested on Mac with Chrome & Safari, with a normal registered user.
I see the editor and I can use it.

Please check the browser console, it should show errors if it's related to the site.
If there are any please share, because all browsers I have tested, don't show any errors and the editor works.

<img width="655" alt="image" src="https://user-images.githubusercontent.com/11913918/104089296-

[2021-01-09 10:55] marcorensch commented on #208
ahm.. what...
i've tested it on chrome & safari (mac) aswell as on EDGE and Firefox on another computer, and yes there is a JS error:

Refused to connect to 'https://assets.hcaptcha.com/captcha/v1/d1dd7d8/static/i18n/de.json' because it violates the following Content Security Policy directive: "connect-src 'self' https://*.joomla.org https://*.pingdom.net https://*.google-analytics.com https://*.g

[2021-01-09 11:12] conconnl commented on #208
It seems hcaptcha extended the required CSP rules.
I added this one, so this error should be gone now.

[2021-01-09 11:25] marcorensch commented on #208
Nice but unfortunately this was not the issue... the error in console is gone but the site still does not load the editor as on your screenshot... Could it be that my account / profile has a problem?

[2021-01-09 11:31] conconnl commented on #208
@anibalsanchez could you look at this as someone who knows the coding of the site?

[2021-01-09 11:34] marcorensch commented on #208
@conconnl
**UPDATE**: its indeed a problem with my Account (Proximate) - i've created a testaccount now (proxi) and there the editor is shown - so what happened to my account **(settings)**? unfortunately i did not find any option to "chose an editor" in profile page which would probably solve the problem.

[2021-01-09 11:41] conconnl commented on #208
I see what you mean.
You mentioned account is on JCE, but that one isn't configured to be used for Registered people.
The default is TinyMCE, somewhere in the long history of actions on the website the editor has been changed, but people their profile has been reset.

I switched your account to default editor.
@anibalsanchez & @JazParkyn can you please put all registered accounts to TinyMCE so it'

[2021-01-09 13:02] marcorensch commented on #208
Solved now

[2021-01-09 13:02] #208 closed, assigned to nobody

[2021-01-09 23:34] toivo opened #209 "403 Access Denied at extensions.joomla.org"
Reported 10 minutes ago in https://forum.joomla.org/viewtopic.php?f=262&t=983991 and confirmed.

[2021-01-09 23:37] conconnl commented on #209
It’s known, we have a monitoring system.
publicly available, with notifications to different members and channels.
https://status.joomla.org/

[2021-01-09 23:37] #209 closed, assigned to nobody

[2021-01-09 23:41] toivo commented on #209
Thanks - the existence of such a monitoring system is of course good but that has not been widely publicised.

[2021-01-09 23:43] conconnl commented on #209
It's known at the Team Leaders of the different teams maintaining the properties, who could share it with their team members. It has been shared with SMT, to put it on Social Media if they think it's usable for the public.

[2021-01-09 23:45] toivo commented on #209
Ok, understood.

[2021-01-10 00:28] conconnl commented on #209
It's now fixed.
It was an error on server access rights, created by a mistake at the hosting supplier

[2021-01-12 05:18] adtj93 opened #210 "Issue in the text encoding/ decoding for the extension Return to Top on JED"
Issue in the text encoding/ decoding for the extension [Return to Top on JED](https://extensions.joomla.org/extension/return-to-top/). Ampersand symbols are still displayed while editing or adding the full description for this listing on JED.

[2021-01-12 09:20] Llewellynvdm commented on #207
This seems to me a feature requests that go beyond the functionality of the current ticket system, far as I know. Yet since we are focused on the new JED4 extension that will include a new ticket system, I think committing time towards the current ticket system, beyond a basic setting change, is not ideal.

So I will ask @JazParkyn if she knows of this kind of feature to already exist in the curre

[2021-01-12 10:14] conconnl commented on #207
I personal think the question is, where did the JED team deviate from every default.
RSTickets mails always hold the Ticket number, no matter if it is send too the user or team member.

Subject:
<img width="391" alt="image" src="https://user-images.githubusercontent.com/11913918/104300810-39360a00-54c7-11eb-8653-fe6300ca3cb5.png">

Mail text (example to user)
<img width="280" alt="image" src="http

[2021-01-12 10:16] JazParkyn commented on #207
The JED ticket system does include the ticket number, both in the subject and body

![image](https://user-images.githubusercontent.com/6943227/104301196-42bb7400-54bf-11eb-8352-5944cb10794f.png)

[2021-01-12 10:24] anibalsanchez commented on #207
I don't remember removing them. Maybe it is an option than can be enabled somewhere.

[2021-01-12 10:26] JazParkyn commented on #207
It is already enabled - my screenshot is of a JED ticket email dated 04/01/2021 22:04.

[2021-01-12 10:31] conconnl commented on #207
I just checked all Email Messages in the component configuration, they all hold the {code} variable.

[2021-01-14 14:41] hvdmeer opened #211 "[JED] Share link on Facebook and advertisement is the preview image"
Somehow an advertisement on the JED is shown in the preview image when the link (extensions.joomla.org) is shared on Facebook.
This probably won't happen all the time but is it possible to exclude ad-images for being shown in Social Media preview images?

Example:
![link-JED-FB-shows-ad](https://user-images.githubusercontent.com/7062995/104605470-d7200500-567e-11eb-9f96-ae8382a5b373.png)

[2021-01-14 15:24] JazParkyn commented on #211
I suggest that we ask the marketing team for some images that can be used in OG data tags to resolve this? @anibalsanchez what are your thoughts?

[2021-01-14 15:25] conconnl commented on #211
@hvdmeer
Did you had the problem before the Scala advertisement was added?

[2021-01-14 15:26] JazParkyn commented on #211
It would have chosen the first available image on the page, so that would depend based on the URL.

[2021-01-14 15:28] conconnl commented on #211
It seems the JED is just broken on this level 😢
Default template setting on JED, which on other sites are visible in the source
<img width="463" alt="image" src="https://user-images.githubusercontent.com/11913918/104611521-8233bd00-5685-11eb-879b-007dd38da333.png">

[2021-01-14 16:48] anibalsanchez commented on #211
1. The jorg template has a default og:image tag.

2. JED3 (com_jed) defines an og:image tag for each extension. For instance, **Weblinks**:

[code]

This is what works fine.

However ... if Facebook scrapper doesn't find an og:image tag, it starts parsing the page looking for an image. So, that's when it could find any image on the page and the post can render an ad.

We should check the original

[2021-01-14 16:50] JazParkyn commented on #211
@anibalsanchez Wilco has found the issue in the template and I will submit a commit to fix it later today

[2021-01-14 20:23] #207 closed, assigned to nobody

[2021-01-15 10:25] hvdmeer commented on #211
Late to the party. I don't see an og:image set on the landing page.
@conconnl Don't know if it happens more often. I'm hardly ever sharing the extensions.joomla.org landing page.
But good to see the problem is found and a fix will be deployed.

[2021-01-19 18:48] GarrettLloyd opened #212 "Backend of Website Clicking to Frontend"
When I am in the backend of my website using joomla, working to add an item anything I click forces me to leave the backend and directs me to the front end

This video below is an example

https://user-images.githubusercontent.com/77693479/105079100-f216be80-5a5c-11eb-8ef4-a1ba161a0a7a.MOV

[2021-01-19 19:15] anibalsanchez commented on #212
Hi,

This is the JED issues tracking. So, we follow the issues of https://extensions.joomla.org/.

If you have an issue on your Joomla site, you can look for help on Joomla Forum: https://forum.joomla.org/

Best Regards

[2021-01-19 19:15] #212 closed, assigned to nobody

[2021-01-22 23:04] andrewmichaelwinkler opened #213 "I can't post any tickets because I can't enter any text into the message text field"
I'm trying to contact support about getting my extension InfinitySubmit re-listed after a broken link issue. However, I can't submit a ticket because I cannot enter any text into the required message text field.

[2021-01-22 23:07] conconnl commented on #213
Please try again, I updated your editor settings.

[2021-01-22 23:11] conconnl commented on #211
@JazParkyn & @anibalsanchez
Is this fixed?

[2021-01-22 23:18] conconnl commented on #213
@anibalsanchez @Llewellynvdm @JazParkyn
This is the same issue as https://github.com/joomla/jed-issues/issues/208
Can you please take the action and reset the editor of the users to Default in their profile?

[2021-01-22 23:25] conconnl commented on #191
@Llewellynvdm
This part of the code seems to be wrong.
https://github.com/joomla/jed-dev/blob/develop/public_html/components/com_jed/views/extension/tmpl/default.php#L210-L214

It results to the Add Review URL instead of the view review URL
I expect it's replacing:
`<a href="<?php echo $reviewLink; ?>">`
With:
`<a href="#reviews" data-toggle="tab"><?php echo $reviewTabTitle; ?>`

Could you take a

[2021-01-23 00:10] andrewmichaelwinkler commented on #208
I have the same problem on Firefox for Windows 10. The message text field is not editable.

[2021-01-23 00:46] andrewmichaelwinkler commented on #213
Now I can no longer log into Joomla and get the following error message:

You are not authorised to view this resource.

[2021-01-23 00:48] andrewmichaelwinkler commented on #213
When I tried, I found that I was logged out of the Joomla site and when I tried to log back in I got an error saying:

You are not authorised to view this resource.

[2021-01-23 08:26] conconnl commented on #213
According to systems you have logged in, 8 hours ago.
It isn't clear for me at the moment, where you clicked or what you did to get the message.
The login page is: https://extensions.joomla.org/users-login-form/

The only change done is from the not allowed JCE editor to the Joomla default TinyMCE editor, in your profile.

[2021-01-23 12:40] anibalsanchez commented on #211
No. You can check the issue on Facebook Sharing Debugger: https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fextensions.joomla.org%2F

![fbd](https://user-images.githubusercontent.com/385780/105578433-84ca9c80-5d80-11eb-97c9-55a0eb05d3d3.png)

[2021-01-23 13:11] JazParkyn commented on #211
@anibalsanchez These changes will be pushed when you've identified the issue in the git script.

For now, I have manually applied this change, but the other changes in my commit can't be applied in this way. FB cache cleared.

![image](https://user-images.githubusercontent.com/6943227/105579135-79757200-5d7c-11eb-8481-82bbd60b22db.png)

[2021-01-23 13:11] #211 closed, assigned to anibalsanchez, JazParkyn

[2021-01-23 14:38] anibalsanchez commented on #205
No answer since Nov 2020. Closing the ticket.

[2021-01-23 14:38] #205 closed, assigned to nobody

[2021-01-23 14:39] anibalsanchez commented on #160
The original ssh-agent is gone. Txs @conconnl

Case closed.

[2021-01-23 14:39] #160 closed, assigned to anibalsanchez, zero-24, conconnl

[2021-01-23 14:41] JazParkyn commented on #213
Database updated to tinymce as default for users who did have jce as default.

[2021-01-23 14:41] #213 closed, assigned to nobody

[2021-01-23 14:41] anibalsanchez commented on #85
@Llewellynvdm I'm still trying to find the time to implement the new Security Checks for Reviews.

If anyone can also join the effort, feel free to drop me a line to coordinate our efforts.

[2021-01-23 14:42] JazParkyn commented on #208
Fix applied

[2021-01-24 12:31] Llewellynvdm commented on #85
Yes, if you like we can have a call, or you can send me a mail. Just let me know, I will like to help with this for sure!

[2021-01-24 12:53] Llewellynvdm commented on #191
Looks correct to me, since that code results seems to allow you to add more reviews. But okay... if we wanted to instead show them the existing comment in the tab below the [following should work](https://github.com/joomla/jed-dev/blob/develop/public_html/components/com_jed/views/extension/tmpl/default.php#L210):
[code]
But this will not scroll the page down to the comment, just switch the tab...

[2021-01-24 12:54] anibalsanchez commented on #85
@Llewellynvdm Sure, @JazParkyn is also checking the code. The essential idea is replacing the current IP-based checks with hCaptcha/CleanTalk (Tools that Joomla already have available).

[2021-01-25 11:56] Goalfair opened #214 "extensions.joomla.org - you need a different Internet connection"
"extensions.joomla.org" says when visiting "User Profile": Error. Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your desktop IP. To continue, you need a different Internet connection.

These "security checks" seem to be misguided since I am not using any of these.

[2021-01-25 11:58] conconnl commented on #214
You are correct, therefore see:
See: https://github.com/joomla/jed-issues/issues/85#issuecomment-704521240

[2021-01-25 11:58] #214 closed, assigned to nobody

[2021-01-25 16:13] dryabov opened #215 "Softening the requirement to use _JEXEC security in the code (PH2)"
The standard `_JEXEC` guard

    defined('_JEXEC') or die;

was introduced in Joomla! 1.0. At that time OOP wasn't so popular, and most of the files in 3rdparty extensions were messy of includes, function declarations, and actual code. As a result, those files could be used as an entry point, i.e. requested directly and executed. And `_JEXEC` guard effectively solved this kind of issue.

Nowadays,

[2021-01-25 17:19] Llewellynvdm commented on #215
This is not going to happen any time soon as far as I can tell. This is a very basic and simple security measure, and yes it may not always be needed, but it is not really in the way either.

The only exception to this rule is with external libraries. So if you need direct access to a file via CLI or other use this convention:
https://github.com/joomla/joomla-cms/blob/staging/cli/update_cron.php#L

[2021-01-28 13:53] #215 closed, assigned to anibalsanchez

[2021-02-11 20:16] bazza14 opened #216 "Can't login"
I have my login credentials saved in Firefox but your site says they are wrong. So I first tried recovering my user id. I clicked the link, entered my email address, got a "we've sent you an email" message but no such email arrived so I repeated the exercise with the same outcome.

[2021-02-19 11:51] aboarken opened #217 "Joomla Extensions Website Loading Issue"
Joomla extensions website is not loading correctly and it giving error 500 Internal Server Error.

![loading issue](https://user-images.githubusercontent.com/18500882/108500992-ab1d2280-72c1-11eb-9e55-aaa01b002025.png)

![Error 500](https://user-images.githubusercontent.com/18500882/108501116-dacc2a80-72c1-11eb-8d38-34397d33daea.png)

[2021-02-19 12:00] anibalsanchez commented on #217
It works fine from here. Maybe it was a temporary glitch somewhere.

[2021-02-19 12:23] aboarken commented on #217
@anibalsanchez do you think its a CDN caching issue? Its still not loading correctly from my side.

[2021-02-19 13:12] aboarken commented on #217
@anibalsanchez , now its working. Thank you.

[2021-02-20 00:00] Llewellynvdm commented on #217
Happy to hear its resolved.

[2021-02-20 00:00] #217 closed, assigned to nobody

[2021-02-22 14:55] Radek-Suski opened #220 "[jed] Report button doesn't work"
When the user is not logged in and click on the "report" button in a listing nothing happens. Its should apparently show an alert but there seems to be a bug in the JavaScript code.

`Uncaught SyntaxError: missing ) after argument list`

In the code:

`
<a class="btn span12 btn-danger" title="" href="javascript:alert('Please <a href='https://extensions.joomla.org/users-login-form/'>login</a> or <a

[2021-02-23 18:59] Sulpher opened #218 "Wrong charset for Cyrillic symbols"
There is a wrong charset for the field "I used it for" - no Cyrillic symbols are available there. I suppose there is Latin-Swedish charset or something like that instead of UTF-8.

have a look:
<img width="826" alt="Снимок экрана 2021-02-23 в 21 55 52" src="https://user-images.githubusercontent.com/3432048/108893625-5ca1b800-7622-11eb-8a58-8d0b7ff974a3.png">

https://extensions.joomla.org/extensio

[2021-02-23 21:40] Llewellynvdm commented on #218
@Sulpher far as I can tell we are only using [utf8mb4_unicode_ci](https://github.com/joomla/joomla-cms/blob/staging/installation/sql/mysql/joomla.sql#L27) in all our database tables as the Joomla standard. Further more the JED is a English website, and we do not currently target a multilingual implementation.

[2021-02-23 21:40] #218 closed, assigned to anibalsanchez

[2021-02-23 21:48] Llewellynvdm commented on #218
@conconnl  just mentioned to me that it could be fabric that messes things up. We are working on a JED 4 and hope we will have a better outcome there since it will be a native Joomla extension.

[2021-02-24 09:51] Sulpher opened #219 "[improvement] Move My Extensions menu item to My profile"
It is logically to move My Extensions menu item to My Profile since it is related 1st level menu:

<img width="1243" alt="Снимок экрана 2021-02-24 в 12 46 51" src="https://user-images.githubusercontent.com/3432048/108982451-decfc200-769e-11eb-94c9-eadcccf50923.png">

[2021-02-24 09:58] anibalsanchez commented on #219
Hi,

I'm not calling the shots anymore ;-) Let's ask to @Llewellynvdm , the current JED team leader.

[2021-02-24 10:05] Sulpher commented on #219
this issue was automatically assigned to you after I posted it :-)

[2021-02-24 10:06] anibalsanchez commented on #219
Ahh, one more thing to update. ;-)

[2021-02-24 10:11] Sulpher commented on #218
JED is not just English since there is a dropdown list to select a language of the reviews, thus this issue should be fixed or the dropdown list should be removed to avoid misunderstanding.

[2021-02-24 19:02] Llewellynvdm commented on #219
Thanks for this input, and I think it is a great idea, I will share it with the JED team. Can't make any promises... the current layout/design was done before my time. But I am sure there was a good reason for it, and yet in JED4 we will re-valuate all these with the help of a UX experts like yourself. Would you be interested to contribute at that time?

This means that for now I/we are focusing a

[2021-02-24 19:22] Sulpher commented on #219
Thanks for offering, but I am not into volunteering.
Btw, there is a great UI/UX conception for the JED which was suggested a few years ago:
https://ekerlabs.com/blog/the-new-joomla-extensions-directory-concept

I hope to see something similar :-)

[2021-02-26 22:35] #219 closed, assigned to anibalsanchez, Llewellynvdm

[2021-03-25 09:50] brianteeman opened #221 "Install from web missing extensions"
I don't know if this is a JED team issue, a Install from Web plugin issue or what but The install from web plugin is only displaying extensions that are marked as compatible with joomla 4 alpha. It is not including extensions that are marked as compatible with Joomla 4 Beta

To make it even harder to find extensions you will also see that extension on JED are shown with a 4Alpha tag on search view

[2021-03-25 10:28] anibalsanchez commented on #221
IFW is maintained by the Production Team.

There is a server somewhere that reads the JED database and updates the CMS plugin with information. I guess that this proxy service is not updated with the latest version tags.

[2021-03-25 10:44] brianteeman commented on #221
This part is on jed not ifw

[2021-03-25 10:49] anibalhsanchez commented on #221
All the J4 tags are going to be removed/migrated when J4 is finally released.

[2021-03-25 11:11] brianteeman commented on #221
Maybe so but right now it is broken and not working as designed

[2021-03-26 21:06] Llewellynvdm commented on #221
The JED as part of its objectives are planning to rebuild this area, to make use of the new API functions in Joomla4 so there are plans in the works for Joomla 4 (JED4). As for Joomla 3 and the current Web-Install it will be replaced once JED 4 is out. This will still take a while as the volunteers involved are putting all their focus into getting Joomla 4 out the door.

But thank you for the head

[2021-03-26 21:23] Llewellynvdm commented on #221
Let's continue the conversation here https://github.com/joomla/install-from-web-server/issues/58 as the JED4 application will resolve the JED side of the problem, but at the moment the [install from web server](https://github.com/joomla/install-from-web-server) is the place to try and address the current TAG issue mentioned.

[2021-03-26 21:23] #221 closed, assigned to nobody

[2021-03-26 21:30] brianteeman commented on #221
Please do not close this while there is an outstanding issue regarding the JED

[2021-03-26 21:55] Llewellynvdm commented on #220
Thank you once again for brining this issue to our attention.

This issue has been resolved, please let us know if you have any further questions.

[2021-03-26 21:55] #220 closed, assigned to nobody

[2021-03-26 21:57] Llewellynvdm commented on #216
Please let us know if this issue still persist as it seems to be resolved on our side.

[2021-03-26 22:01] Llewellynvdm commented on #206
Please have another go at it... it should be resolved now. Not that we where able to duplicate your error, but we have updated the JED with a few bug fixes over the last few months. So we would like to know if your still having this issue.

Apology for not reaching out to you sooner...

[2021-03-26 22:01] Llewellynvdm commented on #210
Please have another go at it... it should be resolved now. Not that we where able to duplicate your error, but we have updated the JED with a few bug fixes over the last few months. So we would like to know if your still having this issue.

Apology for not reaching out to you sooner...

[2021-03-26 22:03] Llewellynvdm commented on #195
From what I have been able to gather it is controlled in two places, and removing it from the one place does not work, it must be removed from two places. Please let me know in glip if I need to give you more details...

Closing this issue for now, let me know if you think its premature.

[2021-03-26 22:03] #195 closed, assigned to anibalsanchez

[2021-03-29 07:44] bazza14 commented on #216
No it's worse now. It now tells me the email address is invalid. This isn't important enough to warrant spending any more time on. I'll just register again.

[2021-03-30 08:34] toonetcreation commented on #206
sorry but does not work.
I have reseted my password and after login process I get this : http://prntscr.com/10zrrix

[2021-03-30 15:57] Llewellynvdm commented on #216
It could be that the user was removed. So yes creating a new account and let us know if you still unable to finish the registration. Will help if we knew the email and username to more effectively give you support.

These details you can email to jed-support@community.joomla.org and just let me know here that you have done so.

[2021-03-30 15:57] #216 closed, assigned to nobody

[2021-03-30 15:59] Llewellynvdm commented on #206
What area are you trying to view, from what URL does it take you here, or what action.

[2021-03-30 16:00] Llewellynvdm commented on #206
Okay this does no make sense that once you login you get this... will get back to you. But for what its worth please clear your browser cache and try again.

[2021-03-30 16:05] toonetcreation commented on #206
ok works fine, was cache issue.
thanks again

[2021-03-30 16:05] #206 closed, assigned to nobody

[2021-04-03 21:29] forrestkirby opened #222 "User account blocked"
**Describe the bug**

The extensions.joomla.org account for the user name `forrestkirby` seems to be disabled or deactivated. I tried to issue a password reset, but I get the notification “Reset password failed: This user is blocked. If this is an error, please contact an administrator.”

**To Reproduce**

Steps to reproduce the behavior:

1. I navigated to https://extensions.joomla.org/password-r

[2021-04-04 16:39] anibalsanchez commented on #222
@JazParkyn Here we have another case of an inactive account. Do I remove it manually from the system?

[2021-04-10 13:18] marcorensch opened #223 "(not sure) - it looks like i cannot see ticket responses form JED Team"
**ATTENTION: If you have a question or you need to contact the JED Team about an Extension, please, contact us via the JED Ticketing System: https://extensions.joomla.org/profile/**

**Describe the bug**
One of your team members told me (in Facebook) that he has informed my about my ticket and i should check the logs. Unfortunately i cannot see any information at all there. And got no answer on fa

[2021-04-10 15:29] marcorensch commented on #223
i‘ve received another answer in the meantime which is also visible in jed tickets - so i dont know but it looks like there was no issue and i did not receive a message until now...

[2021-04-10 15:29] #223 closed, assigned to anibalsanchez

[2021-04-14 10:25] forrestkirby commented on #222
Hi anibalsanchez, so are you an administrator on the JED and could you please enable or activate or delete my account? Or is this not the right place to ask this question? If so, could you please tell me how I could reach out to a JED admin?

Thank you

[2021-04-14 10:28] anibalsanchez commented on #222
Sorry for the delay, I've just deleted the user. Please, register again.

[2021-04-15 05:20] forrestkirby commented on #222
Thank you very much!

[2021-04-15 05:20] #222 closed, assigned to anibalsanchez, Llewellynvdm, JazParkyn

[2021-04-23 10:28] brianteeman opened #224 "Pagination"
Select the "Compatible with Joomla 4 Beta" menu item and try to navigate to page 2, 3 etc

The first pagination works but after that you are just returned to the home page

[2021-05-05 18:12] anibalsanchez commented on #85
UPDATE: I've completed the implementation of the new security checks for reviews. It's one step closer to be finally resolved. Now, we need to test it on stage and implement it on the live site.

[2021-05-12 12:26] JORGEPOLO opened #225 "joomlaux"
web joomlaux : error 500

[2021-05-15 19:22] himanshu007-creator commented on #224
Yes @brianteeman , i was going to open same issue, i was looking for an extension that require a download key to update for
<code><a href="https://github.com/joomla/joomla-cms/issues/33698">this</a></code> issue. Please suggest such extension.
Thanks.

[2021-05-17 11:01] anibalsanchez commented on #224
Hi,

The plan is to remove this menu item once J4 is released. It was published at the time Joomla published the initial J4 Alpha and Beta versions as a temporary way to give visibility to the new extensions for Joomla 4.

Now, the list of J4-compatible extensions has 39 pages, so it makes no sense to keep it and the whole directory is moving to support extensions for J3 & J4.

What do you think @

[2021-05-28 11:08] toonetcreation opened #226 "unable to write a review"
hi,

I'm not able to write a review for joomshaper sp page builder
see here : http://prntscr.com/12u5168

thanks

[2021-05-28 13:14] mfleeson commented on #226
hi
What is your registered user name on the extensions site?

[2021-05-28 13:18] toonetcreation commented on #226
username is : toonetcreation

[2021-07-19 13:24] pjdevries opened #227 "Underscores in an url contained in the description of a submission get removed"
**Describe the bug**
Underscores in an url conatined in the description of a submission get removed.

**To Reproduce**
Take a look at 'Edit Obix Class Extender'. Its description contains the following url: https://github.com/pjdevries/`
plg_system_classextender/blob/master/README.md. The url looks good in both editor and preview mode. On the JED page (https://extensions.joomla.org/extension/obix-c

[2021-08-03 10:41] coolcat-creations opened #228 "Hard to recognize Free vs paid extensions"
I think free extensions were once green but they are orange now like the others:
That makes it hard to recognize them
![grafik](https://user-images.githubusercontent.com/828371/128002488-b65a67df-abd9-4017-8b33-88fb708b6c9e.png)

[2021-08-04 14:01] Llewellynvdm commented on #228
I am not sure why that was changed.

Will ask the team if they changed that for a reason or by accident.

[2021-08-04 14:04] Llewellynvdm commented on #227
@anibalsanchez this seems to be part of the JED that you are more familiar with. Can you tell us why this happens?

[2021-08-04 14:13] Llewellynvdm commented on #226
The current JED at times have a session issue which we have opt not to try and fix, since we are planning to move the whole JED to Joomla 4 and therefore a complete new component is being build. For most of us we don't have this issue... and so it may help to use another browser like Firefox, and you may need to logout clear your cache of your browser, log back in... browse around to make sure you

[2021-08-04 14:13] #225 closed, assigned to nobody

[2021-08-04 14:36] toonetcreation commented on #226
ok thanks for the feedback.
L.

[2021-08-04 14:56] anibalsanchez commented on #227
Not sure. It seems that the routine that cleans the markdown mistakenly changes the URLs in the description.

Please, note that URLs/links are not supported in the extension description. The only supported URLs/Links are the ones on the right sidebar.

[2021-08-04 15:00] anibalsanchez commented on #228
On the general site, the free extension tag is a `label label-success` and the paid extension tag is a `label label-warning`. Please, check it here: https://extensions.joomla.org/browse/top-rated/

However, in the search results they are not using the same style: https://extensions.joomla.org/instant-search/?jed_live%5Bquery%5D=youtube

It looks like a bug in the search results rendering.

[2021-08-05 05:07] Llewellynvdm commented on #227
So this this means @pjdevries should just refrain from using URL's in the description. Thank you @anibalsanchez for the clarity on this. I will close this issue, @pjdevries let me know if you have any further questions. Please keep in mind that the JED is being rebuild as we speak and we will aim to handle this better in the future.

[2021-08-05 05:07] #227 closed, assigned to anibalsanchez, Llewellynvdm

[2021-08-05 05:12] Llewellynvdm commented on #226
I will close this issue, and if you would like to pick it up again. you are very welcome to reply on the closed issue and if needed we will open it back up.

[2021-08-05 05:12] #226 closed, assigned to anibalsanchez, Llewellynvdm

[2021-08-05 05:15] Llewellynvdm commented on #139
@JazParkyn since you are taking lead on the JED4 development, will these designs form part of the front-end. @mfleeson have you looked over these.

I would like to know what to do with this issue?

[2021-08-05 05:29] #210 closed, assigned to nobody

[2021-08-05 05:30] #191 closed, assigned to nobody

[2021-08-05 09:45] mfleeson commented on #139
@Llewellynvdm I saw them when I first started and they're very pretty. Could we ask them to supply us with the css styling/coding they used to make the mockup. It would save us a lot of time when we come to developing the front-end.

[2021-08-06 17:01] Hackwar opened #229 "Extension Quality indicators"
In a discussion I talked about quality indicators for extensions. The background wasn't so much to force developers to adopt something, but to give users an idea about the core integration and which core features the extension supports. The following information could be collected from an extension with the options "Yes", "No" and "Does not apply" and could then be displayed with badges in the lis

[2021-08-20 15:48] sanus70 opened #230 "JED Ticket System broken"
Unable to create a new ticket, caus the page only shows an error.

![jticket](https://user-images.githubusercontent.com/43116794/130259505-fe0cb2a6-05bb-4de4-8ae6-e9957a9e54cb.png)

[2021-08-21 00:32] Llewellynvdm commented on #230
@sanus70 thank you for reporting this.

We are looking into it, and will let you know soon as we have this resolved.

[2021-08-21 14:26] Llewellynvdm commented on #230
Okay @sanus70 the ticket system is up again, thanks again for your help in reporting the issue. Let us know if you have any further issues.

[2021-08-21 14:26] #230 closed, assigned to anibalsanchez

[2021-09-04 16:57] Sulpher opened #231 "Add text note with example usage below Video param"
Hello,
Adding a new product is an important part for each developer who want to get their extension to be listed at the JED.
And it would be good to add a video to the product page.
However, the usage example is not clear.

I suggest adding a note from the Video param tooltip at the "suggest a product" page:
https://extensions.joomla.org/add-an-extension/extension/edit/

<img width="1402" alt="Сни

[2021-09-05 08:56] Llewellynvdm commented on #231
Good question, just that we are **no longer doing any changes to JED3** unless security related. So only security updates excepted at this point on JED 3.

Since we are working on [JED4](https://github.com/joomla/com_jed4) where you will be able to also contribute directly. We need your help... so please start looking over the new JED4 and make our contributions there.

[2021-09-05 08:56] #231 closed, assigned to anibalsanchez

[2021-09-05 08:58] Llewellynvdm commented on #228
Only security updates excepted at this point on JED 3, or major bugs...

Since we are working on [JED4](https://github.com/joomla/com_jed4) where you will be able to also contribute directly. We need your help there... so please start looking over the new JED4 and make our contributions there.

[2021-09-05 08:58] #228 closed, assigned to nobody

[2021-10-09 13:17] stevejburge opened #232 "Make Joomla 3 and Joomla 4 comptability clearer"
My first reaction to this was "oh no, another one of those reviewers"

But honestly, this could be an area we need to improve the JED's usability? That "J3" box is tiny and unclearr
![Screen Shot 2021-10-09 at 9 10 08 AM](https://user-images.githubusercontent.com/3868028/136659292-d4ddca0a-ee89-4759-9454-d19e2204047f.png)

[2021-10-09 14:10] anibalsanchez commented on #232
Hi Steve, the team is managed by @Llewellynvdm .

The new JED4 is on horizon. So, this issue is probably a won't fix.

[2021-10-09 17:13] Llewellynvdm commented on #232
We have volunteers behind a [ticket system](https://extensions.joomla.org/support/support-tickets?subject=Extension%20Report&department_id=2&extension-id=11974&extension-name=Google%20Structured%20Data) where these issue must be reported. The don't follow this repositories issues, and will not respond here.

I agree this review is incorrect, and must be reported either by the extension developer o

[2021-10-09 17:13] #232 closed, assigned to anibalsanchez, Llewellynvdm

[2021-10-29 05:15] junbernardo opened #233 "Cannot log in my account"
Dear Sir/Maam:

I am trying to log in my account to leave a review for an extension. But it is asking for a secret key that I cannot recall.

I know my username and password are correct. I used the forgot username and password link to verify that. But none gave me the key.

What should I do?

Thank you so much.

Regards.

[2021-10-29 22:25] Llewellynvdm commented on #233
Hi, you please give me your username? so I can take a look? you can email it to me at llewellyn[dot]van-der-merwe[at]community[dot]joomla[dot]org

[2021-11-18 12:59] miamicityman commented on #85
Hello everyone. It's November 18 - 2021, and was about to leave a review when same error appeared.

I'm on a clean windows install, regular lan network, no vpn.

- "Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your internet router's public IP address. To continue, you need a different Internet connection."

Maybe reviews are over rated

[2021-11-26 16:47] Estacey19 opened #234 "Cannot Login to Joomla Extension Directory Site"
I'm brought here by trying to 'report a problem' with the JED.   I have an account there.. verified, etc.. etc..   However, when I try to log in it keeps telling me My password and/or username is wrong.   the Login is 'asking' me for a 'SECRET KEY' or some such thing.. which I have never had to enter before..   and have no idea how to get past that.

[2021-11-26 17:28] Llewellynvdm commented on #234
This sounds weird, we can't just go and remove those security measures. For the safety and sanity of all we will need an email request from the same email address as the account, to whom we will forward the needed steps to resolve the issue.

[2021-11-28 01:55] mgilkes opened #235 "Unable to upload file to JED"
Hi. I was just trying to update my extension to the latest release on my JED listing. When trying to upload the new release file, I get an error message saying "Failed to move uploaded file". Check the screenshot. Thanks.
<img width="1381" alt="JED-upload-failed" src="https://user-images.githubusercontent.com/6433533/143725945-79b21ec0-4ea3-478a-84ff-943ab66d0581.png">

[2021-11-28 02:42] Llewellynvdm commented on #235
Hi @mgilkes thanks for reporting this, we moved the JED to new hardware Yesterday. We will during this coming week iron out any issue like these. Will keep you posted.

[2021-11-30 14:08] Carl1991 commented on #85
November 30 - 2021
Issue still persists
I'm on a home connection without any vpn/proxy

[2021-11-30 14:38] Llewellynvdm commented on #85
Can you please give use a screenshot of this error... Since I am not able to reproduce the issue I can't debug it.

[2021-11-30 14:41] Llewellynvdm commented on #234
Hi @Estacey19 I have replied to your email, and I am sure we can now get this resolved... in the email conversation.

[2021-11-30 14:41] #234 closed, assigned to nobody

[2021-11-30 14:41] #233 closed, assigned to nobody

[2021-11-30 15:56] mbennett417 commented on #85
Here's a typical false positive.  I am logged in.  I'm not using a VPN or IP masking service (not sure what that would be, something
like Tor?).  This has been happening for years.

==
Mark Bennett
Clarity Software Systems
(417) 864-4404

[2021-11-30 19:40] Carl1991 commented on #85
as requested:
![jed-false-positive](https://user-images.githubusercontent.com/6074729/144116159-6bd280d3-a6f0-4eba-988b-6a182f4af041.jpg)

[2021-11-30 19:42] miamicityman commented on #85
This is exactly what I get as well.

On Tue, Nov 30, 2021 at 2:41 PM Carl1991 ***@***.***> wrote:

--
Max Jaramillo
City of Miami, USA

[2021-11-30 20:50] Estacey19 commented on #234
All is well now.. thank you for your help!
Edward

[2021-12-02 09:35] GeraintEdwards opened #236 "Lots of pages are blank"
**ATTENTION: If you have a question or you need to contact the JED Team about an Extension, please, contact us via the JED Ticketing System: https://extensions.joomla.org/profile/**

**Describe the bug**
A clear and concise description of what the bug is.

Many pages on JED are blank today e.g. https://extensions.joomla.org/extension/calendars-a-events/events/jevents/ or https://extensions.joomla.

[2021-12-02 10:25] anibalsanchez commented on #236
I've reported the issue also to the webmaster's team: https://github.com/joomla/joomla-websites/issues/1693

[2021-12-02 11:30] Llewellynvdm commented on #236
Thank you for reporting this issue, we are investigating it...

[2021-12-02 12:09] Llewellynvdm commented on #236
So at this point the only issue I found was old cronjobs on the old server, these I have now removed (they where calling the same systems). All pages seems to now load correctly. I am not seeing any errors in the Normal Joomla Error logs...

Will continue to keep an eye on things.... but the pages mentioned in this post seems to be up again and working as expected. I will therefore close this issu

[2021-12-02 12:11] Llewellynvdm commented on #235
Can you please try again... as this seems to be resolved now. Can you confirm this?

[2021-12-02 12:23] GeraintEdwards commented on #236
Thanks for your help on this one! On 2 Dec 2021 12:09, "<<ewe>>yn" ***@***.***> wrote:
So at this point the only issue I found was old cronjobs on the old server, these I have now removed (they where calling the same systems). All pages seems to now load correctly. I am not seeing any errors in the Normal Joomla Error logs...
Will continue to keep an eye on things.... but the pages mentioned in th

[2021-12-03 13:11] mgilkes commented on #235
Hi @Llewellynvdm. I just tried to upload again, but I get the same error. Thanks for following up. I hope you can sort it out soon. The file I am uploading is about 2.7MB.
<img width="1241" alt="Screen Shot 2021-12-03 at 9 04 33 AM" src="https://user-images.githubusercontent.com/6433533/144607670-ab543790-8ffb-4759-8e36-91ae3b20a721.png">

[2021-12-05 03:09] Llewellynvdm commented on #235
Okay our team has been testing this, and after a week we are still not seeing this error. Can you try another browser, and or computer? Or just try clearing you browser cache?

Apologies for any inconvenience, but I would really like to get to the bottom of this, and make sure it gets resolved some how.

[2021-12-05 04:41] mgilkes commented on #235
Hi. OK, I just tried it in Chrome, but I decided to try it with two different zip files. One is the UNZIPFIRST zip file, that contains the editions of my extension for Joomla 3.10 and 4.0. The other is only the zip file that relates to Joomla 4.0. The size difference between the files is that the first is 2.7MB and the second is 552KB. (The 4.0 edition is smaller since I removed some image files f

[2021-12-07 17:13] joeforjoomla opened #237 "[3.x][4.x] Install from Web/JED issue"
### Steps to reproduce the issue
Open the install from web both on Joomla 3 and Joomla 4

### Expected result
All extensions are loaded and displayed correctly

### Actual result
Images are randomly not loaded with a 404 code (see screenshots)

### Additional comments
Is someone going to fix this issue that happens since several days? Nobody seems to take care of this issue. What a shame.
![jed_er

[2021-12-07 17:20] alikon commented on #237
randomly unable to  replicate
:smile:

[2021-12-07 17:24] joeforjoomla commented on #237
@alikon if you open the Install From Web you see it

[2021-12-07 17:40] alikon commented on #237
i did that
![Screenshot from 2021-12-07 18-39-14](https://user-images.githubusercontent.com/181681/145079097-0a82c96c-334e-4de9-9326-54950c094449.png)

[2021-12-07 17:44] alikon commented on #237
sorry understood now
![Screenshot from 2021-12-07 18-43-08](https://user-images.githubusercontent.com/181681/145079700-f0acb6b5-8c1a-44b1-a942-41787cfbefb4.png)

[2021-12-07 19:12] joeforjoomla commented on #237
Thanks @alikon
Can you please report/help to solve this issue to someone that has control over it.

[2021-12-07 19:21] zero-24 commented on #237
This github issue has been reported to the JED already.

[2021-12-07 19:26] Llewellynvdm commented on #237
Hi @joeforjoomla we do care :+1: and we are always grateful if someone catch something we missed.

I will take a look and get back to you!

[2021-12-07 19:26] zero-24 commented on #237
As requested by @Llewellynvdm this has beeen moved to the jed-issues repo.

[2021-12-07 20:36] joeforjoomla commented on #237
Many thanks @Llewellynvdm ! i hope this will be fixed soon.

[2021-12-09 08:08] hvdmeer commented on #236
I received a report via our Twitter account that JED still is having issues and serving blank pages. Should I create a new issue or can this one be opened again?

Original tweet: https://twitter.com/HidetoOshima/status/1468814876131102723
For example extension page not opening: https://extensions.joomla.org/extension/style-a-design/modules-management/advanced-module-manager/

[2021-12-09 08:51] anibalsanchez commented on #236
@Llewellynvdm Confirmed. There are still blank pages.

[2021-12-09 19:10] joeforjoomla commented on #237
@Llewellynvdm is there any update on this issue? We still have images of our extensions not visible. Thanks

[2021-12-09 22:15] Llewellynvdm commented on #236
We are having issues with the image cashing system of Fabric (custom build) for JED3 (the current JED). While we are trying to make sure that the site remains stable, we find that at times the memory footprint goes ballistic... we are stuck on PHP 7.2 and much more pain... While we are working on the JED4 the issue continues...

So yet again we have increased the memory and other tweaks, and it se

[2021-12-09 22:16] #236 closed, assigned to Llewellynvdm, JazParkyn

[2021-12-09 22:21] Llewellynvdm commented on #237
I have been fighting [other fires](https://github.com/joomla/jed-issues/issues/236#issuecomment-990338514) on the JED today (took my whole afternoon, while I had other pressing matters around deadlines for my own clients).

Never the less I have been asking around in the various teams for advice around this issue. There is not yet any clear path to resoling the issue, but we are working on it.

Wo

[2021-12-10 08:53] joeforjoomla commented on #237
@Llewellynvdm joining the JED team to contribute would be nice :)
I hope the issue will be sorted out soon.

[2021-12-10 17:37] Llewellynvdm commented on #237
@conconnl fixed the DNS issues, and it seems like this issue is now resolved. Thanks @conconnl !

@joeforjoomla about joining the JED, what area would you like to contribute? There are several areas:

- Reviews
- Extension Listing
- Tickets
- Forum
- Maintenance
- - JED Extensions
- - JED3 Website
- Building JED-4

If you would seriously like to continue this conversation, please email me at llewe

[2021-12-10 17:37] #237 closed, assigned to Llewellynvdm

[2021-12-16 20:19] PhilETaylor opened #238 "Broken link to error codes"
Broken link documented here https://forum.joomla.org/viewtopic.php?f=262&t=990655

[2021-12-17 09:14] anibalsanchez commented on #238
@Llewellynvdm Please, check PR #641

[2021-12-17 11:12] Llewellynvdm commented on #238
Thanks, noted and fixed.

[2021-12-17 11:12] #238 closed, assigned to Llewellynvdm, JazParkyn

[2021-12-19 16:04] mgilkes commented on #235
Just a quick update. I was able to finally upload the file without error. Thanks for fixing this.

[2021-12-19 16:04] #235 closed, assigned to nobody

[2021-12-20 08:09] Aleksius-com opened #239 "MicroBread page is broken"
Hello. Something went wrong on this page https://extensions.joomla.org/extension/microbread
![1](https://user-images.githubusercontent.com/32699734/146733781-273bceab-2d19-43d8-a5a2-22cfc726acc2.PNG)
/

[2021-12-30 13:17] dgrammatiko opened #240 "[Feature Request] Allow JSON feed to drive the JED entries"
**ATTENTION: If you have a question or you need to contact the JED Team about an Extension, please, contact us via the JED Ticketing System: https://extensions.joomla.org/profile/**

**Describe the bug**
This is a Feature request not a bug!!!

- The request is to add in the submit form a text input for a URL (returning a JSON response)
- The URL (once and if the extension is approved) will be chec

[2022-01-06 04:37] Ben9062 opened #241 "Can't log in to Joomla! extensions directory"
Created an account ? to https://extensions.joomla.org.
It appears my email is locked, the site had asked for a secret key which I never received and now I want to post a review of RentaloPlus - an excellent component.
Help !!

[2022-01-07 03:15] Llewellynvdm commented on #241
This sounds weird, we can't just go and remove those security measures. For the safety and sanity of all we will need an email request from the same email address as the account on the JED, to whom we will forward the needed steps to resolve the issue.

[2022-01-07 06:49] Ben9062 commented on #241
Thanks for the reply, I managed eventually to register and then create a review which was the underlying issue with another account.

All good now

Regards

Ben

[2022-01-07 10:23] Llewellynvdm commented on #241
Ben you should refrain opening multiple accounts as this is against the JED terms of service.

Good that you got this resolved, until next time take care!

[2022-01-07 10:23] #241 closed, assigned to nobody

[2022-01-10 10:06] brianteeman opened #242 "Report an issue language string"
On top of the report an issue form there are three bullet points. The one in red says

it should be

[2022-01-11 03:44] toivo opened #243 "Broken link in unpublished message"
**Describe the bug**

If an extension has been unpublished, the link 'view error codes' is presented as https://extensions.joomla.org/support/knowledgebase/item/unpublished-extensions-error-codes/
but clicking that link results in a blank page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Tag Meta at https://extensions.joomla.org/extension/tag-meta/
2. Click on 'View error codes'

**

[2022-02-06 11:54] brianteeman opened #244 "Reference to joomla 4 alpha"
**Describe the bug**
Wrong language string for j4

**To Reproduce**
view the source of any extension that is displaying the J4 badge
`<span title="Compatible with Joomla! 4 Alpha" class="badge badge-40"><span class="icon icon-joomla"></span>J4</span>`

**Expected behavior**
No reference to Alpha

**Screenshots**

[2022-02-11 00:35] Llewellynvdm commented on #244
Fixed, thanks! the update should merge upstream in a day or so.

[2022-02-18 11:46] toivo commented on #243
**Update and New Test URL**
Tag Meta was mentioned earlier but now it is been published.  Check the following unpublished extension instead:

DD Google Analytics (EU Privacy) at https://extensions.joomla.org/extension/site-management/analytics/dd-google-analytics-eu-privacy/

[2022-02-22 01:25] openexcel opened #245 "View error code - link error"
When I clicked on the link text "View error codes" on this page:
https://extensions.joomla.org/extension/access-a-security/site-security/jhackguard
the url link is to
http://extensions.joomla.org/support/knowledgebase/item/unpublished-extensions-error-codes

That page is blank and the correct url is:
https://extensions.joomla.org/support/knowledgebase/error-codes/submission-error-codes

[2022-02-22 13:29] toivo commented on #245
This is the correct URL:
https://extensions.joomla.org/support/knowledgebase/error-codes/unpublished-extensions-error-codes/

This issue was reported on 11 January at https://github.com/joomla/jed-issues/issues/243 and it was first reported two months ago at https://forum.joomla.org/viewtopic.php?f=262&t=990655

[2022-02-22 14:05] Llewellynvdm commented on #243
Here we fixed it months ago...
![Untitled](https://user-images.githubusercontent.com/5607939/155147367-0a98a477-8d49-42fd-b062-74fada872d0d.png)
![image](https://user-images.githubusercontent.com/5607939/155147235-5b9bbd0c-1f74-4ba0-b750-da868b9bf6d6.png)
![image](https://user-images.githubusercontent.com/5607939/155147098-29df37d6-35e2-47b6-954e-de0071df4a5d.png)

Why the systems which moves this

[2022-02-22 14:07] #245 closed, assigned to nobody

[2022-04-13 11:23] sakiss opened #246 "Passing 2 fa after changing device"
How can i login after changing my device and my authenticator app, when the 2 factor authentication is enabled?

I cannot bypass the secret key field.

[2022-05-04 17:03] 888Jay commented on #85
Exact same issue. Can't write a review. Also note that I was already logged in to JED.
Win 11 > ASUS router > AT&T fiber modem. No IP masking, no VPN, no server. Just vanilla DHCP out of the box set up.

![Screenshot 2022-05-04 112354](https://user-images.githubusercontent.com/45702513/166740779-d9ea7f0c-94e9-447a-b588-3372d85402ac.jpg)

[2022-05-04 17:52] 888Jay commented on #85
Just for giggles I tried posting a review after installing a VPN. It worked! LOL

[2022-05-04 19:23] mbennett417 commented on #85
Last week I was able to post a review in Extensions for the first time in years. I just assumed it had all been fixed. I have three different VPN clients installed on my system.  Cisco and Sonicwall for many years, and Fortinet for a couple of years.  I don't think simply having the software installed on a Windows PC would make a difference, but none of this really makes sense.

[2022-05-04 21:00] 888Jay commented on #85
@mbennett417 To be clear, it worked after I installed _and connected_ through NordVPN.

[2022-05-06 04:46] brianjshin opened #247 "Delete Bizible Extension"
Hi,

We are trying to deprecate the Bizible plugin and remove it from the Wordpress Plugins page: https://extensions.joomla.org/extension/bizible/

Unfortunately, this component hasn’t been touched for years and the owners of the admin have left the company, so we are not able to do it ourselves.

What is the process for deleting a plugin? Please let us know what we can provide from our end.

Bizi

[2022-05-10 12:49] Chacapamac opened #248 "Reviewing extensions not working, asking back for login after each submit?"
I was redirect here after my Joomla Forum post on the problem —> https://forum.joomla.org/viewtopic.php?f=262&t=993646#p3659620

Trying to review an extension doesn't work?

**Steps by Steps**
- I logged in
- Make my review
- Submit

**Always come back to this:**
![Uploading login.jpg…]()

**I remark that error in the console, maybe related?**
_Note: This error appear on the first page of the exte

[2022-05-12 16:06] JoeJoomla opened #249 "LInks From Extensions Directory For '√ Uses Joomla! Update System' Leads To White Screen"
In the Joomla Extensions Directory when on any extension review page, if you click the link '√ uses the Joomla! Update System' it leads to a white page.

The link is [https://extensions.joomla.org/support/knowledgebase/item/joomla-update-system-requirement/](https://extensions.joomla.org/support/knowledgebase/item/joomla-update-system-requirement/)

Anything after [https://extensions.joomla.org/su

[2022-05-14 12:39] Chacapamac commented on #248
Try again Today — I cannot rate extensions, bad for extensions provider, bad for Joomla...
I come back here after each submit....
![back-to-login](https://user-images.githubusercontent.com/1907276/168426039-27ac98db-b5bc-44af-8852-4867ec3519b9.jpg)

[2022-05-20 07:46] Taz-1999 opened #250 "JED Error codes?"
Hi!

On this page:
[Slide Show F5
](https://extensions.joomla.org/extension/slide-show-f5/)

There is a link to JED Error codes. That link leads to a empty page:
http://extensions.joomla.org/support/knowledgebase/item/unpublished-extensions-error-codes

/Ola

[2022-06-10 21:49] Chacapamac commented on #114
Happen to me for almost a year now on ALL extensions I try to review — Really annoying and REALLY bad for the developers.

**Firefox, Chrome same behaviour**
— https://extensions.joomla.org/extension/jux-content-slider/
— Boutons Reviews link is https://extensions.joomla.org/write-review/review/add?extension_id=9294
— when click “Error not found” and back to https://extensions.joomla.org/

**In Fi

[2022-06-29 14:17] protegh opened #251 "DJ-MegaMenu Light Download Link "broken""
The Download Link https://extensions.joomla.org/extension/dj-megamenu-light/ for the Version 4.3.5 of the DJ-MegaMenu Light extension goes to https://dj-extensions.com/dj-megamenulight but on this page one gets old Version 4.3.3 when clicking on the "Download" button.

[2022-08-12 07:17] Jadzia opened #252 "No secret key"
I’m unable to log into the extension site as it requests a secret key but nothing to help me create one.

[2022-08-13 13:18] jschmi102 opened #253 "JED checker error whitespace in the language key"
I've considered to offer my extension, which runs since joomla 3.0 now also with joomla 4.2RC1 without any problems. to the JED. So I ran a check with JED-Checker and I was quite surprised that the checker qualified  my extension to be in error caused by "whitespace in the language key".
But first let me explain why my extension is using white spaces in language keys with Joomla's very powerful mu

[2022-09-11 15:28] gersteba opened #254 "Posting a review is not possible"
Posting a review is not possible (see screenshot).

**Desktop:**
 - OS: Windows 11 Pro
 - Browser: Chrome, Firefox (current versions)

**Additional context**
I was signed in before I clicked 'Write a review'.
Immediately after clicking the button, I get the messages you see in the screenshot.

<img width="542" alt="JED Review" src="https://user-images.githubusercontent.com/12512224/189535811-2f9a6

[2022-09-13 14:12] graebeerd opened #255 "Can not review an extension"
When logged in under the user name wickerbill on the JED, it throws the following error.

Security checks determined you may be using an IP masking service, a VPN or a server is actively running on your internet router's public IP address. To continue, you need a different Internet connection.

BUT, I AM NOT behind a firewall or masking my IP address. I'm connected with Suddenlink/Optimum out of s

[2022-09-27 20:47] MickPOWR opened #256 "Server time out"
Having a major problem. Several weeks ago, as I was updating our app listings, I got a server timeout notice.
It persisted for several days. I had other POWR employees test on their machines and it worked perfectly fine for them, so I thought it was a problem with my internet service or my home router. I bought a new router and it worked for one day then I received the timeout warning again, and I